<div class="">
    <h2>Radio Configuration - Ubitx V6</h2>

    <div i18n="cannotaccessradio" class="alert" *ngIf="!radio">Alert: Cannot access radio<br/></div>
    <div >
    <!--<div>-->
        <form *ngIf="radio">
            <div >

            
            <p><span >VFO - Frequencia: </span>  {{frek}} kHz {{radio.mode}}</p> 
            <p><span>BFO (Beat Freq Osc):</span> {{radio.bfo}} Hz </p>
            <p><span>FWD - Potência direta  : </span>{{radio.fwd}}  </p>
            <p><span>REF - Potência refletida: </span>{{radio.ref}} </p>
            <p><span>Limiar da proteção refletida: </span>{{radio.refthresholdv}} V ({{radio.refthreshold}}/1023) </p>
            <p><span>Mastercal: </span>{{radio.mastercal}}</p>
            <p><span>Serial Number: </span>{{radio.serial}} </p>
            <div *ngIf="radio.led" >LED de status: on </div>
            <div *ngIf="!radio.led" >LED de status: off</div>
            <div *ngIf="radio.protection" >protection: ON</div>
            <div *ngIf="!radio.protection" >protection: OFF </div>
            <div *ngIf="bypass" >bypass: ON - ligado</div>
            <div *ngIf="!bypass" >bypass: OFF - desligado</div>
            <div *ngIf="radio.tx" >Modo de operaçao: TX </div>
            <div *ngIf="radio.rx" >Modo de operaçao: RX </div>
            <div >TXRX: {{radio.txrx}}</div>
            <div>gerador de tom: {{radio.testtone}} </div>
        </div>
            <div class="radio selectors" >
                <div class="row">

                <br/>
                <form #fptt="ngForm" class="formdata field"   >
                    <p><span >PTT:</span></p>                    
                    <button type="submit" name="ptt" value="ON" *ngIf="radio.rx" (click)="changePtt('ON')" >Ligar ptt</button>
                    <button type="submit" name="ptt" value="OFF" *ngIf="radio.tx" (click)="changePtt('OFF')" >Desligar</button>
                </form>

                <form #fbypass="ngForm" class="formdata field"   >
                    <p><span >ByPass:</span></p>
                    <button name="bypass" value="true" [hidden]="bypass" (click)="changeByPass('ON')" >Ligar bypass</button>
                    <button name="bypass" value="false" [hidden]="!bypass" (click)="changeByPass('OFF')" >Desligar</button>
                </form>

                <form #fled="ngForm" class="formdata field"   >
                    <p><span >Led:</span></p>
                    <button name="bypass" value="true" [hidden]="radio.led" (click)="changeLed('ON')" >Ligar led</button>
                    <button name="bypass" value="false" [hidden]="!radio.led" (click)="changeLed('OFF')" >Desligar</button>
                </form>

                <form #ftesttone="ngForm" class="formdata field"   >
                    <p><span >Tom de teste:</span> <span> {{radio.testtone}}</span></p>
					
                    <div *ngIf="!toneOn">
                        <button name="testtone" value="600" (click)="testTone(600)">600hz</button>
                        <button name="testtone" value="1500" (click)="testTone(1500)">1500hz</button>

                    </div>

                    <div *ngIf="toneOn">
                        <button name="testtone" *ngIf="toneOn " value="0" (click)="testTone(0)">desligar</button>
                        <button name="testtone" [hidden]="testtone=='600'"  value="600" (click)="testTone(600)">600hz</button>
                        <button name="testtone" [hidden]="testtone=='1500'" value="1500" (click)="testTone(1500)">1500hz</button>
                    </div>
					
                </form>

            </div>

                

            </div>
            <div class="radio" *ngIf="radio">

                <form *ngIf="radio" #fmode="ngForm" class="formdata field" >
                    <p><span >Radio mode: {{radio.mode}}</span></p>
                    <button class="midbt" type="submit" (click)="changeMode(fmode)" [disabled]="fmode.invalid" >change mode</button>
                    <label><input class="inl" type="radio" name="mode" [(ngModel)]="mode" value="USB" [checked]="radio.mode=='USB'" >USB - Modulaçao em Banda Superior </label>
                    <label><input class="inl" type="radio" name="mode" [(ngModel)]="mode"  value="LSB" [checked]="radio.mode=='LSB'">LSB - Modulacao em Banda Inferior </label>
                </form>

                <form #ffreq="ngForm" class="formdata field"   >
				<p><span >VFO - Radio frequency: {{frek}} kHz</span></p>
                    <button class="midbt" (click)="changeFrequency(ffreq)" [disabled]="ffreq.invalid" >change frequency</button>
                    <input type="number" [min]="freqmin" [max]="freqmax" class="midbt" name="frek" [(ngModel)]="frek" value={{frek}} >
                </form>

                <form #frefthresholdv="ngForm" class="formdata field"  *ngIf="radio" >
                    <p><span >Limiar de proteção:</span> {{radio.refthresholdv}} V (0-5 V)</p>
                    <button class="midbt" (click)="changeRefThresholdv(frefthresholdv)" [disabled]="frefthresholdv.invalid" >change threshold</button>
                    <input type="number"  class="midbt" name="refthresholdv" [(ngModel)]="radio.refthresholdv" value={{radio.refthresholdv}} >
                </form>
               
                <form #fbfo="ngForm" class="formdata field" novalidate  >
                    <p><span i18n="@@bfobeatfreq">BFO beat frequency oscillator:</span> </p>
                    <input type="number" class="midbt" name="bfo" value={{radio.bfo}} [(ngModel)]="radio.bfo" >
                    <button class="midbt" type="submit" (click)="changeBfo(fbfo)" [disabled]="fbfo.invalid" i18n="changefreq">change bfo</button>
                </form>

                <form #fmaster="ngForm" class="formdata field" novalidate>
                    <p><span i18n="@@mastercall">mastercal:</span> </p>
                    <input class="midbt" name="mastercal" [(ngModel)]="mastercal" value={{radio.mastercal}}>
                    <button class="midbt" type="submit" (click)="changeMasterCall(fmaster)" [disabled]="fmaster.invalid" i18n="changefreq">change mastercall</button>
                </form>

            </div>

            <hr>
            
            <button *ngIf="radio.protection" (click)="resetProtection()">reset protection</button>
            <br/>

          <!--  <button i18n="@@resettodefault" (click)="resetRadio()">reset to default</button>-->
        
            <div class="overall alert" *ngIf="errorAlert==true">
                <div class="cv" >
                    <span>There was an error on changing configuration <br/><br/></span>
                    <span>{{error}}</span>
                    <div class="icon" ><a (click)="closeError()" >
                        <img title="compose" src="assets/svg/x.svg"></a>
                    </div>
    
                </div>
            </div>

            <div class="overall alert" *ngIf="!reseting==false">
                <div class="cv" >
                    <span > Are you sure you want to reset the radio to the default configuration?
                        <br/>
                        <br/>
                    </span>
                    
                    <span class="icon" ><a (click)="confirmReset()" >
                        <button >cancel</button></a>
                    </span>
                    <span class="icon" ><a (click)="resetRadio()" >
                        <button >reset</button></a>
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>
