<!-- <div class="alert" i18n="nomessage" *ngIf="noMessage">Alert: cannot access this message<br /></div> -->
<div *ngIf="message" class="messages">
    <h3><span *ngIf="message.secure"><img class="inlineicon" src="assets/svg/lock.svg" /></span>
        {{message.name}}</h3>
    <div class="formdata" *ngIf="message.secure && !uncrypted">
        <p i18n="@@encryptedmessage">Encrypted message, type the password:</p>
        <p class="alert" *ngIf="wrongPass" i18n="@@ewrongpassword">wrong password, please try again</p>
        <form #e="ngForm" id="secureform" novalidate>
            <input name="pass" type="password" ngModel required>
            <button type="submit" class="m-t-10" (click)="sendPassword(message.id,e)" i18n="@@verifyPswd">submit</button>
        </form>
    </div>
    <!--
    <div class="blobber">
        <div class="tx">decoding message...</div>
      <div class="square"></div>
    </div>
    -->
    <div class="date"></div>
    <div class="messagebody" *ngIf="!message.secure || uncrypted">
        <p>{{message.text}}</p>
        <div *ngIf="message.file">
            <span i18n="@@File">File: </span>
            <a target="_new" href="{{url}}/file/{{message.fileid}}{{message.secure ? passString : ''}}">
                {{message.file}}
                <div *ngIf="isImage">
                    <img class="messageImg" src="{{url}}/file/{{message.fileid}}{{message.secure ? passString : ''}}" />
                </div>
                <div *ngIf="isAudio">
                    <!--
                    <div class="blobber" *ngIf="audioLoading">
                        <div class="tx"i18n="@@loadingaudio">decrypting audio...</div>
                        <div class="square"></div>
                    </div>
                   -->
                    <audio controls class="messageAudio" #audioplayer>
                        <source src="{{url}}/file/{{message.fileid}}{{message.secure ? passString : ''}}"
                            canplaythrough="loadingAudio()" type="{{message.mimetype}}" />
                        your browser does not support this type of audio
                    </audio>
                </div>
            </a>
            <!-- <a target="_new" href="{{url}}/file/{{message.fileid}}&pass='teste'" >  {{message.file}}</a>-->
        </div>
    </div>

    <div *ngIf="!noMessage">
        <small>
            <p class="msginf" i18n="@@Origin">Origin: {{message.orig}}</p>
            <p class="msginf" i18n="@@desnitation">Destination: {{message.dest}}</p>
            <p class="msgdate" i18n="@@sentat">Sent at: {{message.sent_at}}</p>
            <p class="msgid">Id: {{message.id}}</p>
        </small>
    </div>
    <div class="flex m-t-25" *ngIf="allowCompose">
        <!-- <button routerLink="/compose">
            <img title="edit" src="assets/svg/edit.svg">
            <span i18n="@@compose1"> Compose</span>
        </button> -->
        <button (click)="showDelete()">
            <span i18n="@@deleteMessageDetail">
                <img title="delete" src="assets/svg/trash-alt.svg">
                Delete
            </span>
        </button>
        <button class="m-l-10" routerLink="/compose">
            <span i18n="@@compose1">
                <img title="compose" src="assets/svg/edit.svg">
                Compose
            </span>
        </button>
    </div>

    <div class="overall alert" *ngIf="deleteMessage">
        <div class="cv">
            <span i18n="@@areyousuredeletemsg">Are you sure yo want to delete this message? <br /><br />
            </span>
            <span>{{selectedMessage.name}}</span>
            <div class="icon">
                <a (click)="showDelete()">
                    <img title="cancel" src="assets/svg/x.svg">
                    <button i18n="@@cancelmt">cancel</button>
                </a>
            </div>
            <div class="icon">
                <a routerLink='/messages' routerLinkActive="active">
                    <img title="confirm" src="assets/svg/trash-alt.svg">
                    <button (click)="deleteThisMessage()" i18n="@@confirmmt">confirm</button>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="overall alert" *ngIf="errorAlert==true">
            <div class="cv">
                <span i18n="@@errorprocessing">There was an error on processing your request <br /><br /></span>
                <span>{{error}}</span>
                <div class="icon">
                    <a (click)="closeError()">
                        <img title="compose" src="assets/svg/x.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
