

<div class="">
    <h2 i18n="@@systemupgradeu">system upgrade</h2>
<div *ngIf="restore == false && restoreConf == false" >
<div *ngIf="upgrade == false && upgradeConf == false">
        <button i18n="@@restorefac" (click)="restoreAlert()" >Restore Factory Configuration</button>
       <!-- <button i18n="@@upgradewfile" (click)="upgradeAlert()" >System Upgrade with file</button>   -->  
</div>
</div>  
   
<div *ngIf="restore" class="overall">
    <div class="cv">
    <span i18n="areyousurerestore">
    Are you sure you want to restore the factory system?<br>
    this will delete all users, emails and messages
    !!!
    <br/>
    <br/>

     </span>
    
    <button (click)="cancelRestore()" i18n="@@cancel">cancel</button >
    <button (click)="restoreConfirm()" i18n="@@confirm">confirm</button>

    </div>
    
</div>

<div *ngIf="restoreConf">
    <form  #r="ngForm" class="formdata" novalidate>
        <span i18n="@@pleasetypeyour">Please type your password again to confirm factory restore:</span> <br/>
        <input type="password">
        <button (click)="cancelRestore()" i18n="@@cancel">cancel</button >
        <button type="submit" i18n="@@submit" (click)="sysRestore()">submit</button>
    </form> 
</div>


<div *ngIf="upgrade" class="overall">
    <div class="cv">
    <span i18n="@@areyousurupgrade">
    Are you sure you want to upgrade the system?<br>
    this may cause the sytem to break
    !!!
    <br/>
    <br/>

     </span>
    
    <button (click)="cancelUpgrade()" i18n="@@canceluu">cancel</button >
    <button (click)="upgradeConfirm()" i18n="@@confirmu">confirm</button>

    </div>
    
</div>

<div *ngIf="upgradeConf">
    <form  #u="ngForm" class="formdata" novalidate>
        <span i18n="@@selectfile">Select file for system upload</span>
        <label class="file">
            <input type="file" (change)="DocUpload($event.target.files)" accept="" >
        </label>
        <span i18n="@@pleasetypeyouru">Please type your password again to confirm upgrade:</span> <br/>
        <input type="password">
        <button (click)="cancelUpgrade()" i18n="@@cancelu">cancel</button >
        <button type="submit" i18n="@@submitu" (click)="sysUpgrade()">submit</button>
    </form> 
</div>

<div class="overall alert" *ngIf="errorAlert==true">
    <div class="cv" >
        <span i18n="@@errorsendingup">There was an error on processing your request <br/><br/></span>
        <span>{{error}}</span>
        <div class="icon" ><a (click)="closeError()" >
            <img title="compose" src="assets/svg/x.svg"></a>
        </div>

    </div>
</div>

</div>