<loading [loading]="loading"></loading>
<div class="">
  <div class="flexible">
    <h1>WIFI MANAGER</h1>
  </div>
  <div class="row">
    <input i18n="@@wifialias" name="alias" 
    [(ngModel)]="wifi" 
    required maxlength="140" i18n-placeholder placeholder="Set wifi name" />
  </div>
  <div class="overall alert" [hidden]="errorAlert==false">
    <div class="cv">
      <span i18n="@@errorcustomerror">There was an error on precessing your request <br /><br /></span>
      <span>{{error}}</span>
      <div class="icon"><a (click)="closeError()">
          <img title="close" src="assets/svg/x.svg"></a>
      </div>
    </div>
  </div>
</div>