
<div class="">
    <h2 i18n="@@admmanage">User Management</h2>

    <!--
    <label >is admin: <input type="checkbox"  (change)="loggedin()" name="isadmin" checked>
    </label>
    -->

    <button i18n="@@createadm" (click)="newUser()" *ngIf="!isEditing">create user</button>
    <br>
<!--
     test
        <button i18n="@@createadm"><a routerLink="/users">create user</a></button>
    <div>{{isadmin}}</div>
    <div>{{isadmin}}</div>

    <div [hidden]="isadmin&&!isEditing">teste1</div>
    <div [hidden]="isadmin||!isEditing">teste2</div>
    <div [hidden]="isadmin&&isEditing">teste3</div>
    <div [hidden]="!isadmin&&isEditing">teste4</div>
    <div [hidden]="!isadmin||isEditing">teste5</div>

<hr>
    <div [hidden]="isadmi==true&&isEditing==false">teste1</div>
    <div [hidden]="isadmin==true||isEditing==false">teste2</div>
    <div [hidden]="isadmin==true&&isEditing==true">teste3</div>
    <div [hidden]="isadmin==false&&isEditing==false">teste4</div>
    <div [hidden]="isadmin==false||isEditing==false">teste5</div>
-->

    <h3 [hidden]="isEditing" i18n="@@Users">Users</h3>
    <h3 [hidden]="!isEditing"><span [hidden]="emptyUser" i18n="@@edtusers">Edit user</span><span [hidden]="!emptyUser" i18n="@@createusers">Create User</span></h3>
    <ng-container >

        <span i18n="@@searchusers">Search users: </span><input [hidden]="isEditing==true||isadmin==false" class="searchbox" [(ngModel)]="searchUser"/>

        <ul id="userlist" class="multiplist" ng-model="selectedUser" [hidden]="isEditing==true||isadmin==false">
            <li *ngFor="let user of users | filter:searchUser" (click)="onSelect(user)">{{user.email}} | {{user.name}} | {{user.location}}</li>
        </ul>
    </ng-container>
    
    <ng-container *ngIf="selectedUser">
        <form [hidden]="isEditing==false" #f="ngForm" id="userdata" class="formdata" novalidate>
            <label>
                <span i18n>ID</span>
                {{selectedUser.id}}
                <br/>
            </label>
            <label for="login">
                <span i18n="@@username2">username</span>:
                <br/><input [hidden]="!emptyUser" name="email" [(ngModel)]="selectedUser.email" ngControl="userName" appSameUsername required  placeholder="write the username" />
                <span [hidden]="emptyUser"> {{selectedUser.email}} </span>
                <span *ngIf="alreadyExist" class="alert">username must be unique</span>
            </label>

            <label for="email">
                <span i18n>email</span>: {{selectedUser.email}}@pu2uit.hermes.radio
            </label>

            <label for="name">
                <span i18n="@@name">name</span>:
                <input name="name" [(ngModel)]="selectedUser.name" required placeholder="write the username" />
            </label>
            <label>
                <span i18n="@@phonenumber">phone number</span>:
                <br/><input name="phone" [(ngModel)]="selectedUser.phone"  placeholder="phone number"  />
            </label>

            <label >
                <span i18n>site</span>:
                <br/><input name="site" [(ngModel)]="selectedUser.site" placeholder="website"  />
            </label>

            <div class="selector">
            <!--<ng-container *ngIf="stations">

                <select ng-model="selectedUser.location">
                    <option *ngFor="let station of stations" >{{station.alias}} | {{station.location}}</option>

                </select>
                </ng-container>
            -->
            </div>

            <!--
            <label>
                <span i18n>location</span>:
                <br/><input name="location" [(ngModel)]="selectedUser.location"  placeholder="location"  />
            </label>
            -->

            <label>
                <span i18n>password</span>:
                <br/><input name="password" type="password" [(ngModel)]="selectedUser.password" required  placeholder="password"   />
            <span *ngIf="f.invalid" class="alert" i18n=@@strongpassword>passwords must have at least 8 characters, one uppercase letter and one number </span>
            </label>

            <label for="recovery">
                <span i18n>recovery phrase</span>:
                <br/><input  name="recoverphrase" [(ngModel)]="selectedUser.recoverphrase" required placeholder="write a question to recover your password" />
                <div *ngIf="f.invalid">Title is required</div>
            </label>
            <label>
                <span i18n>recovery answer</span>:
                <br/><input  name="recoveranswer" [(ngModel)]="selectedUser.recoveranswer" placeholder="answer to your recovery question"  />
            </label>

            <!--
            <hr>
                <span i18n>created at</span>: <span> {{selectedUser.created_at}}</span>
                <span i18n>updated at</span>: <span> {{selectedUser.updated_at}}</span>
            -->

            <hr>

            <label>
                <span i18n>is admin</span>:
                <input name="admin" class="ckbx" type="checkbox" [(ngModel)]="selectedUser.admin"  />
            </label>
            <br/>
                <button (click)="cancelCreate()" >cancel</button>

                <button (click)="deleteAlert()" [disabled]="selectedUser.admin" [hidden]="emptyUser">delete user</button>
                <button type="submit" [hidden]="emptyUser" (click)="updateAlert()" [disabled]="f.invalid">update</button>
                <button type="submit" [hidden]="!emptyUser" (click)="onSubmitCreate(f)" [disabled]="f.invalid">create user</button>
                <!--<button type="submit" (click)="onSubmitCreate(f)" [disabled]="f.invalid"><span [hidden]="newUsername==true">New user from this one</span><span [hidden]="newUsername==false">create user</span></button>-->

                <div class="overall" [hidden]="deleteUser">
                    <div class="cv" >
                    <span i18n="@@areyousuredelete">Are you sure you want to delete </span>{{selectedUser.name}}?<br/>
                    <span i18n="@@thisactioncannot">this action cannot be undone!</span>
                    <br/>
                    <button type="submit" (click)="onSubmitDelete(selectedUser.id)" [disabled]="f.invalid" i18n="@@deleteuser">delete user</button>
                    <button type="submit" (click)="deleteAlert()" [disabled]="f.invalid" i18n="@@cancel">cancel</button>
                </div>
                </div>

                <div class="overall" [hidden]="updateUser">
                    <div class="cv" >
                    <span i18n="@@areyousureupdate">Are you sure you wanna update</span> {{selectedUser.name}}?<br/>
                    <span i18n="@@thisactioncannot">this action cannot be undone!</span>
                    <br/>
                    <button type="submit" (click)="onSubmitUpdate(selectedUser.id,f)" [disabled]="f.invalid" i18n="@@update">update</button>
                    <button type="submit" (click)="updateAlert()" [disabled]="f.invalid" i18n="@@cancel">cancel</button>
                </div>
                </div>
        </form>
    </ng-container>

</div>
