<p>users</p>
<p>select user</p>
<optgroup>
    <option>USERS</option>
    <option>USERS</option>
    <option>USERS</option>

</optgroup>

<div class="formfield">
<ng-container class="formfield">
        
        <label>
            name: <input  placeholder="username" />
        </label>
        <label>
            password: <input type="password"  placeholder="password" />
        </label>
        <label>
            confirm password: <input type="password"  placeholder="password" />
        </label>
   
    </ng-container>
</div>