<h2 i18n="@@mailadmin">Mail Administration</h2>


<p><span i18n="@@userlist">user list</span></p>
<p><span i18n="@@selectuser">select user</span></p>
<optgroup>
    <option>USERS</option>
    <option>USERS</option>
    <option>USERS</option>
</optgroup>

<div class="formfield">
<ng-container class="formfield">
        
        <label>
            <span i18n="@@username">username</span>: <input  placeholder="username" />
        </label>
        <label>
            <span i18n="@@password">password</span>: <input type="password"  placeholder="password" />
        </label>
        <label>
            <span i18n="@@confirmpassw">confirm password</span>: <input type="password"  placeholder="password" />
        </label>
   
    </ng-container>
</div>