<div class="container sysadm">
    <h1>Public</h1>
    Welcome to <a href="https://github.com/Rhizomatica/hermes-gui" target="_blank">V2.3</a> HERMES Radio
    <span class="float-right">{{ currentUser ? currentUser.name : null}}</span>
    <hr />
    <div class="m-t-10">
        <div class="menu">
            <div class="flexible">
                <a routerLink="/radiophony">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="Messages" src="assets/svg/walkie-talkie.svg">
                        </div>
                        <div i18n="@@radiophonycard">
                            Radiophony
                        </div>
                    </div>
                </a>
                <a routerLink="/messages">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="Messages" src="assets/svg/comment.svg">
                        </div>
                        <div i18n="@@messagescard">
                            Messages
                        </div>
                    </div>
                </a>
                <a routerLink="/email">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="Email" src="assets/svg/envelope.svg">
                        </div>
                        <div i18n="@@emailcard">
                            E-mail
                        </div>
                    </div>
                </a>
                <a routerLink="/admin" *ngIf="currentUser">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="Admin" src="assets/svg/tools.svg">
                        </div>
                        <div i18n="@@admincard">
                            Admin
                        </div>
                    </div>
                </a>
                <a routerLink="/help">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="Help" src="assets/svg/question-circle-regular.svg">
                        </div>
                        <div i18n="@@helpcard">
                            Help
                        </div>
                    </div>
                </a>
                <div class="shut m-t-10">
                    <button (click)="toggle()" class="midbt {{currentTheme}}">
                        <span i18n="@@darktheme" *ngIf="currentTheme == 'light'">
                            Dark Theme
                        </span>
                        <span i18n="@@lighttheme" *ngIf="currentTheme == 'dark'">
                            Light Theme
                        </span>
                        <br />
                    </button>
                    <button routerLink="/login" class="midbt m-t-10" *ngIf="!currentUser">
                        <span i18n="@@loginbutton">
                            Login
                        </span>
                        <br />
                        <img class="btnicon" title="send" src="assets/svg/sign-in-alt-solid.svg">
                    </button>
                    <button class="midbt m-t-10" (click)="logOff()" *ngIf="currentUser">
                        <span i18n="@@logoutbutton">
                            Logout
                        </span>
                        <br />
                        <img class="btnicon" title="send" src="assets/svg/sign-out-alt-solid.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>