<div class="container">
    <div class="landing">
        <!-- <div class="hello">
            <h4 i18n="@@landingtext">High-frequency Emergency and Rural Multimedia Exchange System
                The High-frequency Emergency and Rural Multimedia Exchange System, better known by its acronym,
                HERMES, provides affordable digital telecommunications over shortwave/HF radio using a simplified
                visual interface accessed via smartphone or computer, allowing for the transmission and reception of
                data (chat, audio, documents, photos, GPS coordinates, etc). For security, this information can be
                easily encrypted and password-protected by the sender. HERMES, both architecture designs and
                software, is free and open-source.
            </h4>
        </div> -->
        <div class="btn-mail-lading">
            <a routerLink="/email">
                <h1 title="e-mail"> e-mail</h1>
                <img src="assets/svg/envelope-xl.png">
            </a>
        </div>
        <div class="btn-messages-lading">
            <a routerLink="/messages">
                <img src="assets/svg/comment-xl.png">
                <h1 i18n="@@landingmessages" title="messages"> messages</h1>
            </a>
        </div>
    </div>
</div>