<div class="container">

    <!-- VIRA COMPONENTE -->
    <!-- <div class="croos-needle-panel">
        <img src="/assets/img/crossNeedlePanel.png"/>

        <div class="line reflected"></div>
        <div class="line forward"></div>
    </div> -->

    <div class="landing">
        <div class="hello">
            <div class="logo-container">
                <h1>HERMES - RHIZOMATICA</h1>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci lectus, dictum a blandit
                    quis,
                    tempor eget neque. Quisque pharetra nunc at ipsum auctor suscipit. Sed a consequat neque, tempus
                    lacinia
                    magna. Aenean et eros tortor. Suspendisse sit amet lectus interdum, luctus quam non, posuere arcu.
                    Cras
                    id elementum ante. Vivamus elementum purus ipsum.
                </h4>
            </div>
        </div>
        <div class="btn-messages-lading">
            <a routerLink="/messages" i18n="@@messages">
                <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/comment.svg">
                <h1> MESSAGES</h1>
            </a>
        </div>
    </div>


</div>