<style>
  :host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }
</style>

<div id="appcontainer">
  <div class="fullpage">
    <!-- TODO - Create component -->
    <nav *ngIf="system && (currentPage != 'home' && currentPage != 'languages')">
      <a routerLink='/home' class="logo-link"
        [style.pointer-events]="disableNavigationsGeneralLoginNoUser() ? 'none' : 'auto'"
        (keydown.enter)="!disableNavigationsGeneralLoginNoUser()">
        <img title="Hermes logo" src="assets/img/logohermes.png" class="logo">
        <h1 class="sitetitle" *ngIf="system">
          <span>{{system.domain}}</span>
        </h1>
      </a>
      <a routerLink="/menu" class="float-right burguer" *ngIf="!isMenuPage && !disableNavigationsGeneralLoginNoUser()">
        <span class="nav-frequency" *ngIf="radio">{{radio.mode}} {{radio.freq}} kHz</span>
        <img title="menu" src="assets/svg/bars-solid.svg">
      </a>
      <a class="float-right burguer" (click)="closeMobileMenu()" *ngIf="isMenuPage">
        <img title="close" src="assets/svg/times.svg">
      </a>
    </nav>

    <breadcrumb [currentPage]="currentPage" [currentUrl]="currentUrl"></breadcrumb>

    <div class="formfield {{currentPage == 'home' ? 'home' : ''}}">

      <router-outlet *ngIf="system || loading; else serverOff" (activate)="onActivate($event)"></router-outlet>

      <!-- TODO - Create component -->
      <ng-template #serverOff>
        <hr>
        <p i18n="hermes503Http">503 Service Unavaliable</p>
        <p i18n="hermesoffline">Hermes server is offline, please turn the station on.
        </p>
        <br>
        <div class="alert" *ngIf="!serverError" (click)="showServerAlert()" i18n="@@areadyon">If your server is already
          on click here</div>

        <div *ngIf="serverError" i18n="@@areadyonmsg">
          If you are seeing a "server offline" message, yet your server should, or seems to be on, it's possible that
          your
          system is corrupted. If you already tried to access HERMES from other devices and the problem persists, you
          may
          need to take your station to a place with internet and contact the vendors at support@hermes.radio to schedule
          an online maintenance support session.
          <br>
          <span class="icon"><img (click)="showServerAlert()" title="close" src="assets/svg/times.svg"> </span>
        </div>
        <div class="overall alert" *ngIf="errorAlert==true">
          <div class="cv">
            <span i18n="@@errorchangingconfig">There was an error on changing configuration <br /><br /></span>
            <span>{{error}}</span>
            <div class="icon"><a (click)="closeError()">
                <img title="compose" src="assets/svg/x.svg"></a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <floatbutton></floatbutton>
  </div>
  <div class="overall alert" *ngIf="countdown == 30">
    <div class="cv">
      <span i18n="@@countdowninactivite">Inactivite user. Countdown for logoff</span>
      <div class="row"><b>{{countdown}}</b></div>
    </div>
  </div>
  <loading [loading]="loading"></loading>
</div>