<style> 
  :host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }
</style>

<div id="appcontainer">
  <div class="fullpage">
    <nav *ngIf="system">
      <a routerLink='/home' class="logo-link">
        <img title="Hermes logo" src="assets/img/logohermes.png" class="logo">
        <h1 class="sitetitle" *ngIf="system"><span>{{system.domain}}</span></h1>
      </a>
      <a routerLink="/menu" class="float-right burguer" *ngIf="!isMenuPage">
        <img title="menu" src="assets/svg/bars-solid.svg">
      </a>
      <a class="float-right burguer" (click)="closeMobileMenu()" *ngIf="isMenuPage">
        <img title="close" src="assets/svg/times.svg">
      </a>
    </nav>
    <breadcrumb [currentPage]="currentPage" [currentUrl]="currentUrl"></breadcrumb>
    <div class="formfield">
      <router-outlet *ngIf="system || loading; else serverOff" (activate)="onActivate($event)"></router-outlet>
      <ng-template #serverOff>
        <hr>
        <!-- TODO - Criar Tradução -->
        <p i18n="hermes503Http">503 Service Unavaliable</p>
        <p i18n="hermesoffline">Hermes server is offline, please turn the station on.
        </p>
        <br>
        <div class="alert" *ngIf="!serverError" (click)="showServerAlert()" i18n="@@areadyon">If your server is already
          on click here</div>

        <div *ngIf="serverError" i18n="@@areadyonmsg">
          If you are seeing a "server offline" message, yet your server should, or seems to be on, it's possible that
          your
          system is corrupted. If you already tried to access HERMES from other devices and the problem persists, you
          may
          need to take your station to a place with internet and contact the vendors at support@hermes.radio to schedule
          an online maintenance support session.
          <br>
          <span class="icon"><img (click)="showServerAlert()" title="close" src="assets/svg/times.svg"> </span>
        </div>
        <div class="overall alert" *ngIf="errorAlert==true">
          <div class="cv">
            <span i18n="@@errorchangingconfig">There was an error on changing configuration <br /><br /></span>
            <span>{{error}}</span>
            <div class="icon"><a (click)="closeError()">
                <img title="compose" src="assets/svg/x.svg"></a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="overall" *ngIf="changeLanguage">
      <div class="cv">
        <nav class="flags">
          <a i18n="@@portugues" class="flag" routerLink="" (click)="setLanguage('pt')"><img title="messages"
              src="assets/svg/brasil.svg">Português</a>
          <a i18n="@@espanhol" class="flag" routerLink="" (click)="setLanguage('es')"><img title="messages"
              src="assets/svg/espanha.svg">Español</a>
          <a i18n="@@english" class="flag" routerLink="" (click)="setLanguage('en-US')"><img title="messages"
              src="assets/svg/reino-unido.svg">English</a>
        </nav>
      </div>
    </div>
  </div>
  <loading [loading]="loading"></loading>

  <!-- <footer [ngClass]=" fullStats ? 'footer big' : 'footer' ">
    <ng-container *ngIf="system">
      <div class="dr">
        <div class="drb" (click)="onToggle('HR')"></div>
      </div>
      <span class="footerinfo">
        V2.2 - {{system.name}}
      </span>
    </ng-container>
  </footer> -->
</div>