<div class="login formdata">
  <div class="flexible">
    <h2 i18n="@@e_mail">E-mail</h2>
    <hint [showHint]="false" [hint]="'email'"></hint>
  </div>
  <div class="row">
    <div class="flexible">
      <a href="/mail/">
        <div class="card">
          <div class="card-icon">
            <img class="icon" src="assets/svg/roundcubelogo.svg">
          </div>
          <div class="card-title">
            Webmail
          </div>
        </div>
      </a>
      <a (click)="showlinks()">
        <div class="card">
          <div class="card-icon">
            <img class="icon" src="assets/svg/deltachat.svg">
          </div>
          <div class="card-title">
            Deltachat
          </div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="linksOn">
    <hr>
    <p i18n="@@todownload">To download deltachat click on one of the links below: </p>
    <p>
      <a href="/downloads/deltachat.apk" target="_blank" download="deltachat.apk">Android</a><br>
      <a href="/downloads/deltachat.exe" target="_blank" download="deltachat.exe">Windows</a><br>
      <a href="/downloads/deltachat.deb" target="_blank" download="deltachat.deb">Ubuntu/Debian</a><br>
      <a href="/downloads/deltachat.dmg" target="_blank" download="deltachat.dmg">Mac OSX</a><br>
    </p>
    <p i18n="@@deltachatapplestoredownloadmessage">
      *Note: On Iphone and ipad you will need to download the app from the App Store in a place with internet.
    </p>
    <p i18n="@@configuredeltachat" class="m-t-10"><b>Configure deltachat</b>
      <hint [showHint]="false" [hint]="'deltachat'"></hint>
    </p>
    <hr />
  </div>
  <div class="m-t-25" *ngIf="!sbitx">
    <h2 i18n="@@selectusers">Select users to send e-mail:</h2>
    <ng-container *ngIf="users">
      <ng-select id="selmult" #getModelValue="ngModel" name="email" [selectableGroup]="true" [items]="users"
        bindValue="fullmail" groupBy="selectedAllGroup" bindLabel="fullmail" [selectableGroupAsModel]="false"
        [closeOnSelect]="false" [(ngModel)]="emailto" multiple=true required>
        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
            [ngModelOptions]="{standalone: true}" />
          <span i18n="@@selectall"> Select All</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
            [ngModelOptions]="{standalone: true}" />{{item.email}}
        </ng-template>
      </ng-select>
    </ng-container>
    <a href="mailto:{{emailto}}">
      <button class="m-t-10" [disabled]="emailto?.length == 0" i18n="@@sentemailbutton">send email to selected</button>
    </a>
  </div>
  <br />
  <div class="row" *ngIf="!sbitx">
    <p i18n="@@emailsuport">If you have a problem and are not sure who to write to
      <a href="mailto:{{emergencyEmail}}">{{emergencyEmail}}</a>
    </p>
  </div>
  <div class="m-t-25" *ngIf="!currentUser">
    <p i18n="@@noaccount">Don't have an account?</p>
    <a routerLink="/user-manage">
      <button i18n="@@createbtn">create an account</button>
    </a>
  </div>
  <br />
  <div class="overall alert" [hidden]="errorAlert==false">
    <div class="cv">
      <span i18n="@@errormanagement">There was an error on processing your request </span>
      <div class="row m-t-10">
        <span>{{error}}</span>
      </div>
      <button class="m-t-10" (click)="closeError()" i18n="@@closeerrorbutton">
        close
      </button>
    </div>
  </div>
</div>