<div class=" login formdata">
  <h2 i18n="@@e_mail">E-mail</h2>
  <div class="flexible">
    <a href="/mail/" target="_blank">
      <div class="card">
        <div class="card-icon">
          <img class="icon" src="assets/svg/roundcubelogo.svg">
        </div>
        <div class="card-title">
          Webmail
        </div>
      </div>
    </a>
    <a (click)="showlinks()">
      <div class="card">
        <div class="card-icon">
          <img class="icon" src="assets/svg/deltachat_icon.svg">
        </div>
        <div class="card-title">
          Deltachat
        </div>
      </div>
    </a>
  </div>
  <div *ngIf="linksOn">
    <hr>
    <p i18n="@@todownload">To download deltachat click on one of the links below: </p>
    <p>
      <a href="/downloads/deltachat.apk" target="_blank" download="deltachat.apk">Android</a><br>
      <a href="/downloads/deltachat.exe" target="_blank" download="deltachat.exe">Windows</a><br>
      <a href="/downloads/deltachat.deb" target="_blank" download="deltachat.deb">Ubuntu/Debian</a><br>
      <a href="/downloads/deltachat.dmg" target="_blank" download="deltachat.dmg">Mac OSX</a><br>
    </p>
  </div>
  <div class="m-t-25">
    <h2 i18n="@@selectusers">Select users to send e-mail:</h2>
    <ng-container *ngIf="users">
      <ng-select id="selmult" #getModelValue="ngModel" name="email" [selectableGroup]="true" [items]="users"
        bindValue="fullmail" groupBy="selectedAllGroup" bindLabel="fullmail" [selectableGroupAsModel]="false"
        [closeOnSelect]="false" [(ngModel)]="emailto" multiple=true required>
        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
            [ngModelOptions]="{standalone: true}" />
          <span i18n="@@selectall"> Select All</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
            [ngModelOptions]="{standalone: true}" />{{item.email}}
        </ng-template>
      </ng-select>
    </ng-container>
    <a href="mailto:{{emailto}}">
      <button class="m-t-10" [disabled]="emailto?.length == 0">Send email to selected</button>
    </a>
  </div>
  <br />
  <div class="m-t-25" *ngIf="!currentUser">
    <p i18n="@@noaccount">Doesn't have an account?</p>
    <a routerLink="/usermanage">
      <button i18n="@@createbtn">create an account</button>
    </a>
  </div>
  <br />
  <div class="overall alert" [hidden]="errorAlert==false">
    <div class="cv">
      <span i18n="@@errormanagement">There was an error on processing your request <br /><br /></span>
      <span>{{error}}</span>
      <div class="icon">
        <a (click)="closeError()">
          <img title="close" src="assets/svg/x.svg">
        </a>
      </div>
    </div>
  </div>
</div>