<div class="">
    <h2 i18n="@@admmanage">User Management</h2>
    <hr>
    <div *ngIf="currentUser">
        <div *ngIf="isadmin">
            <h5 *ngIf="!isEditing" i18n="@@Users">User list:</h5>
            <h5 *ngIf="isEditing"><span *ngIf="!emptyUser" i18n="@@edtusers">Edit user</span><span *ngIf="emptyUser"
                    i18n="@@createusers">Create User</span></h5>
            <ng-container>

                <div *ngIf="!isEditing">
                    <div class="userlist">
                        <input [hidden]="isEditing==true||isadmin==false" id="searchbox1" placeholder="Search Users"
                        [(ngModel)]="searchUser" i18n-placeholder />
                        <div class="adm"><b><img class="inlineicon" title="admin" src="assets/svg/wrench.svg"></b></div>
                        <div class="uemail" i18n="@@usernamem"><b>username</b></div>
                        <div class="uname" i18n="@@namem"><b>name</b></div>
                    </div>
                    <div id="userlist" class="multiplist2 users" ng-model="selectedUser"
                        [hidden]="isEditing==true||isadmin==false">
                        <div class="userlist" *ngFor="let user of users" (click)="onSelect(user)">
                            <div class="adm"><span *ngIf="user.admin" class="alert"> <img class="inlineicon"
                                        title="admin" src="assets/svg/wrench.svg"></span></div>
                            <div class="uemail">{{user.email}}</div>
                            <div class="uname">{{user.name}}</div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

    <ng-container *ngIf="selectedUser">
        <form *ngIf="isEditing" #f="ngForm" id="userdata" class="formdata" novalidate>


            <label for="email">
                <input *ngIf="emptyUser" name="email" [(ngModel)]="selectedUser.email" required i18n-placeholder
                    placeholder="write the username">

            </label>

            <span i18n>email</span>: {{selectedUser.email}}@{{system.domain}}

            <label for="name">
                <span i18n="@@name">full name</span>:
                <input name="name" [(ngModel)]="selectedUser.name" i18n="@@mwyn" required
                    placeholder="write your full name" />
            </label>
            <label>
                <span i18n="@@phonenumber">phone number</span>:
                <br /><input name="phone" [(ngModel)]="selectedUser.phone" i18n-placeholder
                    placeholder="phone number" />
            </label>

            <label>
                <span i18n>site</span>:
                <br /><input name="site" [(ngModel)]="selectedUser.site" i18n-placeholder placeholder="website" />
            </label>

            <div class="selector">
            </div>

            <hr>
            <label for="recovery">
                <span (click)="showExplanation()"> <img class="inlineicon" title="admin" src="assets/svg/question-circle-regular.svg"></span><span i18n>recovery phrase</span>: 
                <div *ngIf="recoverExplanation" i18n="@@recoveryexplanation" class="alert">
                    If you loose your password, you will need to answer a question to recover it, please write a question that only you will know the answer.
                </div>
                
                <br /><input name="recoverphrase" [(ngModel)]="selectedUser.recoverphrase" i18n="@@mwqr" required
                    placeholder="write a question to recover your password" i18n-placeholder />
            </label>
            <label>
                <span i18n="@@recovans2">recovery answer</span>:
                <br /><input name="recoveranswer" [(ngModel)]="selectedUser.recoveranswer" i18n="@@mwarq"
                    placeholder="answer to your recovery question" i18n-placeholder />
            </label>
            <hr>
            <div></div>
            <button *ngIf="!emptyUser" i18n="@@changepassword" (click)="showPasswordField()">change password</button>
            <label *ngIf="showPassword">
                <span i18n>password</span>:
                <br />
                <!--<input id="password" name="password" type="password" [(ngModel)]="selectedUser.password" required  placeholder="password"  minlength="8" />-->
                <label for="passwd">
                    <input id="password" name="password" type="password" [(ngModel)]="selectedUser.password" required
                        ii18n-placeholder placeholder="password" minlength="6"
                        (input)="checkpass(selectedUser.password,repasswd)" />
                </label>
                <label for="repasswd">
                    <span i18n="@@retypethepassword">Retype the password</span>
                    <input type="password" [(ngModel)]="repasswd" [ngModelOptions]="{standalone: true}" minlength="6"
                        (input)="checkpass(selectedUser.password,repasswd)" />
                </label>
                <div [hidden]=!passunMatch class="error" i18n="@@passdontmatch">
                    passwords doesn't match
                </div>
                <div [hidden]=!passMin class="error" i18n="@@passempty">
                    passwords can't be empty
                </div>
                <span *ngIf="f.invalid" class="alert" i18n=@@strongpassword> must have at least 6 characters</span>

            </label>

            <label *ngIf="isadmin">
                <span i18n>is admin</span>:
                <input name="admin" class="ckbx" type="checkbox" checked="false" [(ngModel)]="selectedUser.admin" />
            </label>
            <br />
            <button (click)="cancelCreate()" i18n="@@mwcancel">cancel</button>
            <span *ngIf="selectedUser.email !== 'root'"><button (click)="deleteAlert()" i18n="@@delusr"
                    [disabled]="admin" [hidden]="emptyUser">delete user</button></span>
            <button type="submit" [hidden]="emptyUser" (click)="updateAlert()" i18n="@@mupd"
                [disabled]="f.invalid">update</button>
            <button type="submit" [hidden]="!emptyUser" (click)="onSubmitCreate(f)"
                [disabled]="f.invalid || passunMatch">create user</button>

            <div class="overall" *ngIf="deleteUser">
                <div class="cv">
                    <span i18n="@@areyousuredelete">Are you sure you want to delete </span>{{selectedUser.name}}?<br />
                    <span i18n="@@thisactioncannot">this action cannot be undone!</span>
                    <br />
                    <button type="submit" (click)="onSubmitDelete(selectedUser.emailid, selectedUser.email)"
                        i18n="@@deleteuser">delete user</button>
                    <button type="submit" (click)="deleteAlert()" i18n="@@cancel">cancel</button>
                </div>
            </div>

            <div class="overall" *ngIf="updateUser">
                <div class="cv">
                    <span i18n="@@areyousureupdate">Are you sure you wanna update</span> {{selectedUser.name}}?<br />
                    <span i18n="@@thisactioncannot">this action cannot be undone!</span>
                    <br />
                    <button type="submit" (click)="onSubmitUpdate(selectedUser.emailid,f)" [disabled]="f.invalid"
                        i18n="@@update">update</button>
                    <button type="submit" (click)="updateAlert()" [disabled]="f.invalid" i18n="@@cancel">cancel</button>
                </div>
            </div>

            <div class="overall alert" [hidden]="errorAlert==false">
                <div class="cv">
                    <span i18n="@@errormanagemet">There was an error on precessing your request <br /><br /></span>
                    <span>{{error}}</span>
                    <div class="icon"><a (click)="closeError()">
                            <img title="close" src="assets/svg/x.svg"></a>
                    </div>

                </div>
            </div>


        </form>
    </ng-container>
    <div *ngIf="!selectedUser">
    <button *ngIf="currentUser" i18n="@@usersettings" (click)="updateThis()">user settings</button>
    </div>
    <button i18n="@@createadm" (click)="newUser()" *ngIf="!isEditing">create user</button>

</div>