<loading [loading]="loading"></loading>
<div class="flexible">
    <h2 i18n="@@gpsgeolocation">GPS Geolocation</h2>
    <hint [showHint]="false" [hint]="'gpshint'"></hint>
</div>
<div class="row m-t-10">
    <p class="location">
        <span i18n="@@currentlatitudelongitude">Current Latitude, Longitude</span>
        <br />
        {{currentCoordinates}}
    </p>
</div>
<div class="m-t-25">
    <div class="flexible">
        <div class="half-row" *ngIf="files">
            <span i18n="@@geolocationfilestitle">Stored geolocation files</span>
            <div class="gps-stored-files">
                <div class="m-t-25" *ngFor="let file of files">
                    <a href="{{url}}/{{file}}">
                        <img class="inlineicon" title="download" src="assets/svg/arrow-down.svg">{{file}}</a>
                </div>
                <div class="m-t-10" *ngIf="!files">
                    <p i18n="@@emptyfileslist">
                        There are no stored geolocation files
                    </p>
                </div>
            </div>
            <button class="m-t-10 m-b-10" i18n="@@deletestoredfiles" (click)="deleteAllStoredFiles()">delete files</button>
        </div>
        <div class="flex-right half-row">
            <div class="row">
                <form #formToggleGPS="ngForm" class="formdata">
                    <span i18n="@@gpsmanagement">GPS management</span>
                    <div class="float-right flex-right" *ngIf="admin">
                        <span>ON</span>
                        <div class="switch">
                            <input type="checkbox" name="status" [checked]="status">
                            <span class="slider round-uc one-color" (click)="toggleGPS(formToggleGPS)"></span>
                        </div>
                        <span>OFF</span>
                    </div>
                    <div class="float-right flex-right" *ngIf="!admin">
                        {{status == true ? 'ON' : 'OFF'}}
                    </div>
                </form>
                <div class="row m-t-25">
                    <form #formGpsInterval="ngForm" class="formdata">
                        <span i18n="@@captureinterval">Capture interval</span> (sec)
                        <div class="flexible m-t-10">
                            <input type="number" name="interval" [(ngModel)]="interval" [disabled]="!admin" [min]="1"
                                [max]="120" />
                            <button (click)="updateGPSInterval(formGpsInterval)" i18n="@@update"
                                [disabled]="!admin">update</button>
                        </div>
                    </form>
                </div>
                <div class="row m-t-25">
                    <form #formFileRange="ngForm" class="formdata">
                        <span i18n="@@capturefilerange">Capture file range</span> (sec)
                        <div class="flexible m-t-10">
                            <input type="number" name="range" [(ngModel)]="range" [disabled]="!admin" [min]="600"
                                [max]="3600" />
                            <button (click)="updateGPSFileRange(formFileRange)" i18n="@@update"
                                [disabled]="!admin">update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>