<loading [loading]="loading"></loading>
<div class="flexible">
    <h2 i18n="@@gpsgeolocation">GPS Geolocation</h2>
    <hint [showHint]="false" [hint]="'gpshint'"></hint>
</div>
<div class="row m-t-10">
    <p class="location">
        <span i18n="@@currentcoordinates">Current coordinates</span>
        <br />
        {{currentCoordinates}}
    </p>
</div>
<div class="m-t-25">
    <div class="flexible">
        <div class="half-row" *ngIf="files">
            <span i18n="@@geolocationfilestitle">Stored geolocation files</span>
            <div class="m-t-25" *ngFor="let file of files">
                <p (click)="dowloadFile(file)">
                    <img class="inlineicon" title="download" src="assets/svg/arrow-down.svg">
                    {{file}}
                </p>
            </div>
            <div class="m-t-10" *ngIf="!files">
                <p i18n="@@emptyfileslist">
                    There are no stored geolocation files
                </p>
            </div>
        </div>

        <div class="flex-right half-row">
            <div class="row">
                <form #formToggleGPS="ngForm" class="formdata">
                    <span i18n="@@gpsmanagement">GPS management</span>
                    <div class="float-right flex-right" *ngIf="admin">
                        <span>ON</span>
                        <div class="switch">
                            <input type="checkbox" name="status" [checked]="status">
                            <span class="slider round-uc one-color" (click)="toggleGPS(formToggleGPS)"></span>
                        </div>
                        <span>OFF</span>
                    </div>
                    <div class="float-right flex-right" *ngIf="!admin">
                        {{status == true ? 'ON' : 'OFF'}}
                    </div>
                </form>
                <div class="row m-t-25">
                    <form #formDelayGps="ngForm" class="formdata">
                        <span i18n="@@recorddelay">Record delay</span> (sec)
                        <div class="flexible m-t-10">
                            <input type="number" name="delay" [(ngModel)]="delay" [disabled]="!admin" [min]="1"
                                [max]="120" />
                            <button (click)="updateGPSDelay(formDelayGps)" i18n="@@update"
                                [disabled]="!admin">update</button>
                        </div>
                    </form>
                </div>
                <div class="row m-t-25">
                    <form #formFileDumpTime="ngForm" class="formdata">
                        <span i18n="@@filedumptime">File dump time</span> (sec)
                        <div class="flexible m-t-10">
                            <input type="number" name="dump" [(ngModel)]="dump" [disabled]="!admin" [min]="600"
                                [max]="3600" />
                            <button (click)="updateGPSFileDumpTime(formFileDumpTime)" i18n="@@update"
                                [disabled]="!admin">update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>