<loading [loading]="loading"></loading>
<div *ngIf="currentUser">
  <b>
    <span i18n="@@loggedlabel">You are logged in</span>
    <span class="float-right"> {{currentUser.name}} </span>
    <hr class="m-b-25" />
  </b>
</div>
<div class="phonemenu">
  <a routerLink="/home" i18n="@@radiophonymenu">
    <img title="home" src="assets/svg/house.svg">
    Home
  </a>
  <a routerLink="/voice" i18n="@@voicemenu" *ngIf="radio.freq !== null">
    <img title="voice" src="assets/svg/walkie-talkie.svg">
    Voice
  </a>
  <a routerLink="/messages" i18n="@@messagemenu">
    <img title="messages" src="assets/svg/comment.svg">
    Messages
  </a>
  <a routerLink="/email" i18n="@@emailmenu">
    <img title="email" src="assets/svg/envelope.svg">
    Email
  </a>
  <a routerLink="/radio-config" i18n="@@radioconfigmenu">
    <img title="radio-config" src="assets/svg/ham-radio.svg">
    Radio Configuration
  </a>
  <a routerLink="/user-manage" i18n="@@usermanagegmenu" *ngIf="!requireLogin || (requireLogin && admin)">
    <img title="user-manage" src="assets/svg/circle-user.svg">
    User management
  </a>
  <a routerLink="/message-config" i18n="@@messageadmmenu" *ngIf="admin">
    <img src="assets/svg/comments.svg">
    Message configuration
  </a>
  <a routerLink="/schedule" i18n="@@schedulingmenu" *ngIf="isGateway && admin">
    <img src="assets/svg/clock.svg">
    Transmission schedule
  </a>
  <a routerLink="/transmission" i18n="@@transmissionlistmenu" *ngIf="admin">
    <img src="assets/svg/transmit-antenna.svg">
    Transmission list
  </a>
  <a routerLink="/station-info" i18n="@@stationinformationmenu" *ngIf="admin">
    <img src="assets/svg/broadcast-tower.svg">
    Station information
  </a>
  <a routerLink="/wifi-manage" i18n="@@wifimanagermenu" *ngIf="admin">
    <img src="assets/svg/wifi-solid.svg">
    Wi-Fi & Ethernet manager
  </a>
  <a routerLink="/log" i18n="@@detailedlogmenu" *ngIf="admin">
    <img src="assets/svg/compass.svg">
    Detailed log
  </a>
  <a routerLink="/login" i18n="@@loginmenu" *ngIf="!currentUser">
    <img title="login" src="assets/svg/sign-in-alt-solid.svg">
    Login
  </a>
  <a routerLink="" (click)="logout()" *ngIf="currentUser">
    <img src="assets/svg/sign-out-alt-solid.svg">
    <span class="logged" i18n="@@logoutmenu">
      Logout
    </span>
  </a>
</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@errorcustomerrormenu">There was an error on precessing your request <br /><br /></span>
    <span>{{error}}</span>
    <button class="m-t-10" (click)="closeError()" i18n="@@closeerrorbutton">
      close
    </button>
  </div>
</div>