<loading [loading]="loading"></loading>
<div *ngIf="currentUser">
  <b>
    <span>You are logged in</span>
    <span class="float-right"> {{currentUser.name}} </span>
    <hr />
  </b>
</div>
<div class="phonemenu m-t-25">
  <a routerLink="/home" i18n="@@radiophonymenu">
    <img title="home" src="assets/svg/house.svg">
    Home
  </a>
  <a routerLink="/voice" i18n="@@voicemenu" *ngIf="radio.freq !== null">
    <img title="voice" src="assets/svg/walkie-talkie.svg">
    Voice
  </a>
  <a routerLink="/messages" i18n="@@messagemenu">
    <img title="messages" src="assets/svg/comment.svg">
    Messages
  </a>
  <a routerLink="/email" i18n="@@emailmenu">
    <img title="email" src="assets/svg/envelope.svg">
    Email
  </a>
  <a routerLink="/help" i18n="@@helpmenu">
    <img title="help" src="assets/svg/question-circle-regular.svg">
    Help
  </a>
  <a routerLink="/radio-config" i18n="@@radioconfigmenu">
    <img title="radio-config" src="assets/svg/ham-radio.svg">
    Radio Configuration
  </a>
  <a routerLink="/user-manage" i18n="@@usermanagegmenu" *ngIf="!generalLogin">
    <img title="user-manage" src="assets/svg/circle-user.svg">
    User management
  </a>
  <a routerLink="/login" i18n="@@loginmenu" *ngIf="!currentUser">
    <img title="login" src="assets/svg/sign-in-alt-solid.svg">
    Login
  </a>
  <a routerLink="/user" (click)="logout()" *ngIf="currentUser">
    <img src="assets/svg/sign-out-alt-solid.svg">
    <span class="logged" i18n="@@logoutmenu">
      Logout
    </span>
  </a>
</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@errorcustomerror">There was an error on precessing your request <br /><br /></span>
    <span>{{error}}</span>
    <div class="icon"><a (click)="closeError()">
        <img title="close" src="assets/svg/x.svg"></a>
    </div>
  </div>
</div>