<loading [loading]="loading"></loading>
<h2>Logs</h2>
<button (click)="showCustomLogs()">
    <span i18n="@@customlogbutton">Custom Logs</span>
</button>
<button class="m-l-10" (click)="showUucpLog()">
    <span i18n="@@uucplog">UUcp Log</span>
</button>
<button class="m-l-10" (click)="showEmailLog()">
    <span i18n="@@emaillog">Email Log</span>
</button>

<div class="formdata m-t-25" *ngIf="customLog">
    <h3 i18n="@@customlogstitle">Custom log</h3>
    <div class="row">
        <input placeholder="Search errors" i18n-placeholder id="searchbox1" [(ngModel)]="searchError" />
        <div class="row" *ngFor="let error of customErrors | filter:searchError; let i = index">
            <div class="row">
                <p (click)="viewLog(i)">
                    <b i18n="@@customerrordatehour">Date Hour: </b>
                    {{error.created_at | date:'short'}} hr
                    <button class="m-l-10 float-right">
                        <img class="icon" src="assets/svg/eye.svg">
                    </button>
                </p>
                <div class="row m-t-10 " [hidden]="visibleArray[i] == false ? true : false">
                    <p><b i18n="@@customerrorcode">Error code:</b> {{error.error_code}}</p>
                    <p><b i18n="@@customerrorcstation">Station:</b> {{error.station}}</p>
                    <p><b i18n="@@customerrorcontroller">Controller: </b> {{error.controller}}</p>
                    <p><b i18n="@@customerrormessage">Message:</b></p>
                    <p>{{error.error_message}}</p>
                    <p><b i18n="@@customerrorstacktrace">Stack Trace:</b></p>
                    <p> {{error.stacktrace == null ? '-' : error.stacktrace}}</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<div class="formdata m-t-25" *ngIf="uLog">
    <h3 i18n="@@uucpllogsog2">uucp log</h3>
    <!-- <hr /> -->
    <div class="logs">
        <section>
            <div *ngFor="let log of uucpLog">
                <p class="m-t-10"> {{log}}</p>
                <hr />
            </div>
            <br>
        </section>
    </div>
</div>
<div class="formdata m-t-25" *ngIf="eLog">
    <h3 i18n="@@emaillog2">email log</h3>
    <!-- <hr /> -->
    <div class="logs">
        <section>
            <div *ngFor="let log of mailLog">
                <p class="m-t-10">{{log}}</p>
                <hr />
            </div>
        </section>
        <br>
    </div>
</div>
<div class="formdata m-t-25" *ngIf="dLog">
    <h3 i18n="@@debuglog2">uucp debug log</h3>
    <hr />
    <div class="logs">
        <section>
            <div *ngFor="let log of uucpDebugLog">
                <p>{{log}}</p>
                <hr />
            </div>
        </section>
        <br />
    </div>
</div>
<div>
    <div class="overall alert" *ngIf="errorAlert==true">
        <div class="cv">
            <span i18n="@@errorprocessing">There was an error on processing your request <br /><br /></span>
            <span>{{error}}</span>
            <div class="icon"><a (click)="closeError()">
                    <img title="compose" src="assets/svg/x.svg"></a>
            </div>
        </div>
    </div>
</div>