<loading [loading]="loading"></loading>
<div class="row" *ngIf="system">
    <div class="row">
        <span i18n="@@statusmachine">Status: </span>
        <div *ngIf="!system.status" class="redcircle"></div>
        <div *ngIf="system.status" class="greencircle"></div>
        {{system.status == true ? 'ON' : 'OFF'}}
    </div>

    <div class="row">
        <span i18n="@@freespace">Free Space: </span>
        {{system.diskfree /1024 /1024 | number}} GB
        <div class="row m-t-10">
            <span *ngIf="criticSpace" class="alert" i18n="storagelow">
                System storage is low! please delete messages and
                files
            </span>
        </div>
    </div>
</div>
<h2 class="m-t-25">Logs</h2>

<button (click)="showCustomLogs()">
    <span i18n="@@errorlogbutton">Error Log</span>
</button>
<button class="m-l-10" (click)="showUucpLog()">
    <span i18n="@@uucplog">UUcp Log</span>
</button>
<button class="m-l-10 m-t-10" (click)="showEmailLog()">
    <span i18n="@@emaillog">Email Log</span>
</button>

<div class="formdata m-t-25" *ngIf="customLog">
    <h3 i18n="@@errorlog">Error log</h3>
    <div class="row">
        <button class="m-t-10" i18n="@@btndeleteallcustomerror" (click)="confirmDeleteAllCustomError()">
            delete all
        </button>
        <input i18n="@@searcherrorplaceholder" i18n-placeholder placeholder="search error" id="searchbox1"
            [(ngModel)]="searchError" />
        <div class="row" *ngFor="let error of customErrors | filter:searchError; let i = index">
            <div class="row" (click)="viewLog(i)">
                <p>
                    <b i18n="@@customerrordatehour">Date Hour: </b>
                    {{error.created_at | date:'short'}} hr
                    <button class="m-l-10 float-right">
                        <img class="icon" src="assets/svg/eye.svg">
                    </button>
                </p>
                <div class="row m-t-10 " [hidden]="visibleArray[i] == false ? true : false">
                    <p><b i18n="@@customerrorcode">Error code:</b> {{error.error_code}}</p>
                    <p><b i18n="@@customerrorcstation">Station:</b> {{error.station}}</p>
                    <p><b i18n="@@customerrorcontroller">Controller: </b> {{error.controller}}</p>
                    <p><b i18n="@@customerrormessage">Message:</b></p>
                    <p>{{error.error_message}}</p>
                    <p><b>Stack Trace:</b></p>
                    <p> {{error.stacktrace == null ? '-' : error.stacktrace}}</p>
                    <p>
                        <button class="m-t-10" i18n="@@btndeletecustomerror" (click)="deleteCustomError(error.id)">
                            delete
                        </button>
                    </p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<div class="formdata m-t-25" *ngIf="uLog">
    <h3 i18n="@@uucpllogsog2">uucp log</h3>
    <!-- <hr /> -->
    <div class="logs">
        <section>
            <div *ngFor="let log of uucpLog">
                <p class="m-t-10"> {{log}}</p>
                <hr />
            </div>
            <br>
        </section>
    </div>
</div>
<div class="formdata m-t-25" *ngIf="eLog">
    <h3 i18n="@@emaillog2">email log</h3>
    <!-- <hr /> -->
    <div class="logs">
        <section>
            <div *ngFor="let log of mailLog">
                <p class="m-t-10">{{log}}</p>
                <hr />
            </div>
        </section>
        <br>
    </div>
</div>
<div class="formdata m-t-25" *ngIf="dLog">
    <h3 i18n="@@debuglog2">uucp debug log</h3>
    <hr />
    <div class="logs">
        <section>
            <div *ngFor="let log of uucpDebugLog">
                <p>{{log}}</p>
                <hr />
            </div>
        </section>
        <br />
    </div>
</div>
<div>
    <div class="overall alert" *ngIf="errorAlert==true">
        <div class="cv">
            <span i18n="@@errorprocessing">There was an error on processing your request <br /><br /></span>
            <span>{{error}}</span>
            <div class="icon"><a (click)="closeError()">
                    <img title="compose" src="assets/svg/x.svg"></a>
            </div>
        </div>
    </div>
    <div class="overall alert" *ngIf="confirmDeleteAllLogs==true">
        <div class="cv">
            <span i18n="@@deleteallcustomerrosconfirmation">	Are you sure you want to delete all error logs? </span>
            <br /><br />
            <button type="submit" (click)="deleteCustomError()" i18n="@@deleteall">delete all</button>
            <button class="m-l-10" type="submit" i18n="@@cancel" (click)="closedeleteconfirmation()">cancel</button>
        </div>
    </div>
</div>