<div class="container">
    <loading [loading]="loading"></loading>
    <div *ngIf="!loginForm">
        <div class="flexible">
            <h2 i18n="@@publicmessages1" class="">Public Messages </h2>
            <hint [showHint]="false" [hint]="'messages'"></hint>
            <div class="row">
                <button *ngIf="allowCompose" routerLink="/compose">
                    <span i18n="@@newmessage">
                        <img title="new message" src="assets/svg/edit.svg">
                        new
                    </span>
                </button>
                <button class="m-l-10" routerLink="/sent">
                    <span i18n="@@sent1">
                        <img title="sent" src="assets/svg/cloud-upload-alt-solid.svg">
                        sent messages
                    </span>
                </button>
            </div>
        </div>
        <input id="searchbox1" [(ngModel)]="searchMessages" placeholder="search" i18n-placeholder />
        <div class="alert maincontainer" *ngIf="noMessages" i18n="cannotaccessmessages">There are no public
            messages<br />
        </div>

        <div class="messages maincontainer" *ngIf="!noMessages">
            <div class="multiplist">
                <div class="item" *ngFor="let message of inboxMessages | filter:searchMessages;">
                    <div class="maininfo">
                        <img class="inlineicon right" title="trash" src="assets/svg/trash-alt.svg" [hidden]="!isadmin"
                            (click)="selectMessage(message);showDelete()">
                        <div>
                            <div class="row">
                                <span class="date ls"><span i18n="@@from">From:</span> {{message.orig}}, {{message.sent_at}}
                                </span>
                            </div>
                            <a routerLink="/message/{{message.id}}" title="{{message.id}} from {{message.dest}}">
                                <span class="ls">{{message.name}}</span>
                                <img class="inlineicon ls" title="lock" src="assets/svg/lock.svg"
                                    *ngIf="message.secure">
                                <span *ngIf="message.file">
                                    <img class="inlineicon ls" title="file" src="assets/svg/paperclip-solid.svg">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overall alert" *ngIf="deleteMessage">
            <div class="cv">
                <span i18n="@@areyousuredeletemsg">Are you sure yo want to delete this message? <br /><br />
                </span>
                <span>{{selectedMessage.name}}</span>
                <div class="row m-t-10">
                    <button i18n="@@cancelmt" (click)="showDelete()">cancel</button>
                    <button (click)="deleteThisMessage()" i18n="@@delete" class="m-l-10 danger">delete</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="overall alert" *ngIf="errorAlert==true">
            <div class="cv">
                <span i18n="@@errorprocessing">
                    There was an error on processing your request 
                </span>
                <div class="row m-t-10">
                    {{error}}
                </div>
                <div class="row m-t-10">
                    <button (click)="closeError()" i18n="@@closeerrorbutton">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>