:host {
  display: block;
  width: 100%;

  canvas {
    display: block;
    width: 100%;
    image-rendering: pixelated;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 3px 8px, rgba(0, 0, 0, 0.19) -2px 0px 15px;
  }
}
