<div class="">
    <div class="supicons">
        <div class="" >
            <a routerLink="/compose" >
                <img title="help" src="assets/svg/edit.svg">
            </a>
        </div>
        <div class="" >
            <a routerLink="/" i18n="@@sent2">
                <img title="help" src="assets/svg/comment.svg">
            </a>
        </div>
    </div>


    

    <div class="overall alert" *ngIf="confirmTransmit">
        <div class="cv" >
            <span i18n="@@ysyncronizenow">Are you sure you want to synchronize now? <br/> This should be used only in case of emergency<br/></span>
            
            <div class="icon" ><a (click)="confTransmit()" >
                <button i18n="@@cancels">cancel</button><img title="compose" src="assets/svg/x.svg"></a>
            </div>
            <div class="icon" ><a (click)="transmitNow()" >
                <button i18n="@@transmits">transmit now</button><img title="help" src="assets/svg/arrow-right.svg"></a>
            </div>
        </div>
    </div>


    <h2 i18n="@@sentmessages">Sent Messages </h2>

    <div class="alert" *ngIf="noMessages" i18n="cannotaccesssentmessages">Alert: Cannot access sent messages<br/></div>

    <div *ngIf="!noMessages">
    <span i18n="@@searchmessages">Search Messages: </span><input class="searchbox1" [(ngModel)]="searchMessages"/>

    <div class="messages">
        
            <div class="multiplist">
                <div *ngFor="let message of sentMessages | filter:searchMessages">
                    <a ><img class="inlineicon" title="cancel" src="assets/svg/trash-alt.svg" *ngIf="isadmin" (click)="removeMessage(message)"></a>
                    
                    <a routerLink="/message/{{message.id}}">
                    {{message.name}}
                    <span *ngIf="message.file">                     
                        <img class="inlineicon" title="file" src="assets/svg/paperclip-solid.svg">
                    </span>
                    <span *ngIf="message.secure">                     
                        <img class="inlineicon" title="file" src="assets/svg/lock.svg">
                    </span>
                    <div class="inlineicon" class="date">{{message.sent_at | date:'d/M/yy, h:mm'}}</div>
                    </a>
                </div>
                <!-- {{message.dest}}-->
            </div>
            </div>
    </div>
        <h2 i18n="@@transmissionlist">Transmission list</h2>

        <div class="alert" *ngIf="noUUcp" i18n="cannotaccessuucp">Alert: Cannot access transmission list<br/></div>
        <div class="alert" *ngIf="noQueue" i18n="noqueue">There are no messages to transmit<br/></div>

    <div class="queue messages">
        <div class="multiplist">
            <div *ngFor="let job of queue | filter:searchMessages">
            <a >
                <span *ngIf="isadmin" ></span>
                <img class="inlineicon" title="cancel mail" src="assets/svg/trash-alt.svg" *ngIf="job.type!=='HMP'" (click)="cancelMail(job.uuidhost,job.uuiduucp)">
                <img class="inlineicon" title="cancel message" src="assets/svg/trash-alt.svg" *ngIf="job.type=='HMP'" (click)="cancelTransmission(job.uuidhost,job.uuiduucp)"></a>
                <span> {{job.uuidhost}}.{{job.uuiduucp}} </span>
                <span >
                    <img class="inlineiconj" src="assets/svg/envelope.svg" *ngIf="job.type!=='HMP'"> 
                    <img class="inlineiconj" src="assets/svg/comment.svg" *ngIf="job.type=='HMP'"> 
                </span>
                <div class= "date">
                <span >{{job.date}} </span> 
            <span >{{job.time}}</span> 
            <span > {{job.size}} B</span> 
        
            
            
        
		</div>
     </div>  
     </div> 
        <p i18n="@@listsize" class="date size">Total size of files to transmit: {{ getQueueSize() }} total size</p>
        <a (click)="confTransmit()">
            transmit now <img class="inlineiconlink" title="cancel" src="assets/svg/arrow-right.svg" [hidden]="!isadmin" >
        </a>
    </div>

    <hr>

        <div class="navicons">
            <div class="btn" >
                <a routerLink="/compose" i18n="@@compose3">
                    <img title="help" src="assets/svg/edit.svg">compose
                </a>
            </div>
            <div class="btn sent" >
                <a routerLink="/" i18n="@@messages2">
                    <img title="help" src="assets/svg/comment.svg"> messages
                </a>
            </div>
        </div>

        <div class="overall alert" *ngIf="errorAlert==true">
            <div class="cv" >
                <span i18n="@@errorprocessing">There was an error on processing your request <br/><br/></span>
                <span>{{error}}</span>
                <div class="icon" ><a (click)="closeError()" >
                    <img title="compose" src="assets/svg/x.svg"></a>
                </div>
        
            </div>
        </div>
    </div>


    
    <!--<app-message-detail [message]="selectedMessage"></app-message-detail>-->