<div class="">
    <div class="supicons">
        <div class="" >
            <a routerLink="/compose" >
                <img title="help" src="assets/svg/edit.svg">
            </a>
        </div>
        <div class="" >
            <a routerLink="/sent" i18n="@@sent2">
                <img title="help" src="assets/svg/comment.svg">
            </a>
        </div>
    </div>


    <h2 i18n="@@transmissionlist">Transmission list UUCP</h2>

    <div class="queue">
        <div class="multiplist">
            <p *ngFor="let job of queue | filter:searchMessages">
            <a >
                <img class="inlineicon" title="cancel" src="assets/svg/x.svg" [hidden]="!isadmin" (click)="cancelTransmission(job.uuidhost,job.uuiduucp)"></a>
            <span class="date">{{job.date}}</span>
            <span class="date">{{job.time}}</span> 
            <span >
                <img class="inlineiconj" src="assets/svg/envelope.svg" *ngIf="job.type!=='HMP'"> 
                <img class="inlineiconj" src="assets/svg/comment.svg" *ngIf="job.type=='HMP'"> 

            </span>
            <span>{{job.type}} {{job.uuidhost}}.{{job.uuiduucp}} {{job.size}}</span>
            </p>
		</div>
        <p i18n="@@listsize">Total size of files to transmit: TODO total size</p>
        <button (click)="confTransmit()">
            transmit now <img class="inlineiconlink" title="cancel" src="assets/svg/arrow-right.svg" [hidden]="!isadmin" >
        </button>
    </div>

    <div class="overall alert" [hidden]="confirmTransmit==false">
        <div class="cv" >
            <span i18n="@@yourmessageprocessed">Are you sure you want to syncronize now? <br/><br/></span>
            
            <div class="icon" ><a (click)="confTransmit()" >
                <img title="compose" src="assets/svg/x.svg"><button i18n="@@cancels">cancel</button></a>
            </div>
            <div class="icon" ><a (click)="transmitNow()" >
                <img title="help" src="assets/svg/arrow-right.svg"><button i18n="@@transmits">transmit now</button></a>
            </div>
        </div>
    </div>

    <span i18n="@@searchmessages">Search Messages: </span><input class="searchbox2" [(ngModel)]="searchMessages"/>

    <h2 i18n="@@sentmessages">Sent Messages </h2>
    <div class="messages">
        
            <div class="multiplist">
                <p *ngFor="let message of sentMessages.slice().reverse() | filter:searchMessages">
                    <a ><img class="inlineicon" title="cancel" src="assets/svg/x.svg" [hidden]="!isadmin" (click)="removeMesage(message)"></a>
                <span class="inlineicon" class="date">{{message.sent_at | date:'h:mm'}}</span>
                <a routerLink="/message/{{message.id}}">
                    {{message.name}}
                    <span *ngIf="message.file">                     
                        <img class="inlineicon" title="file" src="assets/svg/paperclip-solid.svg">
                    </span>
                </a>

                <!-- {{message.dest}}-->
                </p>
            </div>
        </div>

        <div class="navicons">
            <div class="btn" >
                <a routerLink="/compose" i18n="@@compose3">
                    <img title="help" src="assets/svg/edit.svg">compose
                </a>
            </div>
            <div class="btn sent" >
                <a routerLink="/" i18n="@@messages2">
                    <img title="help" src="assets/svg/comment.svg"> messages
                </a>
            </div>
        </div>
    </div>


    <!--<app-message-detail [message]="selectedMessage"></app-message-detail>-->