<div class="">
    <div class="supicons">
        <div class="" >
            <a routerLink="/compose" >
                <img title="help" src="assets/svg/edit.svg">
            </a>
        </div>
        <div class="" >
            <a routerLink="/sent" i18n="@@sent2">
                <img title="help" src="assets/svg/comment.svg">
            </a>
        </div>
    </div>

    <span i18n="@@searchmessages">Search Messages: </span><input class="searchbox2" [(ngModel)]="searchMessages"/>


    <h2 i18n="@@transmissionlist">Transmission list</h2>

    <div class="messages">
        <div class="multiplist">
            <p *ngFor="let message of draftMessages | filter:searchMessages">
            <a >
                <img class="inlineicon" title="cancel" src="assets/svg/x.svg" [hidden]="!isadmin" (click)="cancelTransmission(message)"></a>
            <!--<a ><img class="inlineicon" title="priorize" src="assets/svg/arrow-up.svg" [hidden]="!isAdmin"></a>-->
            <span class="date">{{message.sent_at | date:'h:mm'}}</span>
            <a routerLink="/message/{{message.id}}">
                {{message.name}}
                <span *ngIf="message.file"> 💮</span>
            </a>
            <!-- {{message.dest}}-->
            </p>
        </div>
    </div>

    <h2 i18n="@@sentmessages">Sent Messages </h2>
    <div class="messages">
        
            <div class="multiplist">
                <p *ngFor="let message of sentMessages.slice().reverse() | filter:searchMessages">
                    <a ><img class="inlineicon" title="cancel" src="assets/svg/x.svg" [hidden]="!isadmin" (click)="cancelTransmission(message)"></a>
                <span class="inlineicon" class="date">{{message.sent_at | date:'h:mm'}}</span>
                <a routerLink="/message/{{message.id}}">
                    {{message.name}}
                    <span *ngIf="message.file">                     
                        <img class="inlineicon" title="file" src="assets/svg/paperclip-solid.svg">
                    </span>
                </a>

                <!-- {{message.dest}}-->
                </p>
            </div>
        </div>

        <div class="navicons">
            <div class="btn" >
                <a routerLink="/compose" i18n="@@compose3">
                    <img title="help" src="assets/svg/edit.svg">compose
                </a>
            </div>
            <div class="btn sent" >
                <a routerLink="/" i18n="@@messages2">
                    <img title="help" src="assets/svg/comment.svg"> messages
                </a>
            </div>
        </div>
    </div>


    <!--<app-message-detail [message]="selectedMessage"></app-message-detail>-->