<loading [loading]="loading"></loading>

<div *ngIf="!allowCompose">
  <div id="compose" class="" *ngIf="allowhmp=='users'" i18n="@@cantcompose">
    <p>Only registered users can send messages to other stations, if you are a registered user, please log in.</p>
  </div>
  <div id="compose" class="" *ngIf="allowhmp=='admin'" i18n="@@cantcompose2">
    <p>Only admin users can send messages to other stations, if you are an admin, please log in. </p>
  </div>
</div>

<div id="compose" class="" *ngIf="allowCompose">
  <div class="flexible">
    <h2 i18n="@@sendpublic">
      New message
    </h2>
    <hint [showHint]="false" [hint]="'newmessage'"></hint>
  </div>

  <form #f="ngForm" class="formdata" novalidate>
    <div [hidden]="fileIsProcessing==true">
      <label class="selstation">
        <span i18n="@@selectstation1" class="space">To</span>
        <ng-container *ngIf="stations">
          <select *ngIf="!isGateway" name="dest" [(ngModel)]="message.dest" required>
            <option *ngFor="let station of stations" value="{{station.alias}}">
              {{station.alias}}
              <!-- {{station.nickname}} -->
            </option>
          </select>
          <ng-select id="selmult" #getModelValue="ngModel" *ngIf="isGateway" name="dest" [selectableGroup]="true"
            [items]="stations" bindValue="alias" groupBy="selectedAllGroup" bindLabel="alias"
            [selectableGroupAsModel]="false" [closeOnSelect]="false" [(ngModel)]="message.dest" multiple=true required>
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                [ngModelOptions]="{standalone: true}" /> <span i18n="@@selectall"> Select All</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                [ngModelOptions]="{standalone: true}" />
              {{item.alias}}
              <!-- {{item.nickname}} -->
            </ng-template>
          </ng-select>
        </ng-container>
      </label>
      <label for="name">
        <span i18n="@@description">Subject</span>
        <br /><input i18n="@@describemessage" name="name" [(ngModel)]="message.name" required maxlength="140"
          i18n-placeholder placeholder="Describe your message" />
      </label>
      <label for="text">
        <span i18n="@@messageComposeLabel">Message</span>
        <br />
        <textarea name="text" [(ngModel)]="message.text" required rows="8" cols="35" maxlength="1400" i18n-placeholder
          placeholder="write the message"></textarea>
      </label>
      <div class="uploader m-t-25" *ngIf="allowUpload">
        <ng-container>
          <input type="file" capture="camera" accept="image/*" name="cameraInput" (change)="onFileCamSelected($event)"
            style="display: none;" #fileCamUpload>
          <input type="file" name="fileup" (change)="onFileSelected($event)" style="display: none;" #fileUpload>
          <!-- <span i18n="@@attachfile" class="m-t-10">Attach File: </span> -->
          <p class="fileName" *ngIf="fileName">
            {{fileName}}
          </p>
          <!-- <p i18n="@@nofile" class="fileName" *ngIf="!fileName">
            no file selected
          </p> -->
          <input type="file" name="fileup" (change)="onFileSelected($event)" style="display: none;" #fileUpload>
          <p class="error" *ngIf="fileSizeError" i18n="@@fileSizeErrorMessage">
            File's too big, max size is <b>20.48MB</b>
          </p>
          
          <button *ngIf="!fileSelected" (click)="fileUpload.click()" i18n="@@selfile">select file</button>
          <!-- <input type="file" accept="image/*" capture="user" (change)="onFileCamSelected($event)" style="display: none;"
          #fileCamUpload>
          <button class="m-l-10" *ngIf="!fileSelected && mobile" (click)="fileCamUpload.click()"
          i18n="@@camfile">camera</button>
          <button class="m-l-10" *ngIf="!fileSelected && !mobile" (click)="openWebCamDesktop()"
          i18n="@@camfile">camera</button> 
          <button *ngIf="!fileSelected" (click)="audioRecorder()" i18n="@@audiorecorder" class="m-l-10">audio recorder</button> -->
          <button *ngIf="fileSelected || file" (click)="removeFile()" i18n="@@remfile">remove
            file
          </button>
          <hint [showHint]="false" [hint]="'attachfile'"></hint>
        </ng-container>
        <div *ngIf="message && message.id && message.file">
          <br>
          <span>{{message.file}} </span>
          <br>
          <span i18n="@@Img">Img:</span>
          <img src={{$event.target.files[0].content}}>
        </div>
      </div>
      <label class="passprotect">
        <span class="icon lock">
          <button i18n="@@protectpssw" (click)="encrypted()">
            <img title="messages" src="assets/svg/lock.svg">
            protect message
          </button>
          <!-- <input type="checkbox" unckecked/> -->
        </span>
      </label>
      <div id="cryptopass" *ngIf=isEncrypted>
        <label for="passwd">
          <span i18n="@@typethepassword">Type the password</span>
          <input type="password" name="pass" [(ngModel)]="passwd" minlength="4" maxlength="20"
            (input)="checkpwd(passwd,repasswd)" />
        </label>
        <label for="repasswd">
          <span i18n="@@retypethepassword2">Retype the password</span>
          <input type="password" [(ngModel)]="repasswd" minlength="4" maxlength="20" (input)="checkpwd(passwd,repasswd)"
            [ngModelOptions]="{standalone: true}" />
        </label>
        <div [hidden]=!passunMatch class="error" i18n="@@passdontmatch">
          passwords don't match
        </div>
        <div [hidden]=!passMin class="error" i18n="@@passempty">
          passwords can't be empty
        </div>
      </div>
      <span></span>
      <div class="m-t-10">
        <button type="submit" (click)="sendMessage(f)"
          [disabled]="!message.dest.length || !message.name || (isEncrypted && !passMatch)" i18n="@@sendmessage">
          send message
        </button>
      </div>
    </div>
    <div class="overall alert" [hidden]="errorAlert==false">
      <div class="cv">
        <span i18n="@@errorsendingmsg">There was an error on sending your message <br /><br /></span>
        <span>{{error}}</span>
        <button class="m-t-10" (click)="closeError()" i18n="@@closeerrorbutton">
          close
        </button>
      </div>
    </div>
    <div class="alert" [hidden]="!fileIsProcessed" i18n="@@messagesenttolist">
      Your message was sent to the transmission list
    </div>

    <div class="overall alert" *ngIf="audioRecorderOverall">
      <div class="cv">
        <recorder [file]="url" [maxSize]="maxSize" [fileName]="fileName" [fileSelected]="fileSelected"
          (emitteFileOP)="addFileItemEmitted($event)"></recorder>

        <button class="m-t-10" (click)="closeaudioRecorder()" i18n="@@closeerrorbutton">
          close
        </button>
      </div>
    </div>
    <div class="overall alert" [hidden]="!webCamDesktop" id="webCamDesktop">
      <div class="cv">
        <button class="m-t-10" (click)="closeWebCamDesktop()" i18n="@@closeerrorbutton">
          close
        </button>
        <video class="m-t-50" width="680" height="480" #video></video>
        <canvas id="canvas" [width]="WIDTH" [height]="HEIGHT" #canvas></canvas>
        <div>
          <button i18n="@@Capture" (click)="capture($event)">Capture</button>
        </div>
      </div>
    </div>
  </form>
</div>