<loading [loading]="loading"></loading>
<div class="row">
</div>
<div class="flexible">
  <h2 i18n="@@smsmassagelabel">SMS Message</h2>
  <hint [showHint]="false" [hint]="'smslist'"></hint>
  <div class="row">
    <button (click)="newMessage()" i18n="@@newsmsmessage">
      new sms message
    </button>
    <div class="overall alert" [hidden]="startChat==false">
      <div class="cv">
        <span i18n="@@newmessagelabel">Type the phone number to start a new SMS chat </span>
        <br />
        <span i18n="@@phonenumberpatternlabel">Example: </span> +1 123-456-7890
        <div class="row m-t-10">
          <form #f="ngForm">
            <input i18n="@@phonenumber" name="phoneNumber" [(ngModel)]="phoneNumber" required maxlength="16"
              i18n-placeholder placeholder="Phone number" (keyup)="validatePhoneNumber(f)" />
            <div class="m-t-10">
              <button (click)="newMessage()" i18n="@@close">close</button>
              <button class="m-l-10" (click)="sendNewMessage(f)" i18n="@@send"
                [disabled]="!this.phoneNumberValidator">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-t-10">
  <div class="messages maincontainer" *ngIf="message != null && messages.length > 0">
    <div class="multiplist">
      <div class="item" *ngFor="let message of filteredMessages | filter:searchMessages;">
        <div class="maininfo">
          <a routerLink="/smschat/{{message.id}}">
            <div class="row">
              <span class="date ls">{{message.date}}</span>
            </div>
            <span class="ls">{{message.phoneNumber}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!messages || messages.length == 0">
  <span>No SMS messages until now</span>
</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@websocketerror">There was an error on processing your request </span>
    <div class="row m-t-10">
      {{error}}
    </div>
    <button class="m-t-10" (click)="closeError()" i18n="@@close">close</button>
  </div>
</div>