
<div class="formfield login">
<p i18n="@@instructions">To access mail, put your name and password</p>
<label>
    <p i18n="@@username">username:</p> <input  placeholder="username" />
 </label>
 <label>
    <p i18n="@@password">password:</p> <input type="password" placeholder="password" />
 </label>
 <br/>
 <a i18n="@@login" routerLink="/admin" i18n="@@adminlogin"><button>Log in</button></a>
<p ><a i18n="@@forgot">Forgot my password</a></p>

 <p i18n="@@noaccount">Doesn't have an account?</p> 

 <button i18n="@@create">create an account</button>
</div>
