<h2 i18n="@@login">Login</h2>
<form #f="ngForm" id="loginform" novalidate>
    <p class="alert" i18n="@@wrong1" *ngIf="wrong">wrong username or password</p>
    <label>
        <p i18n="@@username:">username:</p>
        <input type="text" i18n="@@ilogin" name="email" ngModel required placeholder="Login" i18n-placeholder />
    </label>
    <label>
        <p i18n="@@password">password:</p>
        <input name="password" i18n="@@ipass" type="password" ngModel required i18n-placeholder
            placeholder="Password" />
    </label>
    <label class="m-t-10">
        <a>
            <button (click)="submitLogin(f)" [disabled]="f.invalid" i18n="@@log_in">Log in</button>
        </a>
    </label>
</form>
