<div class="login formdata">
   <h1>HERMES - V3.58.61</h1>
   <p>Rhizomatica</p>
   <div class="row m-t-25">
      <a routerLink="/languages" i18n="@@chooselanguage">Choose your language</a>
   </div>
   <p i18n="@@instructions" class="m-t-25">To login to the system, put your username and password
      <hint [showHint]="false" [hint]="'login'"></hint>
   </p>
   <hr>
   <div class="row m-t-25">
      <form #f="ngForm" id="loginform" novalidate>
         <div class="flexible" style="margin:auto 0">
            <div class="column">
               <p class="alert" *ngIf="wrong" i18n="@@wrong2">wrong username or password</p>
               <div class="row">
                  <label>
                     <input type="text" name="email" required placeholder="Login" i18n-placeholder ngModel />
                  </label>
                  <label>
                     <input type="password" name="password" required i18n="@@ipass" placeholder="Password"
                        i18n-placeholder ngModel />
                  </label>
               </div>
            </div>
            <div class="column">
               <div class="row m-t-10 m-l-10">
                  <button (click)="submitLogin(f)" [disabled]="f.invalid" i18n="@@log_in">log
                     in</button>
               </div>
            </div>
         </div>
      </form>
      <div class="row m-t-25">
         <a routerLink="/home" i18n="@@continuewithoutlogin" *ngIf="!requireLogin">Continue without login
         </a>
      </div>
      <div class="row m-t-50" *ngIf="!requireLogin">
         <p i18n="@@noaccount">Don't have an account?</p>
         <a routerLink="/user-manage">
            <button i18n="@@createbtn">create an account</button>
         </a>
      </div>
   </div>
</div>