
<div class=" login formdata" >
   <h2 i18n="@@login">Login</h2>
   <form #f="ngForm" id="loginform" novalidate>
      <p>Hermes V. 1.0</p>
      <p i18n="@@instructions">to access admin features, put your username and password</p>
      <hr>
      <label >
         <p i18n="@@username:">username:</p>
         <input i18n="@@ilogin" name="email"  ngModel required placeholder="Login" i18n-placeholder/>
      </label>
      <label >
         <p i18n="@@password">password:</p>
          <span></span><input name="password" i18n="@@ipass" type="password" ngModel required i18n-placeholder placeholder="Password" />
      </label>

      <a >
         <button (click)="submitLogin(f)" [disabled]="f.invalid" i18n="@@log_in" >Log in</button></a>
         <br/>
         <br/>
         <a  routerLink="/recovery" *ngIf="!success">
            <div ><a i18n="@@forgotmypassword">Forgot my password</a></div>
         </a>
      <br>

     <!-- <button (click)="submitLogout()"  >logout test</button>


      <a i18n="@@login" routerLink="/admin"  >
         <button>DBG: Bypass Log in</button>
      </a>

   -->
   <hr>
      

      <p i18n="@@noaccount">Doesn't have an account?</p>

      <a routerLink="/manage" ><button i18n="@@create">create an account</button></a>

   </form>
</div>
