<div class=" login formdata">
   <form #f="ngForm" id="loginform" novalidate>
      <h1>Hermes</h1>
      <p i18n="@@instructions">To login to the system, put your username and password</p>
      <hr>
      <p class="alert" *ngIf="wrong" i18n="@@wrong2">wrong username or password</p>
      <label>
         <p i18n="@@username:">username:</p>
         <input type="text" name="email" required placeholder="Login" i18n-placeholder ngModel />
      </label>
      <label>
         <p i18n="@@password">password:</p>
         <input type="password" name="password" required i18n="@@ipass" placeholder="Password" i18n-placeholder
            ngModel />
      </label>
      <div class="row">
         <button class="m-t-10 m-b-10" (click)="submitLogin(f)" [disabled]="f.invalid" i18n="@@log_in">log in</button>
         <a routerLink="/help" i18n="@@helplogin"  class="icon m-l-25">
            <img title="help" src="assets/svg/question-circle-regular.svg" class="p-t-25">
            help
          </a>
      </div>
   </form>
</div>