body.ar nav .nav-domain,
body.ar nav .nav-frequency,
body.ar nav .nav-operation-mode {
    right: 88%;
}

body.ar nav img {
    left: 20px;
}

body.ar .formfield #searchbox1 {
    background: #fff 3% no-repeat url(../assets/svg/magnifying-glass-solid.svg);
    background-size: 30px;
}

body.ar .rotated-svg {
    transform: rotate(180deg);
    transform-origin: center center;
}

body.ar .float {
    position: fixed;
    left: 15px;
}

body.ar .float-right {
    flex-direction: row-reverse;
}

body.ar .float .floatbutton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    padding: 5px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.ar label {
    text-align: right;
}

body.ar .formdata button.midbt {
    text-align: right;
}

body.ar button {
    margin-right: 15px;
}

body.ar nav .burguer {
    padding-left: 20px;
}

body.ar .formfield {
    margin-inline: auto;
}

#radioconf .card {
    text-align: right;
}

.redcircle {
    margin-left: 5px;
}


//sbtix v2
@media (max-width: 1300px) {

    body.ar .fullpage {
        padding-bottom: 200px;
        margin-bottom: 200px;
    }

    body.ar nav .nav-domain,
    body.ar nav .nav-frequency,
    body.ar nav .nav-operation-mode {
        right: 77%;
    }

    body.ar body.ar nav img {
        width: 1.8em;
    }

    body.ar body.ar .logo {
        width: 160px;
    }

    body.ar .formfield {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 150px;
    }

    .email a .card {
        min-width: 6em;
    }


}

@media (max-width: 900px) {

    body.ar nav .nav-domain,
    body.ar nav .nav-frequency,
    body.ar nav .nav-operation-mode {
        right: 72%;
    }
}

@media (max-width: 700px) {

    body.ar .shut {
        width: 0;
        text-align: right;
    }

    body.ar .flexible .card {
        margin-left: .6vw;
        width: 45vw;
    }

    body.ar .shut button.midbt {
        width: 44vw;
        margin-left: 0;
        margin-right: 0.5vw;
    }

    body.ar .radio form {
        font-size: 1rem;
        width: 98%;
    }

    body.ar nav .nav-domain,
    body.ar nav .nav-frequency,
    body.ar nav .nav-operation-mode {
        right: 48%;
    }

    body.ar nav .burguer {
        padding-left: 0px;
    }

    // body.ar nav .burguer {
    //     padding-left: 0px;
    // }

    body.ar .userlist .uemail {
        padding-right: 0.7em;
    }

    body.ar .formdata button.midbt {
        width: 33%;
    }

    body.ar .progressbar {
        height: 26px;
    }

    body.ar .radiovoice .transciever-panel .data .data-body.frequency {
        font-size: 2.3em;
    }

    body.ar .float-right {
        margin-left: 10px;
    }
}