<div class="">
<h2>Radio Configuration</h2>

<form>

    <p> Cuurent Radio frequency: 7000 kHz LSB</p> 
    
    <button (click)="changeFreq()" *ngIf="!alterFreq">change radio frequency</button>

    <div class="radio" *ngIf="alterFreq">
        <br/>
    <p><span>new frequency:</span><input></p>

    <label><input class="inl" type="radio">USB</label>
    <label><input class="inl" type="radio">LSB</label>
    <button>change frequency</button>
    <button>add to pressets</button>


    </div>
    
    <button>reset to default</button>
<!--
    <p>
        Pressets:
    </p>
-->

</form>




</div>
