<h2 i18n="@@aconfigmessages">Messages Configuration</h2>
<hr>
<div class="alert" *ngIf="noSystem" i18n="cannotaccessuucp">Alert: Cannot access Hermes System<br/></div>

<div *ngIf="isAdmin">
<div *ngIf="!noSystem" >
    <p i18n=@@selectwho>Select who can send public messages:</p>

    <form #f="ngForm" >
    <select name="allowhmp" (change)="setComposePermission($event.target.value)">
        <option [selected]='allowhmp=="all"' value="all" i18n="@@everyone">everyone</option>
        <option [selected]='allowhmp=="users"' value="users" i18n="@@registeredusers">registered users</option>
        <option [selected]='allowhmp=="admin"' value="admin" i18n="@@adminusers">admin users</option>
    </select>
    <br/>
    <!--<button i18n="@@updatema">update</button>-->
    </form>  
    
    <hr>
    
    <p i18n=@@selectwho>Select who can attach files to messages:</p>

<form #f="ngForm" >
<select name="allowfile" (change)="setUploadPermission($event.target.value)">
    <option [selected]='allowfile=="all"' value="all" i18n="@@everyone">everyone</option>
    <option [selected]='allowfile=="users"' value="users" i18n="@@registeredusers">registered users</option>
    <option [selected]='allowfile=="admin"' value="admin" i18n="@@adminusers">admin users</option>
</select>
<br/>
<!--<button i18n="@@updatema">update</button>-->
</form>
<hr>
<form #f="ngForm" >
<p i18n="@@cleanuptext">When sending messages it's possible that broken files are stored in the server, please click here to clean up the system:</p>
    <button *ngIf="!cleaned" i18n="@@cleanup" (click)="cleanUp()">Clean up lost files</button> <span i18n="@@Cleaned" class="alert" i18n="@@cleanup" *ngIf="cleaned">Cleaned!</span>
</form>

</div>

<div class="overall alert" [hidden]="errorAlert==false">
    <div class="cv" >
        <span i18n="@@errorsendingadm">There was an error on sending your message <br/><br/></span>
        <span>{{error}}</span>
        <div class="icon" ><a (click)="closeError()" >
            <img title="close" src="assets/svg/x.svg"></a>
        </div>
    </div>
</div>

</div>
<div *ngIf="!isAdmin">
    <span i18n="@@needtobeadmin2">
        Need to be an admin to access this
    </span>
   
</div>


<!--<h2 i18n="@@adminmessages">Admin Messages</h2>-->


<!--<p i18n="@@totalmessages">Total messages: TODO SIZE</p>
<p i18n="@@totalfiles">Total files: TODO SIZE</p>
<button i18n="@@deletefiles">Delete files</button>-->

<!--
<div class="messages ">

    <h3 i18n="@@messages:">Messages:</h3>
    
    <div class="multiplist">
        <p *ngFor="let message of messages">
        <a >
            <img class="inlineicon" title="cancel" src="assets/svg/x.svg" [hidden]="!isAdmin" (click)="cancelTransmission(message)">
        
        </a>
        <a ><img class="inlineicon" title="priorize" src="assets/svg/arrow-up.svg" [hidden]="!isAdmin"></a>
        <input type="checkbox" class="ckbx">  

        <span class="date">12/1/2021</span>
        <a routerLink="/message/{{message.id}}">
            {{message.name}}
        </a>
        
       
        </p>
    </div>
    <input type="checkbox" class="ckbx" i18n="@@selectall"> Select all
    <br/>

    <button (click)="confirmDelete()" *ngIf="!selectedMessages" i18n="deleteselected">delete selected</button>

    <div class="overall" *ngIf="selectedMessages">
        <div class="cv" >
            <span i18n="@@areyousuredeleteall">
                Are you sure you wanna delete all selected messages? 
            this cannot be undone!!!<br>
            </span>
            
            <button (click)="confirmDelete()" i18n="@@cancel">cancel</button>
            <button (click)="confirmDelete()" i18n="@@deletemessages">delete messages</button>
        </div>
       
    </div>

   
</div>  
 -->