<h2 i18n="@@aconfigmessages">Messages Configuration</h2>

<div class="alert" *ngIf="noSystem" i18n="cannotaccessuucp">Alert: Cannot access Hermes System<br/></div>

<div *ngIf="!noSystem" >
    <p i18n=@@selectwho>select who can attach files to messages:</p>

<form [formGroup]="allowUp">
<select name="allowfile" (change)="setUploadPermission($event.target.value)">
    <option ng-selected='allowfile=="all"' value="all" i18n="@@everyone">everyone</option>
    <option ng-selected='allowfile=="users"' value="users" selected i18n="@@registeredusers">registered users</option>
    <option ng-selected='allowfile=="admin"' value="admin" i18n="@@adminusers">admin users</option>
</select>
<br/>
<!--<button i18n="@@updatema">update</button>-->
</form>

</div>

<div class="overall alert" [hidden]="errorAlert==false">
    <div class="cv" >
        <span i18n="@@errorsendingadm">There was an error on sending your message <br/><br/></span>
        <span>{{error}}</span>
        <div class="icon" ><a (click)="closeError()" >
            <img title="compose" src="assets/svg/x.svg"></a>
        </div>
    </div>
</div>



<!--<h2 i18n="@@adminmessages">Admin Messages</h2>-->


<!--<p i18n="@@totalmessages">Total messages: TODO SIZE</p>
<p i18n="@@totalfiles">Total files: TODO SIZE</p>
<button i18n="@@deletefiles">Delete files</button>-->

<!--
<div class="messages ">

    <h3 i18n="@@messages:">Messages:</h3>
    
    <div class="multiplist">
        <p *ngFor="let message of messages">
        <a >
            <img class="inlineicon" title="cancel" src="assets/svg/x.svg" [hidden]="!isAdmin" (click)="cancelTransmission(message)">
        
        </a>
        <a ><img class="inlineicon" title="priorize" src="assets/svg/arrow-up.svg" [hidden]="!isAdmin"></a>
        <input type="checkbox" class="ckbx">  

        <span class="date">12/1/2021</span>
        <a routerLink="/message/{{message.id}}">
            {{message.name}}
        </a>
        
       
        </p>
    </div>
    <input type="checkbox" class="ckbx" i18n="@@selectall"> Select all
    <br/>

    <button (click)="confirmDelete()" *ngIf="!selectedMessages" i18n="deleteselected">delete selected</button>

    <div class="overall" *ngIf="selectedMessages">
        <div class="cv" >
            <span i18n="@@areyousuredeleteall">
                Are you sure you wanna delete all selected messages? 
            this cannot be undone!!!<br>
            </span>
            
            <button (click)="confirmDelete()" i18n="@@cancel">cancel</button>
            <button (click)="confirmDelete()" i18n="@@deletemessages">delete messages</button>
        </div>
       
    </div>

   
</div>  
 -->