<loading [loading]="loading"></loading>
<h2 i18n="@@networkadmin1">Network information</h2>
<p *ngIf="!system"> OFF </p>
<table *ngIf="system" style="width:100%;">
  <tr>
    <td class="b" i18n="@@status">Status:</td>
    <td>{{system.status}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@alias">Alias:</td>
    <td>{{system.name}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@domai">Domain:</td>
    <td>{{system.domain}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@ip">IP / Netmask address:</td>
    <td>{{system.ip}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@nodename">Node Name:</td>
    <td>{{system.nodename}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@ssid">SSID Network name:</td>
    <td>{{system.wifiessid}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@uucp">UUcp:</td>
    <td>{{system.piduu}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@modem">Modem:</td>
    <td>{{system.pidmodem}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@radion">Radio:</td>
    <td>{{system.pidradio}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@hermesr">Hermes:</td>
    <td>{{system.pidhmp}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@database">Database:</td>
    <td>{{system.piddb}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@mailn">Mail:</td>
    <td>{{system.pidpf}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@totalmemory">Total Memory:</td>
    <td>{{system.memtotal}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@usedmemory">Used Memory:</td>
    <td>{{system.memused}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@freememory">Free Memory:</td>
    <td>{{system.memfree}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@phpmemory">Php Memory:</td>
    <td>{{system.phpmemory}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@wifi">Wifi Channel:</td>
    <td>{{system.wifich}}</td>
  </tr>
  <tr>
    <td class="b" i18n="@@piddb">Piddb:</td>
    <td>{{system.piddb}}</td>
  </tr>
</table>

<hr class="m-t-25" />
<h2 i18n="@@stationsonthisnetwork" class="m-t-25">Stations on this network</h2>
<table style="width:100%">
  <tr *ngFor="let station of stations">
    <td class="b">{{station.name}}</td>
    <td>{{station.alias}}</td>
    <!-- <td *ngIf="station.checked" i18n="@@stationenabled" class="b connected">enabled</td>
    <td *ngIf="!station.checked" i18n="@@stationdisabled">disabled</td> -->
  </tr>
</table>

<div>
  <div class="overall alert" *ngIf="errorAlert==true">
    <div class="cv">
      <span i18n="@@errorprocessing">There was an error on processing your request <br /><br /></span>
      <span>{{error}}</span>
      <div class="icon"><a (click)="closeError()">
          <img title="compose" src="assets/svg/x.svg"></a>
      </div>
    </div>
  </div>
</div>