<loading [loading]="loading"></loading>
<div class="">
  <div class="flexible">
    <h2>API Custom Errors</h2>
  </div>
  <div class="row">
    <div class="row" *ngFor="let error of customErrors; let i = index">
      <div class="row">
        <p (click)="viewLog(i)">
          <b>Date Hour: </b> 
          {{error.created_at | date:'short'}} hr
          <button class="m-l-10 float-right">
            <img class="icon" src="assets/svg/eye.svg">
          </button>
        </p>
        <div class="row m-t-10 " [hidden]="visibleArray[i] == false ? true : false">
          <p><b>Error code:</b> {{error.error_code}}</p>
          <p><b>Station:</b> {{error.station}}
          <p>
          <p><b>Controller: </b> {{error.controller}}</p>
          <p><b>Message:</b></p>
          <p>{{error.error_message}}</p>
          <p><b>Stack Trace:</b></p>
          <p> {{error.stacktrace == null ? '-' : error.stacktrace}}</p>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="overall alert" [hidden]="errorAlert==false">
    <div class="cv">
      <span i18n="@@errorcustomerror">There was an error on precessing your request <br /><br /></span>
      <span>{{error}}</span>
      <div class="icon"><a (click)="closeError()">
          <img title="close" src="assets/svg/x.svg"></a>
      </div>
    </div>
  </div>
</div>