<span (click)="toggleHint()" class="icon hint m-l-10">
  <img src="assets/svg/question-circle-regular.svg" title="help">
</span>

<div class="overall" *ngIf="showHint">
  <div class="cv-hint">
    <h1 class="cv-title" i18n="@@helphinttitle">
      Help
    </h1>

    <div *ngIf="hint == 'login'" i18n="@@hintlogin">
      <h1 class="cv-title">Login</h1>
      <p>
        Use your required credentials to access the HERMES system. e.g.
      </p>
      <p class="m-t-10">
        <b>Username:</b> hermes <br />
        <b>Password:</b> hermes1234
      </p>
      <hr />
      <p class="m-t-10">
        Probably your credentials were created and provided before. If you have no access to this information
        or you forgot your password search for the system administrator to provide or change it for you.
      </p>
    </div>

    <div *ngIf="hint == 'voice'" i18n="@@hintvoice">
      <h1 class="cv-title">Voice</h1>
      <p>
        Use the voice panel to communicate via voice PTT (push to talk).
      </p>
      <p class="m-t-25">
        Step - Use the step button or select the digit to change easily the radio frequency.
      </p>
      <p>
        Volume - Volume input to regulate your speaker volume.
      </p>
      <p>
        Reset Protection - If the radio turn the protection ON you can reset the protection selecting (reset).
      </p>
      <p>
        Mode - You can change the operating mode (USB/LSB) switching the mode option button.
      </p>
    </div>

    <div *ngIf="hint == 'messages'" i18n="@@hintmessages">
      <h1 class="cv-title">Messages</h1>
      <p>
        List of public received messages.
      </p>
      <p>
        Hermes system allows transmission of text and files between connected stations, through public messages, sent
        through this interface or private messages, though Deltachat application or webmail interface.
      </p>
      <p>
        The Messages page you can see the public, send messages and also if you have the permissions you can send a new
        message for another station.
      </p>
    </div>

    <div *ngIf="hint == 'sentmessages'" i18n="@@hintsentmessages">
      <h1 class="cv-title">Sent messages</h1>
      <p>
        List of sent messages, outbox.
      </p>
      <p class="m-t-25">
        *Note: seen a sent message in this list does not mean the message was received by the destination or even
        transmitted. Check the <a routerLink="/transmision">transmission list</a> to verify the transmission status of
        your sent messages.
      </p>
    </div>

    <div *ngIf="hint == 'message'" i18n="@@hintmessage">
      <h1 class="cv-title">Message</h1>
      <p>
        On message received detail you can see all message information, title, message, file, date and time, origin and
        destinations. Select reply button for answer the message. </p>
      <p class="m-t-10">
        *Note: if it is about a protected message, typing the correct password (same defined previously by the
        emitter/origin) you can access to the message content.
      </p>
    </div>

    <div *ngIf="hint == 'newmessage'" i18n="@@hintnewmessage">
      <h1 class="cv-title">New message</h1>
      <p>
        On Compose a new message you can: Protecting messages, you will set a passcode before sending it and after
        opening that message you have to provide the same passcode. The receiver has to know the same passcode to read
        the entire message and access the attached files.
      </p>
    </div>

    <div *ngIf="hint == 'attachfile'" i18n="@@hintattachfile">
      <h1 class="cv-title">Attach file</h1>
      <p>
        Attach a file per message, it is possible to attach images, audio documents, etc.
      </p>
      <p>
        Accepted formats: .doc, .jpeg, .png, .xls, .json, .xml, ...
      </p>
      <p>
        *Note: File attachments are constrained to 20kb sizes. The system will accept inputs for image and sound up to
        30mB and for other files up to 2mb. Message packages with size greater than 20kb may not be transmitted.
      </p>
    </div>

    <div *ngIf="hint == 'email'" i18n="@@hintemail">
      <h1 class="cv-title">Email</h1>
      <p>
        The Email page you can find the Webmail system, Deltachat downloads and the stations email list, also you can
        find emergency email contact to unexpected or emergency situations.
      </p>
      <p class="m-t-25">
        *Note: To access the webmail you have to use the same credentials used to access the HERMES system.
      </p>
    </div>

    <div *ngIf="hint == 'deltachat'" i18n="@@hintdeltachat">
      <h1 class="cv-title">Deltachat</h1>
      <p>
        Through the Deltachat app, one can use HERMES emails to conduct personal message exchange communications
        (similar to WhatsApp).
      </p>
      <div class="video-hint">
        <video width="500" height="225" controls>
          <source src="videos/{{language}}/deltachat.mp4" type="video/mp4">
        </video>
      </div>
      <p>
        The HERMES system includes a compression system. End-to-end encryption should be disabled in order to allow the
        server-based image and audio compression to work properly, otherwise image and audio exchange will not be
        possible.
      </p>
      <p>
        The steps to find this feature in Deltachat are: -> Advanced -> Autocrypt, Prefer End-To-End Encryption: turn
        off: If you wish, you can also turn on email delivery monitoring to check if your emails were correctly
        delivered.
      </p>
    </div>

    <div *ngIf="hint == 'radioconfig'" i18n="@@hintradioconfig">
      <h1 class="cv-title">Radio Configuration</h1>
      <p>
        The Radio Configuration page you can find all information about the Radio Analog and Digital transmission.
      </p>
      <p class="m-t-25">
        Radio Status - radio connection status (connected / disconnected).
      </p>
      <p class="m-t-10">
        Digital Data frequency - Frequency used to transmit messages and files. All stations need to be on the same
        frequency so they can communicate with each other.
      </p>
      <p>
        *Note: Changing the frequency can stop all send and receive transmissions.
      </p>
      <p class="m-t-10">
        SWR - Standing Wave Ratio. It indicates how efficiently power is transmitted from the radio transmitter to the
        antenna. A low SWR (close to 1) indicates that the antenna is set to the correct operating frequency and the
        system will operate efficiently. A high SWR suggests that he antenna is not set to the same frequency as the
        transmitter or that it has some damage. The transmission will not be optimal and trying to operate the system
        with a high SWR can damage the transmitter.
      </p>
      <p class="m-t-10">
        Power - It is best practice to use the minimum power needed to make contact. Using a lower power setting can
        shorten the transmission range and preserve battery capacity.
      </p>
      <p class="m-t-10">
        Operation mode - TX / RX ????
      </p>
      <p class="m-t-10">
        Serial Number - Identifies your radio equipment.
      </p>
    </div>

    <div *ngIf="hint == 'frequency'" i18n="@@hintfrequency">
      <h1 class="cv-title">Frequency</h1>
      <p>
        Digital Data frequency for messages and files transmission.
      </p>
      <p>
        *Note: Changing the frequency can stop all send and receive transmissions.
      </p>
    </div>

    <div *ngIf="hint == 'threshold'" i18n="@@hintthreshold">
      <h1 class="cv-title">Threshold</h1>
      <p>
        threshold of SWR allowed. If the SWR level goes above this threshold protection will be enabled and transmission
        will halt.
      </p>
    </div>

    <div *ngIf="hint == 'mode'" i18n="@@hintmode">
      <h1 class="cv-title">Mode</h1>
      <p>
        The radio can operate on two different modes USB / LSB. All stations need to be on the same mode so they can
        communicate with each other.
      </p>
    </div>

    <div *ngIf="hint == 'ptt'" i18n="@@hintptt">
      <h1 class="cv-title">PTT (Push to talk)</h1>
      <p>
        Push To Talk. This function simulates pressing the PTT button on the physical microphone. Used only for testing
        purposes when tunning the system.
      </p>
    </div>

    <div *ngIf="hint == 'reboot'" i18n="@@hintreboot">
      <h1 class="cv-title">Reboot</h1>
      <p>
        Reboot your HERMES system.
      </p>
    </div>

    <div *ngIf="hint == 'reset'" i18n="@@hint">
      <h1 class="cv-title">Reset to default</h1>
      <p>
        Reset/restore your radio to the default HERMES configuration. You won't lose your messages.
      </p>
      <p class="m-t-25">
        *Note: Restoring your radio to the default configurations can stop all send and receive transmissions.
      </p>
    </div>

    <div *ngIf="hint == 'resetprotection'" i18n="@@hintresetprotection">
      <h1 class="cv-title">Reset protection</h1>
      <p>
        If the SWR goes above the threshold set on “Protection activation threshold level” this function will halt the
        transmission to avoid damage to the equipment. Click reset to resume system operation.
      </p>
    </div>

    <div *ngIf="hint == 'usermanagement'" i18n="@@hintusermanagement">
      <h1 class="cv-title">User management</h1>
      <p>
        On User management you can update your own information (Phone number and password) or delete your user.
      </p>
      <p>
        If you are an administrator user you can create, update and delete all users with exception of the root user.
      </p>
      <p class="m-t-25">
        *Note: if you delete your user credentials you won't be capable of accessing the HERMES system anymore.
      </p>
    </div>

    <div *ngIf="hint == 'messageconfig'" i18n="@@hintmessageconfig">
      <h1 class="cv-title">Message Configuration</h1>
      <p>
        Manage who can send messages and attach files.
      </p>
      <p>
        Broken files can consume your storage, clean broken files to free your storage from unnecessary files.
      </p>
    </div>

    <div *ngIf="hint == 'schedules'" i18n="@@hintschedules">
      <h1 class="cv-title">Transmission schedule</h1>
      <p>
        Manage your transmissions schedules, by time period and stations.
        As the communication between the stations are unidirectional, the transmissions are schedules to happen
        acconding to the central station, alternating between reception and transmission events.
        The system uses a digital radio that schedules transmissions between stations using the UUCP protocol. All
        communication between stations are encrypted and happen outside the internet.
        Keep in mind that due to the scheduling of transmission of the messages, they may take a while to arrive,
        depending on the amount of messages in the queue and the gateway station's schedule of operation.
      </p>
    </div>

    <div *ngIf="hint == 'transmissionlist'" i18n="@@hinttransmissionlist">
      <h1 class="cv-title">Transmission list</h1>
      <p>
        Once the messages are sent, they will go to a transmission queue before arriving at their final destination. A
        system administrator can cancel the packages before they are sent, and also delete the sent and received
        messages. This is a task that need to be done often to avoid that the space in the server ends.
      </p>
      <p>
        In an emergency case, the system administrator can force message transmission queue by clicking on the "transmit
        now" link. This can interrupt receiving messages from other stations for a while.
      </p>
    </div>

    <div *ngIf="hint == 'stations'" i18n="@@hintstations">
      <h1 class="cv-title">Stations Information</h1>
      <p>
        Manage the stations network, giving nicknames for each station and configuring the preferred transmission data
        frequency and mode for each connection or enable and disable connections.
      </p>
      <p class="m-t-25">
        Alias - Station identification.
      </p>
      <p>
        Nickname - Name to easy or representative identification.
      </p>
      <p>
        Status - Connection status between stations.
      </p>
      <p>
        Frequency - Preferred digital data frequency for connection between stations.
      </p>
      <p>
        Mode - Preferred mode for connection between stations (USB/LSB).
      </p>
    </div>

    <div *ngIf="hint == 'wifi'" i18n="@@hintwifi">
      <h1 class="cv-title">Wi-Fi & Ethernet manager</h1>
      <p>
        Wi-Fi & Ethernet manager, configure wi-fi SSID (network name), change password connection and check wi-fi and
        ethernet information.
      </p>
    </div>

    <div *ngIf="hint == 'troubleshooting'" i18n="@@hinttroubleshooting">
      <h1 class="cv-title">Troubleshooting</h1>
      <p>
        To access the system, three main components are needed: a smartphone or a computer, a HERMES server and an
        antenna with a transmitter.

        To know what to do in case of an error, you first need to know which component is causing the problem.

        To find out if the problem is with the device connecting to the network (cell phone, tablet, computer), the
        easiest way is to test access from another device, or from another browser on the same device. If the problem is
        only with you, it is possible that the problem is in the network settings. Check below the necessary settings to
        access the Hermes network:

        If this does not solve your problem, try cleaning your browser's history and logging in again, or change
        browsers. If none of this resolves the problem, it is possible that your device is incompatible with the
        network.

        In case of problem in the Antenna, a LED will light up on the server box, in this case, check the correct
        position of the power supply wires and check the position and integrity of the Antenna, coaxial cable, and the
        transmitter.

        If the messages in the transmission list are not being transmitted over time, check if the radio settings have
        been changed, in which case it could be that the other stations are offline. To remedy you could restore the
        factory default settings.

        If the problem is with the digital radio, there will be an error message when the administrator goes into
        Administration -> radio configuration.

        If you receive a message saying server offline, your equipment is likely turned off. If the message persists, it
        could be that some part of the system is corrupted. In this case, you may need to take your equipment to a place
        with internet for online maintenance.
      </p>
    </div>



    <button class="m-t-10" (click)="toggleHint()" i18n="@@closehintbutton">
      close
    </button>
  </div>
</div>