<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {

  }
</style>

<!--<app-hmheader>
</app-hmheader>-->

<header>
  <a routerLink='/messages' class="logo"><img title="Hermes logo" src="/assets/img/logohermes.png"></a>

  <h1 class="sitetitle"><span >{{system.name}}.</span>hermes.radio</h1>
</header>

<div class="userstatus" >

  <!-- TODO ERROR else: <div class="logged" *ngIf="currentUser; else isLoggedOut"> -->

    <div class="logged" *ngIf="currentUser; else loggedOut">
      <div class="navbar-nav">
        <span>{{currentUser.login}}</span>
          <span *ngIf="currentUser.admin === true"> is administrator</span><br/>
        <div class="servericon">
          <span class="icon" *ngIf="!system.status">
            server off
          </span>
        </div>

        <span class="servericon">
          <span class="icon" *ngIf="system.status">
            <img title="server status ON! PID uucp: {{system.piduu}} / ar: {{system.pidar}}" src="/assets/svg/broadcast-tower.svg" > 
          </span>
          <span class="icon" *ngIf="!system.status">
          <img title="server status off" src="/assets/svg/broadcast-tower-off.svg" >
          </span>
        </span>

        <a class="icon" routerLink="/login" *ngIf="!currentUser.login" >
          <img title="Log In" src="/assets/svg/sign-in-alt-solid.svg" >
        </a>

        <a class="icon" (click)="logout()" *ngIf="currentUser.login">
          <img title="logged as {{currentUser.login}} /  {{currentUser.administrator}}  -> click to logout" src="/assets/svg/sign-out-alt-solid.svg" >
        </a>
        <br>

          <!--<a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>-->
          <!--<span *ngIf="currentUser.res === ok">ok</span><br/>
          <button *ngIf="currentUser.login" (click)="logout()">logout</button>
          <button *ngIf="!currentUser.login" routerLink="/login">login</button>-->
      </div>
    </div>

    <ng-template #loggedOut>
      <span class="servericon">
        <span class="icon" *ngIf="system.status">
          <img title="server status ON! PID uucp: {{system.piduu}} / ar: {{system.pidar}}" src="/assets/svg/broadcast-tower.svg" > 
        </span>
        <span class="icon" *ngIf="!system.status">
        <img title="server status off" src="/assets/svg/broadcast-tower-off.svg" >
        </span>
      </span>
      
      <a class="icon" routerLink="/login" >
        <img title="Log In" src="/assets/svg/sign-in-alt-solid.svg" >
      </a>

    </ng-template>

    <!-- 
  <div #isLoggedOut>
    <span class="serverstatus">
      <span class="icon" [hidden]="!system.status">
        <img title="server on" src="/assets/svg/broadcast-tower.svg" >
      </span>
      <span class="icon" [hidden]="system.status">
      <img title="server off" src="/assets/svg/broadcast-tower-off.svg" >
      </span>
    </span>

    <a class="icon" routerLink="/login">
      <img title="server off" src="/assets/svg/sign-in-alt-solid.svg" >
    </a>
  </div>

-->
</div>
<nav>
  <a routerLink="/messages" i18n="@@messages"><img title="messages" src="/assets/svg/comment.svg">messages</a>
  <a routerLink="/admin" i18n="@admin" >
    <img title="admin" src="/assets/svg/tools.svg">admin
  </a>
  <a href="" i18n="@@email"><img title="mail" src="/assets/svg/envelope.svg">email</a>
  <a routerLink="/languages" i18n="@@languages"><img title="languages" src="/assets/svg/globe-americas.svg">language</a>
  <a routerLink="/help" i18n="@@help"><img title="help" src="/assets/svg/question-circle-regular.svg">help</a>

</nav>

<div class="formfield">

<router-outlet *ngIf="system.status"></router-outlet>

</div>


<div class="footer">
  <span *ngIf="system.status">
    server name: {{system.name}} <figure class="greencircle"></figure> 
    &#124;  PID uucp: <div [ngClass]="{'redcircle' : !system.piduu , 'greencircle' : system.piduu }"></div>
    &#124; ar: <div [ngClass]="{'redcircle' : !system.pidar , 'greencircle' : system.piduu }"></div> 
    &#124; vara: <div [ngClass]="{'redcircle' : !system.vara , 'greencircle' : system.vara }"></div> &#124;
    <br>
    user: {{system.email}} / {{system.administrator}}
  </span>
  <span *ngIf="!system.status"> server offline <figure class="redcircle"></figure> </span>

</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

