<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {

  }
</style>

<!--<app-hmheader>
</app-hmheader>-->

<header>
  <a routerLink='/messages' class="logo"><img title="Hermes logo" src="assets/img/logohermes.png"></a>

  <h1 class="sitetitle"><span *ngIf="system">{{system.name}}.</span>hermes.radio</h1>
</header>

<div class="userstatus" >

  <!-- TODO ERROR else: <div class="logged" *ngIf="currentUser; else isLoggedOut"> -->

    <div class="logged" *ngIf="currentUser; else loggedOut">
      <div class="navbar-nav">
        <span>{{currentUser.email}}</span>
          <span *ngIf="currentUser.admin === true"> is administrator</span><br/>
        <div class="servericon">
          <span class="icon" *ngIf="!system">
            server off
          </span>
        </div>

        <span class="servericon">
          <span class="icon" *ngIf="system">
            <img title="server status ON! PID uucp: {{system.piduu}} / ar: {{system.pidar}}" src="assets/svg/broadcast-tower.svg" >
          </span>
          <span class="icon" *ngIf="!system">
          <img title="server status off" src="assets/svg/broadcast-tower-off.svg" >
          </span>
        </span>

        <a class="icon" routerLink="/login" *ngIf="!currentUser.email" >
          <img title="Log In" src="assets/svg/sign-in-alt-solid.svg" >
        </a>

        <a class="icon" (click)="logout()" *ngIf="currentUser.email">
          <img title="logged as {{currentUser.email}} /  {{currentUser.admin}}  -> click to logout" src="assets/svg/sign-out-alt-solid.svg" >
        </a>
        <br>

          <!--<a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>-->
          <!--<span *ngIf="currentUser.res === ok">ok</span><br/>
          <button *ngIf="currentUser.email" (click)="logout()">logout</button>
          <button *ngIf="!currentUser.email" routerLink="/login">login</button>-->
      </div>
    </div>

    <ng-template #loggedOut>
      <span class="servericon">
        <span class="icon" *ngIf="system">
          <img title="server status ON! PID uucp: {{system.piduu}} / ar: {{system.pidar}}" src="assets/svg/broadcast-tower.svg" >
        </span>
        <span class="icon" *ngIf="!system">
        <img title="server status off" src="assets/svg/broadcast-tower-off.svg" >
        </span>
      </span>

      <a class="icon" routerLink="/login" >
        <img title="Log In" src="assets/svg/sign-in-alt-solid.svg" >
      </a>
    </ng-template>

</div>
<nav id="mainnav">
  <a routerLink="/messages" i18n="@@messages"><img title="messages" src="assets/svg/comment.svg">messages</a>
  <a routerLink="/admin" i18n="@admin" >
    <img title="admin" src="assets/svg/tools.svg">admin
  </a>
  <a routerLink="/email" i18n="@@email"><img title="mail" src="assets/svg/envelope.svg">email</a>
  <a routerLink="/languages" i18n="@@languages"><img title="languages" src="assets/svg/globe-americas.svg">language</a>
  <a routerLink="/help" i18n="@@help"><img title="help" src="assets/svg/question-circle-regular.svg">help</a>

</nav>

<div class="formfield">

<router-outlet *ngIf="system; else serverOff"></router-outlet>

<ng-template #serverOff>
  Hermes server is offline, please turn the station on.
</ng-template>

</div>


<div class="footer">
  <ng-container *ngIf="system">
  <span >
    Station: {{system.name}}  <figure class="greencircle"></figure>
    &#124; UUCP: <div [ngClass]="{'redcircle' : !system.piduucp , 'greencircle' : system.piduucp }"></div>
    &#124; ar: <div [ngClass]="{'redcircle' : !system.pidmodem , 'greencircle' : system.piduucp }"></div>
    &#124; Modem: <div [ngClass]="{'redcircle' : !system.modem , 'greencircle' : system.modem }"></div> 
    <br><br>
    <!--user: {{currentUser.email}} / {{currentUser.admin}}-->
  </span>
</ng-container>

  <span *ngIf="!system">
     Hermes station offline <figure class="redcircle"></figure>
  </span>

</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

