<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {

  }
</style>

<!--<app-hmheader>
</app-hmheader>-->

<header>
  <a routerLink='/messages' class="logo"><img title="Hermes logo" src="/assets/img/logohermes_p.png"></a>

  <h1 class="sitetitle" *ngIf="system.name">{{system.name}}.hermes.radio</h1>
</header>

<div class="userstatus" >

  <!-- TODO ERROR else: <div class="logged" *ngIf="currentUser; else isLoggedOut"> -->

    <div class="logged" *ngIf="currentUser">
      <div class="navbar-nav">
        <span *ngIf="currentUser.login">Logged in as: {{currentUser.login}}</span>
          <span *ngIf="currentUser.admin === true"> is administrator</span><br/>
        <div class="serverstatus">
          <span class="icon" [hidden]="system.status">
            server on: {{system.name}}<br>
            user: {{system.email}} / {{system.administrator}} <br>
            PID uucp: {{system.piduu}} / ar: {{system.pidar}} / vara: <br>
            TODO: more colors for PIDs?
          </span>
          <span class="icon" [hidden]="!system.status">
            server off
          </span>
        </div>

        <span class="serverstatus">
          <span class="icon" *ngIf="system.status">
            <img title="server status ON! PID uucp: {{system.piduu}} / ar: {{system.pidar}}" src="/assets/svg/broadcast-tower.svg" > 
          </span>
          <span class="icon" *ngIf="!system.status">
          <img title="server status off" src="/assets/svg/broadcast-tower-off.svg" >
          </span>
        </span>

        <a class="icon" routerLink="/login" *ngIf="!currentUser.login" >
          <img title="Log In" src="/assets/svg/sign-in-alt-solid.svg" >
        </a>

        <a class="icon" (click)="logout()" *ngIf="currentUser.login">
          <img title="logged as {{currentUser.login}} /  {{currentUser.administrator}}  -> click to logout" src="/assets/svg/sign-out-alt-solid.svg" >
        </a>
        <br>

          <!--<a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>-->
          <!--<span *ngIf="currentUser.res === ok">ok</span><br/>
          <button *ngIf="currentUser.login" (click)="logout()">logout</button>
          <button *ngIf="!currentUser.login" routerLink="/login">login</button>-->
      </div>
    </div>

    <!-- 
  <div #isLoggedOut>
    <span class="serverstatus">
      <span class="icon" [hidden]="!systemStatus">
        <img title="server on" src="/assets/svg/broadcast-tower.svg" >
      </span>
      <span class="icon" [hidden]="systemStatus">
      <img title="server off" src="/assets/svg/broadcast-tower-off.svg" >
      </span>
    </span>

    <a class="icon" routerLink="/login">
      <img title="server off" src="/assets/svg/sign-in-alt-solid.svg" >
    </a>
  </div>

-->
</div>
<nav>
  <a routerLink="/messages" i18n="@@messages"><img title="messages" src="/assets/svg/comment.svg">messages</a>
  <a *ngIf="currentUser" routerLink="/admin" i18n="@admin" [hidden]="currentUser.admin"><img title="admin" src="/assets/svg/tools.svg">admin</a>
  <a #isLoggedOut routerLink="/login" i18n="@admin" [hidden]="currentUser"><img title="admin" src="/assets/svg/tools.svg">admin</a>

  <a href="" i18n="@@email"><img title="mail" src="/assets/svg/envelope.svg">email</a>
  <a routerLink="/languages" i18n="@@languages"><img title="languages" src="/assets/svg/globe-americas.svg">language</a>
  <a routerLink="/help" i18n="@@help"><img title="help" src="/assets/svg/question-circle-regular.svg">help</a>

</nav>

<router-outlet *ngIf="system.status"></router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

