<div id="compose" class="">

    <div class="supicons">
        
        <div class="" >
            <a routerLink="/sent" i18n="@@sent">
                <img title="help" src="assets/svg/cloud-upload-alt-solid.svg">
            </a>
        </div>
    </div>

    <h2 i18n><div class="icon"></div>send your public message to another station</h2>

    <form #f="ngForm" class="formdata" novalidate  >
        <div [hidden]="fileIsProcessing==true">
            <label for="name">
                <span i18n>Description</span>:
                <br/><input name="name" [(ngModel)]="message.name" required maxlength="140" placeholder="Describe your message" />
            </label>

            <label for="text">
                <span i18n="@@message">Message</span>:
                <br/>
                <textarea name="text" [(ngModel)]="message.text" required rows="5" cols="35" maxlength="1400" placeholder="write the message"></textarea>
            </label>

            <label class="selstation">
                <span class="icon"><img title="messages" src="assets/svg/broadcast-tower.svg">
                    <span i18n="@@selectstation">select station
                    :<br>
                    <br>
                    <ng-container *ngIf="stations">

                        <select name="dest" [(ngModel)]="message.dest" required>
                            <option *ngFor="let station of stations" value="{{station.name}}">{{station.alias}} | {{station.name}} - {{station.location}}</option>
                        </select>
                        </ng-container>
                    </span>
                </span>
            </label>
            <hr>

            <div class="uploader">
                <ng-container >
                    <label class="file">
                        <input type="file" (change)="DocUpload($event.target.files)" accept="image/*" >
                    </label>
                </ng-container>

                <div *ngIf="message.id && message.file" >
                    <br>
                    file server id:{{message.id}} /  {{message.file}}
                    <br>
                    Img:
                    <img src={{$event.target.files[0].content}}>
                </div>
            </div>
            <label class="passprotect">
                <span class="icon lock"><img title="messages" src="assets/svg/lock.svg">
                    <span i18n="@@protectpssw">protect with password</span>:
                    <input type="checkbox" unckecked (change)="encrypted()"/>
                </span>
            </label>
            <div id="cryptopass" [hidden]=!isEncrypted>
                <label for="passwd" >
                    Type the password
                    <input id="passw" type="password" minlength="4" (change)="checkpass()" />
                </label>
                <label for="repasswd" >
                    Retype the password
                    <input id="repassw" type="password" minlength="4" (change)="checkpass()"/>
                </label>
                <div [hidden]=passMatch class="error">
                    passwords don't match
                </div>
            </div>
            <span></span>
            <button type="submit" *ngIf="!passMatch" (click)="sendMessage(f)" [disabled]="f.invalid" >send message<br/>
                <img class="btnicon" title="send" src="assets/svg/paper-plane.svg">
            </button>
            <button type="submit" *ngIf="passMatch" (click)="sendMessage(f)" [disabled]="f.invalid" >send message<br/>
                <img class="btnicon" title="send" src="assets/svg/paper-plane.svg">
            </button>
        </div>

        <div class="overall alert" [hidden]="fileIsProcessing==false">
            <div class="cv">
                Your message is been processed <br/><br/>
                <div class="icon" ><a (click)="newMessage()" i18n="@@compose">
                    <img title="compose" src="assets/svg/edit.svg"><button>compose</button></a>
                </div>
                <div class="icon" ><a routerLink='/messages' routerLinkActive="active" i18n="@@compose">
                    <img title="help" src="assets/svg/comment.svg"><button>messages</button></a>
                </div>
            </div>
        </div>

        <div class="alert" [hidden]="!fileIsProcessed">
            Your message was sent to the transmission list
        </div>
        <div class="overall alert" [hidden]="!error">
            <div class="cv">
                There was an error on sending your message
                <button (click)="retry()" >try again</button>

            </div>
        </div>
        <!--<button i18n="@@send">send</button>-->

    </form>
</div>
