
<form #f="ngForm" class="">

    <h3>Type your username</h3>


    

   
        <label>
            <span i18n>Username</span>: 
            <br/>
        </label>
        <br/><input name="name" [(ngModel)]="uName" required placeholder="write the username" />

        <div i18n class="alert">
            Username does not exist!
        </div>

        <button type="submit" (click)="onSelect(uName)">submit</button>



    <ng-container *ngIf="selectedUser">
    
    <label>
        <span i18n>Recovery Question</span>: 
        <br/>
    </label>
    <br/>{{selectedUser.recoverphrase}}
    

    <label>
        <span i18n>Recovery Answer</span>: 
        <br/>
    </label>
    <br/><input required  placeholder="write the username" />

    <button i18n>Answer</button>

    <div i18n class="alert">
        Answer is not correct
    </div>
    
    <label>
        <span i18n>New Password</span>: 
        <br/>
    </label>
    <br/><input type="password" name="name" required #name="ngModel" placeholder="write the new password" />

    <label>
        <span i18n>Repeat new password</span>: 
        <br/>
    </label>
    <br/><input type="password" name="name" required #name="ngModel" placeholder="repeat the password" />

    <div i18n class="alert">
        Passwords doesn't match!
    </div>

</ng-container>
</form>
