
<form #f="ngForm" class="">

   
   <div [hidden]="selTest">
    <h3>Type your username</h3>

        <label>
            <span i18n>Username</span>: 
            <br/>
        </label>
        <br/><input name="name" [(ngModel)]="uName" required appUserExist ngControl="userName" placeholder="write the username" />

        <div i18n class="alert">
            Username does not exist!
        </div>

        <button type="submit" [disabled]="f.invalid" (click)="onSelect(uName)">submit</button>

    </div>

    <div *ngIf="selectedUser">
    
    <h3>{{selectedUser.email}}</h3>

    <label>
        <p i18n>Recovery Question:</p> 
    
    </label>
    <br/>{{selectedUser.recoverphrase}}
    

    <label>
        <p i18n>Recovery Answer:</p> 
    </label>
    <br/><input required [(ngModel)]="answ" placeholder="write the naswer" />

    <button i18n (click)="checkAnswer(answ)">Answer</button>

    <div i18n class="alert" [hidden]="cAnsw">
        Answer is not correct
    </div>
    
    <div *ngIf="cAnsw">
        <label>
            <span i18n>New Password</span>: 
            <br/>
        </label>
        <br/><input type="password" name="name" required  placeholder="write the new password" />
    
        <label>
            <span i18n>Repeat new password</span>: 
            <br/>
        </label>
        <br/><input type="password" name="name" required  placeholder="repeat the password" />
    
        <div i18n class="alert">
            Passwords doesn't match!
        </div>

    </div>
    




</div>
</form>
