
<form #f="ngForm" class="">

   
   <div [hidden]="selectedUser">
    <h3 i18n="@@typeusrnm">Type your username</h3>

        <label>
            <span i18n="@@usernamef">Username</span>: 
            <br/>
        </label>
        <br/><input name="name" [(ngModel)]="uName" required appUserExist ngControl="userName" placeholder="write the username" />

        <div i18n="@@usernotexistf" class="alert" [hidden]="selTest">
            Username does not exist!
        </div>

        <button type="submit" [disabled]="f.invalid" (click)="onSelect(uName)" i18n="@@submitf">submit</button>

    </div>

    <div *ngIf="selectedUser">
        
    
    <h3>{{selectedUser.email}}</h3>

    <div *ngIf="!cAnsw">
        <label>
            <p i18n="@@recoveryquestf">Recovery Question:</p> 
        
        </label>
        <br/>{{selectedUser.recoverphrase}}
        
    
        <label>
            <p i18n="@@recoveryansf">Recovery Answer:</p> 
        </label>
        <br/><input required [(ngModel)]="answ" placeholder="write the naswer" />
    
        <button i18n="@@answf" (click)="checkAnswer(answ)">Answer</button>
    
        <div i18n="@@ansnotcorrectf" class="alert" [hidden]="iAnsw">
            Answer is not correct
        </div>
    </div>

    
    
    <div *ngIf="cAnsw">
        <label>
            <span i18n="@@newpassf">New Password</span>: 
            <br/>
        </label>
        <br/><input type="password" name="name" [(ngModel)]="pasw" required  placeholder="write the new password" />
    
        <label>
            <span i18n="@@repeatpassf">Repeat new password</span>: 
            <br/>
        </label>
        <br/><input type="password" name="name" required [(ngModel)]="repasw" placeholder="repeat the password" />
    
        <div i18n="@@passdontf" class="alert" *ngIf="!passMatch">
            Passwords doesn't match!
        </div>

        <button (click)="checkPassw(pasw, repasw)"i18n="@@submit">submit</button>

    </div>
    
    <div class="overall alert" [hidden]="errorAlert==false">
        <div class="cv" >
            <span i18n="@@errorsending">There was an error on getting the users <br/><br/></span>
            <span>{{error}}</span>
            <div class="icon" ><a (click)="closeError()" >
                <img title="compose" src="assets/svg/x.svg"></a>
            </div>

        </div>
    </div>



</div>
</form>
