<loading [loading]="loading"></loading>
<div class="flexible">
  <h2 i18n="@@smsmassagelabel">SMS Message</h2>
  <hint [showHint]="false" [hint]="'smschat'"></hint>
</div>
<div class="row">
  <span i18n="@@phonenumber">Phone number</span> {{phoneNumber}}
  <button class="float-right" (click)="deleteConfirmation()" i18n="@@deletesmschatbutton">
    delete SMS chat
  </button>
  <div class="overall alert" [hidden]="delete==false">
    <div class="cv">
      <span i18n="@@deletesmsconfirmation">Do you want to delete this chat? It is going to delete all the exchanged messages with this phone number. It cannot be undone.</span>
      <div class="row m-t-10">
        <button (click)="deleteConfirmation()" i18n="@@close">close</button>
        <button class="m-l-10" (click)="deleteChat()" i18n="@@delete">delete</button>
      </div>
    </div>
  </div>
</div>
<div class="messages-box m-t-25">
  <div *ngFor="let message of messages; let i = index">
    <div class="row flexible {{message.type == 1 ? 'float-right': ''}}">
      <span class="balloon {{message.type == 1 ? 'sent': ''}}">{{message.text}}</span>
    </div>
  </div>
</div>

<div class="row m-t-10">
  <form #f="ngForm" class="formdata" novalidate class="m-t-10">
    <textarea name="text" required rows="2" cols="35" maxlength="1400" i18n-placeholder
      placeholder="message"></textarea>
    <button (click)="sendSMS(f)" i18n="@@send">send</button>
  </form>
</div>

<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@websocketerror">There was an error on processing your request </span>
    <div class="row m-t-10">
      {{error}}
    </div>
    <button class="m-t-10" (click)="closeError()" i18n="@@close">close</button>
  </div>
</div>