

<div class=" login formdata" >
    <h2 i18n="@@e_mail">E-mail</h2>

    <form #f="ngForm" id="loginform" novalidate>

       
          <button ><a href="/mail"  target="_self">Webmail</a></button>
       <br>

    <hr>
       
 
       <p i18n="@@noaccount">Doesn't have an account?</p>
 
       <a  routerLink="/users" ><button i18n="@@createbtn">create an account</button></a>
       <br/><br>
       <a  routerLink="/recovery" >
         <div ><a i18n="@@forgotmypassworde">Forgot my password</a></div>
      </a>
       
 
    </form>
 </div>
 