

<div class=" login formdata" >
    <h2 i18n="@@e_mail">E-mail</h2>

    <form #f="ngForm" id="loginform" novalidate>
<!--
      <p i18n="@@instructions">to access email, put your username and password</p>
       <hr>
       <label >
          <p i18n="@@username">username:</p>
          <input name="login"  ngModel required placeholder="Login" />
       </label>
      
 -->
       
          <button ><a href="http://hermes.radio/mail/"  target="_self">Webmail</a></button>
       <br>
 <!--
       <button (click)="submitLogout()"  >logout test</button>
 
 
       <a i18n="@@login" routerLink="/admin"  >
          <button>DBG: Bypass Log in</button>
       </a>
 
    -->
    <hr>
       
 
       <p i18n="@@noaccount">Doesn't have an account?</p>
 
       <a  routerLink="/users" ><button i18n="@@createbtn">create an account</button></a>
       <br/>
       <a  routerLink="/recovery" >
         <div class="forgot"><a i18n="@@forgotmypassworde">Forgot my password</a></div>
      </a>
       
 
    </form>
 </div>
 