<h2 i18n="@@networkadmin">network administration</h2>

<div class="formfield">
<label>
   <span i18n="@@ip">IP / Netmask adress</span> : <input  placeholder="ip" />
</label>

<label>
   <span i18n="@@ssid">SSID NEtwork name</span>: <input  placeholder="nome" />
</label>

<label>
   <span i18n="@@wifi">Wifi Channel</span>: <input  placeholder="wifi" />
 </label>

 <label>
   <span i18n="@@hostname">Hostname</span>: <input  placeholder="host" />
 </label>

 <label>
   <span i18n="@@alias">Alias</span>: <input  placeholder="alias" />
 </label>
</div>