<h2 i18n="@@networkadmin">network information</h2>

<form class="">
  <p>
    <b><span i18n="@@status">Status</span>: {{system.status}}</b>
  </p>
  <p>
    <span i18n="@@alias">Alias</span>: {{system.name}}
  </p>
<p>
   <span i18n="@@ip">IP / Netmask address</span> : <span>{{system.interfaces}}</span>
</p>

<p>
  <span i18n="@@nodename">Node Name</span> : <span>{{system.nodename}}</span>
</p>
<p>
   <span i18n="@@ssid">SSID Network name</span>: <span>{{system.wifiessid}}</span>
</p>
<p>
   <span i18n="@@uucp">UUcp</span>: <span  placeholder="wifi"> {{system.piduu}}</span>
</p>
<p>
  <span i18n="@@modem">Modem</span>: <span  placeholder="wifi"> {{system.pidmodem}}</span>
</p>

<p>
  <span i18n="@@radion">Radio</span>: <span  placeholder="wifi"> {{system.pidradio}}</span>
</p>

<p>
  <span i18n="@@hermesr">Hermes</span>: <span  placeholder="wifi"> {{system.pidhmp}}</span>
</p>

<p>
  <span i18n="@@database">Database</span>: <span  placeholder="wifi"> {{system.piddb}}</span>
</p>
<p>
  <span i18n="@@mailn">Mail</span>: <span  placeholder="wifi"> {{system.pidpf}}</span>
</p>

<p>
  <span i18n="@@totalmemory">Total Memory</span>: <span  placeholder="wifi"> {{system.memtotal}}</span>
</p>
<p>
  <span i18n="@@usedmemory">Used Memory</span>: <span  placeholder="wifi"> {{system.memused}}</span>
</p>
<p>
  <span i18n="@@freememory">Free Memory</span>: <span  placeholder="wifi"> {{system.memfree}}</span>
</p>
<p>
  <span i18n="@@phpmemory">Php Memory</span>: <span  placeholder="wifi"> {{system.phpmemory}}</span>
</p>
<p>
  <span i18n="@@wifi">Wifi Channel</span>: <span  placeholder="wifi">{{system.wifich}} </span>
</p>



 <p>
   <span i18n="@@piddb">Piddb</span>: {{system.piddb}}
 </p>

 <!--<button>Update</button>-->
 <!--<button>Reset</button>-->

</form>