<h2 i18n="@@networkadmin">network information</h2>

<form class="">
<p>
   <span i18n="@@ip">IP / Netmask address</span> : <span>192.168.1.1/24</span>
</p>

<p>
   <span i18n="@@ssid">SSID Network name</span>: <span>floresta</span>
</p>

<p>
   <span i18n="@@wifi">Wifi Channel</span>: <span  placeholder="wifi"> 7 </span>
</p>

 <p>
   <span i18n="@@hostname">Hostname</span>: PU4GNU
 </p>

 <p>
   <span i18n="@@alias">Alias</span>: Juba
 </p>

 <!--<button>Update</button>-->
 <!--<button>Reset</button>-->

</form>