<div *ngIf="currentUser" class="container sysadm">
    <div *ngIf="currentUser.admin">
        <div class="menu">
            <div class="flexible">
                <a routerLink="/usermanage">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/user-alt.svg">
                        </div>
                        <div class="row" i18n="@@adminmanage">
                            User management
                        </div>
                    </div>
                </a>
                <a routerLink="/messageadm">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/comment.svg">
                        </div>
                        <div i18n="@@messageadm">
                            Messages configuration
                        </div>
                    </div>
                </a>
                <a routerLink="/transmission">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages"
                                src="assets/svg/material icons/sync_alt-24px.svg">
                        </div>
                        <div i18n="@@transmissionlista">
                            Transmission list
                        </div>
                    </div>
                </a>
                <a routerLink="/radioconfig">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/tools.svg">
                        </div>
                        <div i18n="@@radioconfig">
                            Radio configuration
                        </div>
                    </div>
                </a>
                <!-- <a (click)="goHamRadioRemote()">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="radio" src="assets/svg/ham-radio.svg">
                        </div>
                        <div i18n="@@radioEmulator">
                            Radio
                        </div>
                    </div>
                </a> -->
            </div>
            <h2 class="m-t-25">Central</h2>
            <div class="flexible">
                <a *ngIf="isGateway" routerLink="/gateway">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages"
                                src="assets/svg/material icons/settings_input_antenna-24px.svg">
                        </div>
                        <div i18n="@@scheduling">
                            Transmission Schedule
                        </div>
                    </div>
                </a>
                <!-- <a routerLink="/stations">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/broadcast-tower.svg">
                        </div>
                        <div i18n="@@stations">
                            Stations
                        </div>
                    </div>
                </a> -->
                <a routerLink="/netadmin">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/material icons/settings_input_antenna-24px.svg">
                        </div>
                        <div i18n="@@networkadmin">
                            Radio Network
                        </div>
                    </div>
                </a>
                <a routerLink="/wifiManager" *ngIf="isAdmin">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/wifi-solid.svg">
                        </div>
                        <div i18n="@@wifimanagercard">
                            Wi-Fi Manager
                        </div>
                    </div>
                </a>
                <a routerLink="/log">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/material icons/build-24px.svg">
                        </div>
                        <div i18n="@@detailedlog">
                            Detailed log
                        </div>
                    </div>
                </a>
                <!-- <a routerLink="/customErrors" *ngIf="isAdmin">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/eye.svg">
                        </div>
                        <div i18n="@@customerrorscard">
                            Custom Errors
                        </div>
                    </div>
                </a> -->
                <div class="shut m-t-10">
                    <button class="midbt" (click)="confirmReboot()"><span i18n="@@reboot">reboot</span><br />
                        <img class="btnicon" title="send" src="assets/svg/redo.svg">
                    </button>
                    <button class="midbt m-t-10" (click)="confirmShutDown()"><span i18n="@@shutdown">shut
                            down</span><br />
                        <img class="btnicon" title="send" src="assets/svg/power-off-solid.svg">
                    </button>
                </div>
            </div>
            <div class="syspusher"></div>
        </div>
        <div class="overall alert" [hidden]="shuttingDown==false">
            <div class="cv">
                <span i18n="@@confirmshutdown"> Are you sure you want to shut down Hermes system?
                    <br />
                    This will stop messages transmission and reception.
                    <br />
                </span>
                <span class="icon"><a (click)="cancelShutDown()">
                        <img title="cancel" src="assets/svg/x.svg"><button i18n="@@cancels1">cancel</button></a>
                </span>
                <span class="icon"><a (click)="shutDown()">
                        <img title="help" src="assets/svg/power-off-solid.svg"><button i18n="@@shutdown1">shut
                            down</button></a>
                </span>
            </div>
        </div>
        <div class="overall alert" [hidden]="restarting==false">
            <div class="cv">
                <span i18n="@@confirmreboot"> Are you sure you want to reboot Hermes system?
                    <br />
                    This will stop messages transmission and reception.
                    <br />
                </span>
                <span class="icon"><a (click)="cancelReboot()">
                        <img title="cancel" src="assets/svg/x.svg"><button i18n="@@cancels2">cancel</button></a>
                </span>
                <span class="icon"><a (click)="reboot()">
                        <img title="help" src="assets/svg/redo.svg"><button i18n="@@reboot1">reboot</button></a>
                </span>
            </div>
        </div>
        <div class="overall alert" [hidden]="shuttingDownNow==false" i18n="@@shutDownButton">
            Shutting Down System
            <br />
            <a (click)="reload()">
                <span class="icon"><img title="close" src="assets/svg/x.svg"></span></a>
            <br>
        </div>
        <div class="overall alert" [hidden]="rebootingDownNow==false" i18n="@@rebootButton">
            Rebooting System
            <br />
            <a (click)="reload()">
                <span class="icon"><img title="close" src="assets/svg/x.svg"></span></a>
            <br>
        </div>
    </div>
    <div *ngIf="!currentUser.admin">
        <p i18n="@@needtobeadmin">
            Need to be an admin to access other admin features
        </p>
        <div class="menu">
            <div class="flexible">
                <a routerLink="/usermanage">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/user-alt.svg">
                        </div>
                        <div class="row" i18n="@@adminmanage">
                            User management
                        </div>
                    </div>
                </a>
                <a routerLink="/radioconfig">
                    <div class="card">
                        <div class="card-icon">
                            <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/tools.svg">
                        </div>
                        <div i18n="@@radioconfig">
                            Radio configuration
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="overall alert" *ngIf="errorAlert==true">
        <div class="cv">
            <span i18n="@@errorprocessing">There was an error on processing your request <br /><br /></span>
            <span>{{error}}</span>
            <div class="icon"><a (click)="closeError()">
                    <img title="compose" src="assets/svg/x.svg"></a>
            </div>
        </div>
    </div>
    <div class="overall alert" *ngIf="alertBrowserXP">
        <div class="cv">
            <span i18n="@@alertbrowserxp">
                To a better HERMES experience use the chromium/chrome browser
            </span>
            <div class="icon">
                <a (click)="closeBrowserAlert()">
                    <img title="compose" src="assets/svg/x.svg">
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loginForm">
    <div *ngIf="!currentUser">
        <span i18n="@@pleaselogin">Please log in to access this area:</span>
        <hr>
        <app-login-form (hideLoginForm)="loginForm = false">
        </app-login-form>
    </div>
</div>
<div class="push"></div>
