<div *ngIf="message" class="formfield">
    <h5>{{message.description}}</h5>
    
    <p>Id: {{message.id}}</p>
    <p>Name: {{message.name}}</p>
    <p>Orig: {{message.origin}}</p>
    <p>Dest: {{message.dest}}</p>
    <p>File: {{message.file}}</p>

    <p><span i18n="@@origin">origin: </span>{{message.location}}</p>
    <span class="icon">
        <a i18n="compose" routerLink="/compose">
            <img title="messages" src="/assets/svg/edit.svg">
            compose
        </a>
    </span>

</div>
