<div class="alert" i18n="nomessage" *ngIf="noMessage">Alert: cannot access this message<br/></div>
<div *ngIf="message" class=" messages">
    <h3>{{message.name}}</h3>

    <div class="formdata" [hidden]="!isEncrypted">
        <p i18n="@@encryptedmessage">Encrypted message, type the password:</p>
        <input type="password">
    </div>

    <!--
    <div class="blobber">
        <div class="tx">decoding message...</div>
        <div class="square"></div>
    </div>
-->

    <div class="messagebody" [hidden]="isEncrypted">
        <p>{{message.text}}</p>
        <p *ngIf="message.file && message.inbox" [hidden]="!message.file">
            <span i18n="@@File">File: </span>
            <a target="_new" href="{{url}}/downloads/{{message.id}}.image" >  {{message.file}}</a></p>
        <p *ngIf="message.file && !message.inbox" [hidden]="!message.file">
            <span i18n="@@File">File: </span>
            <a target="_new" href="{{url}}/uploads/{{message.id}}" >  {{message.file}}</a>
        </p>
    </div>
<hr>
    <small><p class="msginf" i18n="@@Origin">Origin: {{message.orig}}</p>
    <p class="msginf" i18n="@@desnitation">Destination: {{message.dest}}</p>
    <div class="alert" i18n="noimage" *ngIf="noImage">Cant find image</div>
    <img class="msgimg" [hidden]="!messageImage" [src]="messageImage"/>
    <p class="msgdate" i18n="@@sentat">Sent at: {{message.sent_at}}</p>
    <p class="msgid">Id: {{message.id}}</p></small>

<hr>

<div class="navicons">

    <div class="btn" >
        <a i18n="reply" routerLink="/compose" i18n="@@compose">
            <img title="help" src="assets/svg/reply-solid.svg">reply
        </a>
    </div>

    <div class="btn sent" >
        <a i18n="sent messages" routerLink="/sent" i18n="@@sent">
            <img title="help" src="assets/svg/cloud-upload-alt-solid.svg">sent messages
        </a>
    </div>
<!--
    <label>is encrypted
        <input type="checkbox" (change)="changeEnc()">
    </label>
-->
</div> 

</div>
