<div *ngIf="message" class="formfield messages">
    <h3>{{message.name}}</h3>
    
    <p>Message:</p><br>
    <p>{{message.text}}</p>
    <hr>
    <small><p>Origin: {{message.orig}}</p>
    <p>Destination: {{message.dest}}</p>
    <p [hidden]="!message.file">File: {{message.file}}</p>
    <p>Sent at: 12/1/2021 <!--{{message.sent_at}}--></p>
    <p>Id: {{message.id}}</p></small>


    <span class="icon">
        <a i18n="compose" routerLink="/compose">
            <img title="messages" src="/assets/svg/edit.svg">
           <button> Repply</button>
        </a>
    </span>

</div>
