<p>upload works!</p>

<form #f="ngForm" class="formdata" novalidate  >

<input type="file" name="fileup" (change)="onFileSelected($event)" style="display: none;" #fileUpload>

<input type="text" name="pass" ngModel  #fileUpload>

<div class="fileupload">

    {{fileName || "no file selected"}}

<button *ngIf="!fileSelected" (click)="fileUpload.click()">select file</button>
<button *ngIf="fileSelected" (click)="removeFile()">remove file</button>

</div>
<div *ngIf="sending">
<div class="blobber">
    <div class="tx">uploading file...</div>
    <div class="square"></div>
</div>
</div>

<input i18n="@@describemessage" name="name" [(ngModel)]="description" required maxlength="140" placeholder="Describe your message" />

<button type="submit" (click)="sendMessage(f)">manda</button>

</form>