

<div class="menu ">

<div *ngIf="currentUser.admin; else notADM">
<a routerLink="/manage" i18n="@@adminmanage">user management</a>
<a routerLink="/messageadm" i18n="@@messageadm">messages administration</a>
<a routerLink="/netadmin" i18n="@@networkadmin">network information</a>
<a routerLink="/stations" i18n="@@stations">stations</a>
<a routerLink="/log" i18n="@@detailedlog">detailed log</a>
<a routerLink="/upgrade" i18n="@@systemupgrade">system upgrade</a>
<a routerLink="/radioconfig" i18n="@@radioconfig">radio configuration</a>
</div>

<ng-template #notADM>
    <app-login>

    </app-login>

   <!-- <a routerLink="/manage" i18n="@@adminmanage">user management</a> -->

</ng-template>

<!--<a routerLink="/mailadmin" i18n="@@mailadmin">email administration</a>-->



</div>