<div *ngIf="currentUser">

    <div *ngIf="currentUser.admin">
        <div class="menu ">
        <a routerLink="/manage" i18n="@@adminmanage">user management</a>
        <a routerLink="/messageadm" i18n="@@messageadm">messages administration</a>
        <a routerLink="/netadmin" i18n="@@networkadmin">network information</a>
        <a routerLink="/stations" i18n="@@stations">stations</a>
        <a routerLink="/log" i18n="@@detailedlog">detailed log</a>
       <!-- <a routerLink="/upgrade" i18n="@@systemupgrade">system restoration</a>-->
        <a routerLink="/radioconfig" i18n="@@radioconfig">radio configuration</a>
        </div>

        <br/>

        <div class="shut">

        <button class="midbt" (click)="confirmReboot()" ><span i18n="@@reboot">reboot</span><br/>
            <img class="btnicon" title="send" src="assets/svg/redo.svg">
        </button>    

        <button class="midbt" (click)="confirmShutDown()" ><span i18n="@@shutdown">shut down</span><br/>
            <img class="btnicon" title="send" src="assets/svg/power-off-solid.svg">
        </button>
        

        </div>  

        <div class="overall alert" [hidden]="shuttingDown==false">
            <div class="cv" >
                <span i18n="@@confirmshutdown"> Are you sure you want to shut down Hermes system?
                    <br/>
                    This will stop messages transmission and reception.
                    <br/>

                </span>
                
                <span class="icon" ><a (click)="cancelShutDown()" >
                    <img title="compose" src="assets/svg/x.svg"><button i18n="@@cancels">cancel</button></a>
                </span>
                <span class="icon" ><a (click)="shutDown()" >
                    <img title="help" src="assets/svg/power-off-solid.svg"><button i18n="@@shutdown1">shut down</button></a>
                </span>
            </div>
        </div>

        <div class="overall alert" [hidden]="restarting==false">
            <div class="cv" >
                <span i18n="@@confirmreboot"> Are you sure you want to reboot Hermes system?
                    <br/>
                    This will stop messages transmission and reception.
                    <br/>

                </span>
                
                <span class="icon" ><a (click)="cancelShutDown()" >
                    <img title="compose" src="assets/svg/x.svg"><button i18n="@@cancels">cancel</button></a>
                </span>
                <span class="icon" ><a (click)="reboot()" >
                    <img title="help" src="assets/svg/redo.svg"><button i18n="@@reboot1">reboot</button></a>
                </span>
            </div>
        </div>


        <div class="overall alert" [hidden]="shuttingDownNow==false">
            Shutting Down System
            <br/>
            <a (click)="reload()" >
                <span class="icon"><img title="close" src="assets/svg/x.svg"></span></a>
            <br>
        </div>
        <div class="overall alert" [hidden]="rebootingDownNow==false">
            Rebooting System
            <br/>
            <a (click)="reload()" >
                <span class="icon"><img title="close" src="assets/svg/x.svg"></span></a>
            <br>
            
        </div>

    </div>

    <div *ngIf="!currentUser.admin">
        <span i18n="@@needtobeadmin">
            Need to be an admin to access admin features
        </span>
        <br>
        <br>
        <a routerLink="/manage" i18n="@@createuser">Create User</a>
    </div>


</div>



<div *ngIf="!currentUser">
    Need to be an admin to access admin features
    <app-login>
    </app-login>
    
</div>



<!--<a routerLink="/mailadmin" i18n="@@mailadmin">email administration</a>-->



