<div class="">

<h2 i18n="@@messages">Public Messages </h2>

    <div class="supicons">
        <div class="" >
            <a routerLink="/compose" i18n="@@compose">
                <img title="help" src="assets/svg/edit.svg">
            </a>
        </div>
        <div class="" >
            <a routerLink="/sent" i18n="@@sent">
                <img title="help" src="assets/svg/cloud-upload-alt-solid.svg">
            </a>
        </div>
    </div>

    <div class="messages">
        <div class="multiplist">
            <p *ngFor="let message of inboxMessages">
            <a>
                <img class="inlineicon" title="trash" src="assets/svg/trash-alt.svg" [hidden]="!isadmin" (click)="deleteInboxMessage(message)">
            </a>
            <a routerLink="/message/{{message.id}}" title="{{message.id}} from {{message.dest}}">
                <span (click)="getInboxMessage(message)"> &nbsp;  {{message.name}}</span>
               
                <span *ngIf="message.file">                     
                    <img class="inlineicon" title="file" src="assets/svg/paperclip-solid.svg">
                </span>
            </a>

            </p>
        </div>
    </div>

    <div class="navicons">
        <div class="btn" >
            <a routerLink="/compose" i18n="@@compose">
                <img title="help" src="assets/svg/edit.svg">compose
            </a>
        </div>
        <div class="btn sent" >
            <a routerLink="/sent" i18n="@@sent">
                <img title="help" src="assets/svg/cloud-upload-alt-solid.svg">sent messages
            </a>
        </div>
    </div>
</div>



<!--<app-message-detail [message]="selectedMessage"></app-message-detail>-->