<div class="">
  <ng-container *ngIf="stations">
    
  <form #g="ngForm" *ngIf="stations" class="formfield">
    <p><b>Stations on this network:</b></p>
<br/>
    <div><b><span class="stname">Name</span><span class="stname">Alias</span><span *ngIf="isGateway" class="tranenabl">Enabled for transmission</span></b></div>

  <div *ngFor="let station of stations" class="itemlist">
       <span>
         <span [ngClass]="{'neutral' : !station.checked}"><b class="stname">{{station.name}} </b> </span>
         <span  class="stname">{{station.alias}}</span></span>
       <input *ngIf="isGateway && isAdmin" type="checkbox" class="afterlist" value="{{station.alias}}" (change)="selectStations($event)" [checked]="station.checked">
  </div>
 
  <button type="submit" *ngIf="isGateway && isAdmin" (click)="confirmChange()">
      Update Enabled Stations
  </button>
  <div class="overall" *ngIf="stationedit">
    <div class="cv" >
    <span i18n="@@areyousurestations">Are you sure you want to change the list of enabled stations?</span><br/>
    <span i18n="@@thismaycause">this may cause communication to some stations to stop!</span>
    <br/>
    <button type="button" (click)="updateStations('1', g)" i18n="@@confirmg">confirm</button>
    <button type="button" (click)="confirmChange()" i18n="@@cancelg">cancel</button>
</div>
</div>


</form>

  </ng-container>
  <!-- error example-->
</div>

