<h2>Create New User</h2>

 <form class="formdata">

        
        <label>
            <span i18n="@@name">name</span>: <input  placeholder="nome de usuario" />
        </label>
        <label>
            <span i18n="@@passwordu">password</span>: <input type="password" placeholder="password" />
        </label>
        <label>
            <span i18n="@@recoveryprase">recovery phrase</span>: <input placeholder="write a question to recover your password" />
        </label>
        <label>
            <span i18n="@@recoveryanswer">recovery answer</span>: <input placeholder="answer to your recovery question" />
        </label>
        <label>
            <span i18n="@@phonenumber">phone number</span>: <input placeholder="phone number" />
        </label>
        <label>
            <span i18n="@@localsite">local site</span>: <input placeholder="website" />
        </label>

        <label>
            <span i18n="isadmin">is admin</span>: <input type="checkbox"   />
        </label>
    
    <button i18n="createuser">Create User</button>

</form>

