<h2>Create New User</h2>

 <form class="formdata">

        
        <label>
            <span i18n="@@name">name</span>: <input  placeholder="nome de usuario" />
        </label>
        <label>
            <span i18n="@@password">password</span>: <input type="password" placeholder="password" />
        </label>
        <label>
            <span i18n="@@recoveryprase">recovery prase</span>: <input placeholder="write a question to recover your password" />
        </label>
        <label>
            <span i18n="@@recoveryanswer">recovery answer</span>: <input placeholder="answer to your recovery question" />
        </label>
        <label>
            <span i18n="@@phonenumber">phone number</span>: <input placeholder="phone number" />
        </label>
        <label>
            <span i18n="@@localsite">local site</span>: <input placeholder="website" />
        </label>

        <span i18n="@@selectstation">select station
        </span>:
       


        <label>
            <span i18n="isadmin">is admin</span>: <input type="checkbox"   />
        </label>
    

    <ng-container *ngIf="stations">

        <select ng-model="selected">
            <option *ngFor="let station of stations">{{station.name}} | {{station.location}}</option>

        </select>
        </ng-container>

    <button i18n="createuser">Create User</button>

</form>

