<loading [loading]="loading"></loading>
<h2 i18n="@@aconfigmessages">Messages Configuration</h2>
<div class="alert" *ngIf="noSystem" i18n="@@cannotaccesshermes">Alert: Cannot access Hermes System<br /></div>
<div *ngIf="isAdmin">
    <div *ngIf="!noSystem">
        <p i18n=@@selectwhocompose>Select who can send public messages:</p>
        <form #f="ngForm">
            <select name="allowhmp" (change)="setComposePermission($event.target.value)">
                <option [selected]='allowhmp=="all"' value="all" i18n="@@everyone1">everyone</option>
                <option [selected]='allowhmp=="users"' value="users" i18n="@@registeredusers1">registered users</option>
                <option [selected]='allowhmp=="admin"' value="admin" i18n="@@adminusers1">admin users</option>
            </select>
            <br />
            <!--<button i18n="@@updatema">update</button>-->
        </form>
        <p i18n=@@selectwho class="m-t-10">Select who can attach files to messages:</p>
        <form #f="ngForm">
            <select name="allowfile" (change)="setUploadPermission($event.target.value)">
                <option [selected]='allowfile=="all"' value="all" i18n="@@everyone">everyone</option>
                <option [selected]='allowfile=="users"' value="users" i18n="@@registeredusers">registered users</option>
                <option [selected]='allowfile=="admin"' value="admin" i18n="@@adminusers">admin users</option>
            </select>
            <br />
            <!--<button i18n="@@updatema">update</button>-->
        </form>
        <form #f="ngForm" class="m-t-10">
            <p i18n="@@cleanuptext">
                When sending messages it's possible that broken files are stored in the server, please click here to
                clean up the system:
            </p>
            <button *ngIf="!cleaned" i18n="@@cleanup" (click)="cleanUp()">Clean up lost files</button> <span
                i18n="@@Cleaned" class="alert" i18n="@@cleanup" *ngIf="cleaned">Cleaned!</span>
        </form>
    </div>
    <div class="overall alert" [hidden]="errorAlert==false">
        <div class="cv">
            <span i18n="@@errorchanging config">There was an error on changing config <br /><br /></span>
            <span>{{error}}</span>
            <div class="icon"><a (click)="closeError()">
                    <img title="close" src="assets/svg/x.svg"></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isAdmin">
    <span i18n="@@needtobeadmin2">
        Need to be an admin to access this
    </span>
</div>