.progressbar {
 width: 50%;
 height: 25px;
 border-radius: 4px;
 border-style: solid;
 border-width: 0.5px;
 border-color: #a3a3a3;
 margin: 5px 0 25px 0;
}

.orange{
    color: #fff !important;
    background-color: #f60 !important;
    text-align: center;
}