<h2>Logs</h2>

<div class="color">
<div (click)="showUucpLog()" i18n="@@uucplog" >UUcp Log</div>
<div (click)="showDebugLog()"i18n="@@debuglog" >Uucp Debug Log<br></div>
<div (click)="showEmailLog()"i18n="@@emaillog" >Email Log </div>
</div>

<div class="formdata" *ngIf="uLog">
    <hr>
<h3 i18n="@@uucplog2">uucp log</h3>
<div class="footer logs" >

    {{uucpLog}}

    <br>
    <button (click)="closeLogs()">close</button>
    
</div>
</div>

<div class="formdata" *ngIf="dLog">
    <hr>
    <h3 i18n="@@debuglog2">uucp debug log</h3>
    <div class="footer logs" >
    
        {{uucpDebugLog}}
    
        <br>
        <button (click)="closeLogs()">close</button>
        
    </div>
    </div>

<div class="formdata" *ngIf="eLog">
    <hr>
    <h3 i18n="@@emaillog2">email log</h3>
    <div class="footer logs" >

   {{mailLog}} 
    <br>
    <button (click)="closeLogs()">close</button>
</div>
</div>