<h2 i18n="@@gatewayconf">Central Station</h2>

<div *ngIf="isAdmin">

<div class="alert" *ngIf="noSchedules" i18n="@@noschedules">There are no schedules for radio transmission<br/></div>
<hr>

<a (click)="showStations()">Connected Stations</a>
<div *ngIf="showSt">
<br>
<div class="formfield">
      <span *ngFor="let station of enabledStations">
          {{station}} |  
       <!--{{station.id}} <span i18n="@@stname">name</span>: {{station.name}} <span i18n="@@stalias">alias:</span> {{station.alias}}--> 
          <!--<span i18n>location</span>: {{station.location}}<br>-->
      </span>
  </div>

  <button  (click)="stationChange()">change connected stations</button>

  <div>


  <form #g="ngForm" *ngIf="stationedit" class="formfield">
    <p><b>Stations on this network:</b></p>

  <div *ngFor="let station of stations">
      <input type="checkbox" class="beforelist" value="{{station.alias}}" (change)="selectStations($event)" [checked]="station.checked"> <b class="stname">{{station.name}} </b> {{station.alias}}
  </div>
 
  <button type="submit" (click)="confirmChange()">
      Update Connected Stations
  </button>
  <div class="overall" *ngIf="updateAlert">
    <div class="cv" >
    <span i18n="@@areyousurestations">Are you sure you want to change the list of connected stations?</span><br/>
    <span i18n="@@thismaycause">this may cause communication to some stations to stop!</span>
    <br/>
    <button type="button" (click)="updateStations('1', g)" i18n="@@confirmg">confirm</button>
    <button type="button" (click)="stationChange()" i18n="@@cancelg">cancel</button>
</div>
</div>


</form>
  
</div>

</div>
  <hr>
<b>Current Schedules</b>
<ul *ngIf="schedules" id="schedulelist" class="multiplist" ng-model="schedules" >
    <li *ngFor="let schedule of schedules" (click)="onSelect(schedule)">{{schedule.title}} ( {{schedule.starttime}} - {{schedule.stoptime}} )</li>
</ul>

<div class="overall alert" *ngIf="errorAlert">
    <div class="cv" >
        <span>There was an error on changing the scheduling time <br/>
            - end time must be bigger then start time <br/>
            - all fields are required <br/>
            </span>
        <span>{{error}}</span>
        <div class="icon" ><a (click)="closeError()" >
            <img title="close" src="assets/svg/x.svg"></a>
        </div>

    </div>
</div>

<hr>

<button (click)="newSchedule()">create schedule</button>


<div class="gateway" *ngIf="isEditing">
    <hr>

    <form #f="ngForm" id="timeform"  novalidate>

        <label >
            <p>
            </p>

       </label>

       <div >
        <label >
            <p i18n="@@initialtime">Schedule Title</p>
            <input name="title" [(ngModel)]="selectedSchedule.title" i18n="@@mwyn" required />
            <p i18n="@@initialtime">Start transmission hour: </p>
            <input (change)="compareTime(selectedSchedule.starttime, selectedSchedule.stoptime)" name="starttime" [(ngModel)]="selectedSchedule.starttime" type="time" id="starttime" step="5" required value="selectedSchedule.starttime"/>
            <!--<input name="starttime" [(ngModel)]="selectedSchedule.starttime" i18n="@@mwyn" required />-->
         </label>
         <label >
            <p i18n="@@finatime">Stop transmission hour:</p> 
            <input (change)="compareTime(selectedSchedule.starttime, selectedSchedule.stoptime)" type="time" name="stoptime" id="stoptime" step="5"  [(ngModel)]="selectedSchedule.stoptime" value="selectedSchedule.stoptime" required/>
            <p class="alert" *ngIf="timeerror">Stop transmission hour must be bigger than start time</p>
        </label>

        <label >
            <p i18n="@@finatime">Enable: <input type="checkbox" name="enable" [(ngModel)]="selectedSchedule.enable" class="beforelist"></p>
            
        </label>
         <button [disabled]="f.invalid || timeerror" *ngIf="!emptySchedule" type="button" i18n="@@changetime" (click)="updateSchedule(selectedSchedule.id, f)">change scheduling time</button> 
         <button [disabled]="f.invalid || timeerror" *ngIf="emptySchedule" type="button" i18n="@@newschedule" (click)="createSchedule(f)">create schedule</button> 
         <span *ngIf="!emptySchedule"><button type="button" i18n="@@newschedule" *ngIf="canDelete" (click)="deleteSchedule(selectedSchedule.id)">delete schedule</button></span> 
        </div>
<br/>
         

    </form>


</div>

</div>
<div>
    <p class="alert" *ngIf="!isAdmin" i18n="@@needadm">You need admin privileges to access this page</p>
</div>