<h2 i18n="@@gatewayconf">Gateway Scheduling</h2>

<div class="alert" *ngIf="noSchedules" i18n="@@noschedules">There are no schedules for radio transmission<br/></div>

<hr>
<h3>Current Schedules</h3>

<ul id="schedulelist" class="multiplist" ng-model="schedules" >
    <li *ngFor="let schedule of schedules" (click)="onSelect(schedule)">{{schedule.station}}</li>
</ul>

<button>create schedule</button>




<div class="gateway" *ngIf="isEditing">
    <hr>
    <form #f="ngForm" id="timeform" class="formdata" novalidate>

        <label >
            <p>
            </p>
            <button *ngIf="!enabled">enable</button><button *ngIf="enabled">disable</button>

       </label>

       <div *ngIf="enabled">

        <label >
            <p i18n="@@initialtime:">Start transmission hour:</p>
            <input type="time" id="starttime" required/>
         </label>
         <label >
            <p i18n="@@finatime:">Stop transmission hour:</p>
            <input type="time" id="stoptime" />
         </label>

         <button type="submit" i18n="@@changetime">change scheduling time</button>

        </div>
<br/>
         

    </form>
</div>
<div>
    <p class="alert" *ngIf="!isAdmin" i18n="@@needadm">You need admin privileges to access this page</p>
</div>