<loading [loading]="loading"></loading>
<div id="radioconf">
  <div class="flexible">
    <h2 *ngIf="isAdmin" i18n="@@radioconft">Radio Configuration</h2>
    <h2 *ngIf="!isAdmin" i18n="@@radioinfo">Radio Information</h2>
    <hint [showHint]="false" [hint]="'radioconfig'"></hint>
  </div>
  <div i18n="@@cannotaccessradio" class="alert" *ngIf="!radio">Alert: Cannot access radio<br /></div>
  <div>
    <form *ngIf="radio">
      <div class="flexible">
        <div class="card {{ radio.connection === true ? 'connected' : 'disconnected' }}">
          <div class="row">
            <h3>
              <span *ngIf="radio.connection">
                <span i18n="@@conectedr">Connected</span>
              </span>
              <span *ngIf="!radio.connection">
                <span i18n="@@disconectedr">Disconnected</span>
              </span>
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@currentradiofreq">Data frequency</span>
              <br />
              <span> {{radio.freq}} </span>
              kHz
              <br />
              <span> {{radio.digital_mode}} </span>
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              SWR
              <br />
              <span>
                {{radio.swr}}
              </span>
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@forward">Power</span>
              <br />
              {{radio.fwd_watts ? radio.fwd_watts : 0}} W
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@@operationmode">Operation mode</span>
              <br />
              <div *ngIf="radio.tx" i18n="@@operationtx1"> TX</div>
              <div *ngIf="radio.rx" i18n="@@operationrx"> RX</div>
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <div i18n="@@serial">Serial number
                <br />
                {{serial}}
              </div>
            </h3>
          </div>
        </div>
      </div>
      <div class="radio" *ngIf="radio && radio.freq">
        <form #ffreq="ngForm" class="formdata field">
          <span i18n="@@changefrequency">Radio data frequency: {{radio.freq}}kHz
            <hint [showHint]="false" [hint]="'frequency'" class="float-right"></hint>
          </span>
          <div class="flexible">
            <input type="number" [min]="freqmin" [max]="freqmax" class="midbt m-t-10" name="frek" [(ngModel)]="frek"
              value={{frek}}>
            <button class="midbt" (click)="confirmChange()" [disabled]="ffreq.invalid" i18n="@@changefreqr0">
              change frequency
            </button>
            <div class="row m-t-10" *ngIf="!isAdmin">
              <p i18n="@@advisechangedatafrequency">
                <b>DO NOT</b> use this button <b>UNLESS</b> you have been asked by the manager to change the data
                transmission frequency of the radio.
              </p>
            </div>
          </div>
          <div class="overall alert" *ngIf="confirmSet">
            <div class="cv">
              <span i18n="@@areyousurechangesett">Are you sure you want to change radio settings?
                <br />
                This may cause the system to stop.
              </span>
              <br />
              <button class="m-t-10" (click)="confirmChange()" i18n="@@cancelr0">cancel</button>
              <button class="m-l-10" (click)="changeFrequency(ffreq, 1)" i18n="@@changer">change</button>
            </div>
          </div>
        </form>
        <form #frefthreshold="ngForm" class="formdata field" *ngIf="isAdmin">
          <span i18n="@@prottheshold">Protection activation threshold level <hint [showHint]="false"
              [hint]="'threshold'" class="float-right"></hint></span>
          <div class="flexible">
            <input type="number" [max]="1023" class="midbt m-t-10" name="refthreshold" [(ngModel)]="refthreshold"
              value={{refthreshold}}>

            <button class="midbt" (click)="confirmChangeThreshold(frefthreshold)" [disabled]="frefthreshold.invalid"
              i18n="@@changetre1">change
              threshold</button>
          </div>
          <div class="overall alert" *ngIf="confirmChangeProtection">
            <div class="cv">
              <span i18n="@@confirmthreshold">Are you sure you want to change radio protection threshold?
                <br />
                This may cause the system to stop and damage your radio.
              </span>
              <br />
              <button class="m-t-10" (click)="confirmChangeThreshold()" i18n="@@cancelrchangeprotection">cancel</button>
              <button class="m-l-10" (click)="changeRefThreshold(frefthreshold)"
                i18n="@@changeprotection">change</button>
            </div>
          </div>
        </form>
        <form class="formdata field" *ngIf="isAdmin">
          <span i18n="@@changeradiomode">Mode</span>
          <div class="float-right flex-right">
            <span>USB</span>
            <div class="switch">
              <input type="checkbox" name="mode" [checked]="modeSwitch">
              <span class="slider round-uc" *ngIf="isAdmin" (click)="changeMode($event)" value="{{radio.mode}}"
                [checked]="modeSwitch"></span>
            </div>
            <span>LSB</span>
            <hint [showHint]="false" [hint]="'mode'"></hint>
          </div>
        </form>
        <form #fptt="ngForm" class="formdata field" *ngIf="isAdmin">
          <span>PTT ({{radio.tx == false ? 'OFF' : 'ON'}}) <hint [showHint]="false" [hint]="'ptt'" class="float-right">
            </hint></span>
          <div class="switch float-right">
            <input type="checkbox" name="mode" [checked]="radio.tx">
            <span class="slider round" *ngIf="isAdmin" (click)="confirmChangePTT($event)" value="{{radio.tx}}"
              [checked]="radio.tx"></span>
          </div>
          <div class="overall alert" *ngIf="confirmSendPTT">
            <div class="cv">
              <span i18n="@@suresendpttmessage">
                Are you sure you want to send PTT?
                <br />
                This can cause irreparable problems.
              </span>
              <div class="row m-t-10">
                <button (click)="confirmChangePTT()" i18n="@@cancelsendptt">cancel</button>
                <button (click)="changePtt(fptt)" i18n="@@sendptt" class="m-l-10">send PTT</button>
              </div>
            </div>
          </div>
        </form>
        <form class="formdata field" *ngIf="isAdmin">
          <span i18n="@@radioprofilelabel">Radio profile</span>
          <div class="float-right flex-right">
            <span i18n="@@digitallabel">Digital</span>
            <div class="switch">
              <input type="checkbox" name="mode" [checked]="radio.profile">
              <span class="slider round-uc" *ngIf="isAdmin" (click)="changeProfile($event)" value="{{radio.profile}}"
                [checked]="toggleProfile"></span>
            </div>
            <span i18n="@@analogLabel">Analg</span>
            <hint [showHint]="false" [hint]="'mode'"></hint>
          </div>
        </form>
        <form #fgps="ngForm" class="formdata field" *ngIf="hasGps && bitx !== 'S' && isAdmin">
          <span i18n="@@labelgpscalibration">GPS Calibration</span>
          <button type="submit" name="gps" class="float-right" (click)="gpsStartCalibration()"
            i18n="@@startgpscalibration">Start</button>
        </form>
        <form #fgps="ngForm" class="formdata field" *ngIf="isAdmin">
          <span i18n="@@radioprotection">Protection ({{radio.protection ? 'ON' : 'OFF'}})</span>
          <div class="float-right">
            <hint [showHint]="false" [hint]="'resetprotection'"></hint>
          </div>
          <button (click)="resetProtection()" *ngIf="radio.protection" i18n="@resetprotection1"
            class="m-l-10 float-right">reset</button>

        </form>
        <form #fdefault="ngForm" class="formdata field" *ngIf="isAdmin">
          <div class="m-l-10">
            <button *ngIf="isAdmin" i18n="@@resettodefault" (click)="confirmReset()">
              reset to default
            </button>
            <hint [showHint]="false" [hint]="'reset'" class="float-right"></hint>
          </div>
        </form>

        <form #fanalogfreq="ngForm" class="formdata field">
          <span i18n="@@changeanalogfrequency">Radio analog frequency: {{radio.freq}} kHz
            <hint [showHint]="false" [hint]="'analogFrequency'" class="float-right"></hint>
          </span>
          <div class="flexible">
            <input type="number" [min]="freqmin" [max]="freqmax" class="midbt m-t-10" name="analogfreq"
              [(ngModel)]="analogfreq" value={{analogfreq}}>
            <button class="midbt" (click)="changeFrequency($fanalogfreq, 1)" [disabled]="fanalogfreq.invalid"
              i18n="@@changeanalogfreqr0">
              change analog frequency
            </button>
          </div>
        </form>

        <form #freboot="ngForm" class="formdata field" *ngIf="isAdmin">
          <div class="m-l-10">
            <button class="" (click)="confirmReboot()">
              <span i18n="@@reboot">reboot</span>
            </button>
            <hint [showHint]="false" [hint]="'reboot'" class="float-right"></hint>
          </div>
        </form>

        <form #femergency="ngForm" class="formdata field">
          <div class="m-l-10">
            <button class="danger" (click)="sosEmergencyConfirmation()">
              <span i18n="@@sosemergency">SOS emergency</span>
            </button>
            <p class="m-t-10" i18n="@@sosemergencylabel" *ngIf="!isAdmin">
              Use this button <b>only in dangerous or emergency situations.</b>
              It is going to erase all data from HERMES system.
            </p>
          </div>
        </form>
      </div>

      <!-- ALERTS -->
      <div class="overall alert" *ngIf="!reseting==false">
        <div class="cv">
          <span i18n="@@confirmreset">
            Are you sure you want to reset the radio to the default configuration?
          </span>
          <div class="row m-t-10">
            <button i18n="@@cancelr" (click)="confirmReset()">
              cancel
            </button>
            <button class="m-l-10" (click)="resetRadio()" *ngIf="isAdmin" i18n="@@reset1">
              reset
            </button>
          </div>
        </div>
      </div>
      <div class="overall alert" *ngIf="errorAlert==true">
        <div class="cv">
          <span i18n="@@errorchangingconfig">There was an error on changing configuration <br /><br /></span>
          <span>{{error}}</span>
          <button class="m-t-10" (click)="closeError()" i18n="@@closeerrorbutton">
            close
          </button>
        </div>
      </div>
      <div class="overall alert" *ngIf="gpsMessage">
        <div class="cv">
          <span i18n="@@gpscalibrationsuccess">GPS Calibration successful</span>
          <button class="m-t-10" (click)="closeGPSMessage()" i18n="@@closeerrorbuttongps">
            close
          </button>
        </div>
      </div>

      <div class="overall alert" [hidden]="restarting==false">
        <div class="cv">
          <span i18n="@@confirmreboot"> Are you sure you want to reboot the Hermes system?
            <br />
            This will stop messages transmission and reception.
            <br />
          </span>
          <button (click)="cancelReboot()" class="m-t-10" i18n="@@cancels2">cancel</button>
          <button class="m-l-10" (click)="reboot()" i18n="@@reboot1">reboot</button>
        </div>
      </div>

      <div class="overall alert" [hidden]="rebootingDownNow==false">
        <span i18n="@@rebootingsystemlabel">Rebooting System</span>
        <button class="m-t-10" (click)="reload()" i18n="@@closeerrorbuttonrebooting">
          close
        </button>
      </div>

      <div class="overall alert" *ngIf="sosEmergency">
        <div class="cv">
          <span i18n="@@confirmsosmessage">
            Are you sure do you want to start a SOS EMERGENCY operation?
            <br />
            It is going to erase all data from HERMES system.
          </span>
          <div class="row m-t-10">
            <button i18n="@@cancelsosbutton" (click)="sosEmergencyConfirmation()">
              cancel
            </button>
            <button class="m-l-10" (click)="callSOSEmergency()" i18n="@@confirmsosbutton">
              confirm SOS Emergency
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>