<loading [loading]="loading"></loading>
<div id="radioconf">
  <h2 *ngIf="isAdmin">
    <span i18n="@@radioconft">Radio Configuration </span>
  </h2>
  <h2 *ngIf="!isAdmin" i18n="@@radioinfo">Radio Information</h2>
  <div i18n="@@cannotaccessradio" class="alert" *ngIf="!radio">Alert: Cannot access radio<br /></div>
  <div>
    <form *ngIf="radio">
      <div class="flexible">
        <div class="card {{ radio.connection === true ? 'connected' : 'disconnected' }}">
          <div class="row">
            <h3>
              <span *ngIf="radio.connection">
                <span i18n="@@conectedr">Connected</span>
              </span>
              <span *ngIf="!radio.connection">
                <span i18n="@@disconectedr">Disconnected</span>
              </span>
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@currentradiofreq">Radio transmision frequency</span>
              <br />
              <span> {{radio.freq}} </span>
              kHz
              <br />
              <span> {{radio.mode}} </span>
            </h3>
          </div>
        </div>
        <!-- <div class="card">
          <div class="row">
            <h3>
              SWR
              <br />
              <span>
                {{radio.swr | slice:0:9}}
              </span>
            </h3>
          </div>
        </div> -->
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@reflected">REF </span>
              <br />
              ({{radio.ref_watts ? radio.ref_watts : 0}} W)
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@forward"> FWD Power</span>
              <br />
              ({{radio.fwd_watts ? radio.fwd_watts : 0}} W)
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <span i18n="@@operationmode">Operation mode</span>
              <br />
              <div *ngIf="radio.tx" i18n="@@operationtx1"> TX</div>
              <div *ngIf="radio.rx" i18n="@@operationrx"> RX</div>
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <h3>
              <div i18n="@@serial">Serial Number
                <br />
                {{serial}}
              </div>
            </h3>
          </div>
        </div>
      </div>
      <div class="radio" *ngIf="radio">
        <form #ffreq="ngForm" class="formdata field" *ngIf="(localUsing && !isAdmin) || isAdmin">
          <span i18n="@@changefrequency">Radio frequency: {{radio.freq}}
          </span>
          <div class="flexible">
            <input type="number" [min]="freqmin" [max]="freqmax" class="midbt m-t-10" name="frek" [(ngModel)]="frek"
              value={{frek}}>
            <button class="midbt" (click)="confirmChange()" [disabled]="ffreq.invalid" i18n="@@changefreqr0">
              change frequency
            </button>
          </div>
          <div class="overall alert" *ngIf="confirmSet">
            <div class="cv">
              <span i18n="@@areyousurechangesett">Are you sure you want to change radio settings?
                <br />
                this may cause the system to stop
              </span>
              <br />
              <button (click)="changeFrequency(ffreq)" i18n="@@changer">change</button>
              <button class="m-l-10" (click)="confirmChange()" i18n="@@cancelr0">cancel</button>
            </div>
          </div>
        </form>
        <form #frefthreshold="ngForm" class="formdata field" *ngIf="isAdmin">
          <span i18n="@@prottheshold">Protection activation threshold level </span>
          <div class="flexible">
            <input type="number" [max]="1023" class="midbt m-t-10" name="refthreshold" [(ngModel)]="refthreshold"
              value={{refthreshold}}>

            <button class="midbt" (click)="changeRefThreshold(frefthreshold)" [disabled]="frefthreshold.invalid"
              i18n="@@changetre1">change
              threshold</button>
          </div>
        </form>
        <form class="formdata field" *ngIf="isAdmin">
          <span i18n="@@changeradiomode">Mode</span>
          <div class="float-right flex-right">
            <span>USB</span>
            <div class="switch">
              <input type="checkbox" name="mode" [checked]="modeSwitch">
              <span class="slider round-uc" *ngIf="isAdmin" (click)="changeMode($event)" value="{{radio.mode}}"
                [checked]="modeSwitch"></span>
            </div>
            <span>LSB</span>
          </div>
        </form>
        <form #fptt="ngForm" class="formdata field" *ngIf="isAdmin">
          <span>PTT ({{radio.tx == false ? 'OFF' : 'ON'}})</span>
          <div class="switch float-right">
            <input type="checkbox" name="mode" [checked]="radio.tx">
            <span class="slider round" *ngIf="isAdmin" (click)="changePtt($event)" value="{{radio.tx}}"
              [checked]="radio.tx"></span>
          </div>
        </form>
        <form #fptt="ngForm" class="formdata field" *ngIf="hasGps && bitx !== 'S' && isAdmin">
          <span i18n="@@labelgpscalibration">GPS Calibration</span>
          <button type="submit" name="gps" class="float-right" (click)="gpsStartCalibration()"
            i18n="@@startgpscalibration">Start</button>
        </form>
        <form #fptt="ngForm" class="formdata field" *ngIf="isAdmin">
          <div>
            <span i18n="@@radioprotection">Protection ({{radio.protection ? 'ON' : 'OFF'}})</span>
            <button (click)="resetProtection()" i18n="@resetprotection1" class="float-right">
              reset</button>
          </div>
        </form>
        <form #fptt="ngForm" class="formdata field" *ngIf="isAdmin">
          <div class="m-l-10">
            <button *ngIf="isAdmin" i18n="@@resettodefault" (click)="confirmReset()">
              reset to default
            </button>
          </div>
        </form>
        <form #fptt="ngForm" class="formdata field" *ngIf="isAdmin">
          <div class="m-l-10">
            <button class="" (click)="confirmReboot()">
              <span i18n="@@reboot">reboot</span><br />
            </button>
            <button class="m-l-10" (click)="confirmShutDown()">
              <span i18n="@@shutdown">shut down</span><br />
            </button>
          </div>
        </form>
      </div>

      <!-- ALERTS -->
      <div class="overall alert" *ngIf="!reseting==false">
        <div class="cv">
          <span i18n="@@confirmreset">
            Are you sure you want to reset the radio to the default configuration?
            <br />
            <br />
          </span>
          <span class="icon">
            <a (click)="confirmReset()">
              <button i18n="@@cancelr">
                cancel
              </button>
            </a>
          </span>
          <span class="icon" *ngIf="isAdmin">
            <a (click)="resetRadio()">
              <button class="m-l-10" i18n="@@reset1">
                reset
              </button>
            </a>
          </span>
        </div>
      </div>
      <div class="overall alert" *ngIf="errorAlert==true">
        <div class="cv">
          <span i18n="@@errorchangingconfig">There was an error on changing configuration <br /><br /></span>
          <span>{{error}}</span>
          <div class="icon">
            <a (click)="closeError()">
              <img title="close" src="assets/svg/x.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="overall alert" *ngIf="gpsMessage">
        <div class="cv">
          <span i18n="@@gpscalibrationsuccess">GPS Calibration successful</span>
          <div class="icon">
            <a (click)="closeGPSMessage()">
              <img title="close" src="assets/svg/x.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="overall alert" [hidden]="shuttingDown==false">
        <div class="cv">
          <span i18n="@@confirmshutdown"> Are you sure you want to shut down Hermes system?
            <br />
            This will stop messages transmision and reception.
            <br />
          </span>
          <button (click)="cancelShutDown()" i18n="@@cancels1">cancel</button> <button class="m-l-10"
            (click)="shutDown()" i18n="@@shutdown1">shut
            down</button>
        </div>
      </div>
      <div class="overall alert" [hidden]="restarting==false">
        <div class="cv">
          <span i18n="@@confirmreboot"> Are you sure you want to reboot Hermes system?
            <br />
            This will stop messages transmision and reception.
            <br />
          </span>
          <button (click)="cancelReboot()" i18n="@@cancels2">cancel</button>
          <button class="m-l-10" (click)="reboot()" i18n="@@reboot1">reboot</button>
        </div>
      </div>
      <div class="overall alert" [hidden]="shuttingDownNow==false" i18n="@@shutDownButton">
        Shutting Down System
        <br />
        <a (click)="reload()">
          <span class="icon"><img title="close" src="assets/svg/x.svg"></span></a>
        <br>
      </div>
      <div class="overall alert" [hidden]="rebootingDownNow==false" i18n="@@rebootButton">
        Rebooting System
        <br />
        <a (click)="reload()">
          <span class="icon"><img title="close" src="assets/svg/x.svg"></span></a>
        <br>
      </div>
    </form>
  </div>
</div>