<loading [loading]="loading"></loading>
<div id="radioconf">
  <div class="flexible m-b-25">
    <h2 i18n="@@radioconft">Radio Configuration</h2>
    <hint [showHint]="false" [hint]="'radioconfig'"></hint>
  </div>
  <div i18n="@@cannotaccessradio" class="alert" *ngIf="!radio">Alert: Cannot access radio<br /></div>
  <div>
    <app-radio-connection-alert *ngIf="radio.connection"></app-radio-connection-alert>
    <div *ngIf="radio" class="radio form-container">
      <form class="formdata field" *ngIf="bitx == 'S'">
        <div class="row">
          <span i18n="@@radioprofilelabel" class="radio-config-label">Profile
            <span *ngIf="radio.profile == 1 && radio.timeout > 0">({{radio.timeout}})</span>
          </span>
          <div [ngClass]="{'float-right flex-right': !isArabic}" *ngIf="!radio.connection">
            <span i18n="@@digitallabel">Data</span>
            <div class="switch">
              <input type="checkbox" name="profile" [checked]="radio.profile">
              <span class="slider round" (click)="changeProfile($event)" value="{{radio.profile}}"
                [checked]="toggleProfile"></span>
            </div>
            <span i18n="@@voiceLabel">Voice</span>
            <hint [showHint]="false" [hint]="'radioprofile'"></hint>
          </div>
          <div [ngClass]="{'float-right flex-right': !isArabic}" *ngIf="radio.connection">
            {{radio.profile == 0 ? 'Data' : 'Voice'}}
            <hint [showHint]="false" [hint]="'radioprofile'"></hint>
          </div>

          <p class="m-t-10" i18n="@@radioprofilesubtitle">
            The radio profile defines the radio operational mode : VOICE for PTT voice calls or DATA for data
            transmission (messages, email and GPS signal)
          </p>
        </div>

      </form>
      <form class="formdata field" *ngIf="bitx == 'S' && radio.profile === 1">
        <div class="row">
          <span i18n="@@radiodigitalvoicemode" class="radio-config-label">Digital voice
            <span *ngIf="radio.profile == 1 && radio.timeout > 0">({{radio.digital}})</span>
          </span>
          <div [ngClass]="{'float-right flex-right': !isArabic}" *ngIf="!radio.connection">
            <span i18n="@@off">OFF</span>
            <div class="switch">
              <input type="checkbox" name="digital" [checked]="radio.digital">
              <span class="slider round" (click)="toggleDigitalVoice($event)" value="{{radio.digital}}"
                [checked]="toggleDigital"></span>
            </div>
            <span i18n="@@on">ON</span>
            <hint [showHint]="false" [hint]="'digitalvoice'"></hint>
          </div>
          <div [ngClass]="{'float-right flex-right': !isArabic}" *ngIf="radio.connection">
            {{radio.profile == 0 ? 'Data' : 'Voice'}}
            <hint [showHint]="false" [hint]="'radioprofile'"></hint>
          </div>

          <p class="m-t-10" i18n="@@radiodigitalvoicesubtitle">
            Radio digital voice mode converts analog speech into digital data, allowing for clearer, more efficient, and
            data-rich communication than traditional analog modes.
          </p>
        </div>

      </form>
      <form #ffreq="ngForm" class="formdata field" *ngIf="radio.profile == 0">
        <span i18n="@@changefrequency" class="radio-config-label">Data frequency: <br /> {{radio.p0_freq}} kHz
          <hint [showHint]="false" [hint]="'frequency'" [ngClass]="{'float-right': !isArabic}"></hint>
        </span>
        <div class="flexible">
          <input type="number" [min]="freqmin" [max]="freqmax" class="midbt m-t-10" name="frek" [(ngModel)]="p0_frek"
            value={{p0_frek}} step="0.01">
          <button class="midbt" (click)="confirmChange()" [disabled]="ffreq.invalid" i18n="@@changefreqr0">
            change
          </button>
          <div class="row m-t-10" *ngIf="!isAdmin">
            <p i18n="@@advisechangedatafrequency">
              <b>DO NOT</b> use this button <b>UNLESS</b> you have been asked by the manager to change the data
              transmission frequency of the radio.
            </p>
          </div>
        </div>
        <div class="overall alert" *ngIf="confirmSet">
          <div class="cv">
            <span i18n="@@areyousurechangesett">Are you sure you want to change radio settings?
              <br />
              This may cause the system to stop.
            </span>
            <br />
            <button class="m-t-10" (click)="confirmChange()" i18n="@@cancelr0">cancel</button>
            <button class="m-l-10" (click)="changeFrequency(ffreq, 0)" i18n="@@changer">change</button>
          </div>
        </div>
      </form>

      <form #fvoicefreq="ngForm" class="formdata field" *ngIf="radio && bitx == 'S' && radio.profile == 1">
        <span i18n="@@changevoicefrequency" class="radio-config-label">Voice frequency: <br /> {{radio.p1_freq}} kHz
          <hint [showHint]="false" [hint]="'voiceFrequency'" [ngClass]="{'float-right': !isArabic}"></hint>
        </span>
        <div class="flexible">
          <input type="number" [min]="freqmin" [max]="freqmax" class="midbt m-t-10" name="frek" [(ngModel)]="p1_frek"
            value={{p1_frek}} step="0.01">
          <button class="midbt" (click)="changeFrequency(fvoicefreq, 1)" [disabled]="fvoicefreq.invalid"
            i18n="@@changevoicefreqr0">
            change
          </button>
        </div>
      </form>

      <form class="formdata field" *ngIf="radio.profile == 0">
        <span i18n="@@changeradiomode" class="radio-config-label">Data Mode</span>
        <div [ngClass]="{'float-right flex-right': !isArabic}">
          <span>USB</span>
          <div class="switch">
            <input type="checkbox" name="mode" [checked]="modeSwitch">
            <span class="slider round" (click)="changeMode($event, 0)" value="{{radio.p0_mode}}"
              [checked]="modeSwitch"></span>
          </div>

          <span>LSB</span>
          <hint [showHint]="false" hint="mode"></hint>
        </div>
      </form>

      <form class="formdata field" *ngIf="bitx == 'S' && radio.profile == 1">
        <span i18n="@@voicemode" class="radio-config-label">Voice Mode</span>
        <div [ngClass]="{'float-right flex-right': !isArabic}" *ngIf="radio.digital == 0">
          <span>USB</span>
          <div class="switch">
            <input type="checkbox" name="voicemode" [checked]="voiceModeSwitch" [disabled]="radio.digital === 1">
            <span class="slider round" (click)="changeMode($event, 1)" value="{{radio.p1_mode}}"
              [checked]="voiceModeSwitch"></span>
          </div>
          <span>LSB</span>
          <hint [showHint]="false" [hint]="'mode'"></hint>
        </div>
        <div *ngIf="radio.digital == 1">
          {{radio.p1_mode}}
        </div>
      </form>

      <form #frefthreshold="ngForm" class="formdata field" *ngIf="isAdmin && radio.profile == 0">
        <span i18n="@@prottheshold" class="radio-config-label">Protection activation threshold level
          <hint [showHint]="false" [hint]="'threshold'" [ngClass]="{'float-right': !isArabic}"></hint>
        </span>
        <div class="flexible">
          <input type="number" [max]="1023" class="midbt m-t-10" name="refthreshold" [(ngModel)]="refthreshold"
            value={{refthreshold}}>
          <button class="midbt" (click)="confirmChangeThreshold(frefthreshold)" [disabled]="frefthreshold.invalid"
            i18n="@@changetre1">change</button>
        </div>
        <div class="overall alert" *ngIf="confirmChangeProtection">
          <div class="cv">
            <span i18n="@@confirmthreshold">Are you sure you want to change radio protection threshold?
              <br />
              This may cause the system to stop and damage your radio.
            </span>
            <br />
            <button class="m-t-10" (click)="confirmChangeThreshold()" i18n="@@cancelrchangeprotection">cancel</button>
            <button class="m-l-10" (click)="changeRefThreshold(frefthreshold)" i18n="@@changeprotection">change</button>
          </div>
        </div>
      </form>

      <form #formProtection="ngForm" class="formdata field" *ngIf="isAdmin && radio.profile == 0">
        <span i18n="@@radioprotectionlabel" class="radio-config-label">Protection</span>
        <div [ngClass]="{'float-right': !isArabic}">
          <hint [showHint]="false" [hint]="'resetprotection'"></hint>
        </div>
        <div class="row m-t-10">
          <button disabled *ngIf="!radio.protection">OFF</button>
          <button (click)="resetProtection()" i18n="@resetprotectionbutton" *ngIf="radio.protection">
            reset protection
          </button>
        </div>
      </form>

      <form #dataFormPowerLevel="ngForm" class="formdata field" *ngIf="isAdmin && radio.profile == 0">
        <span i18n="@@datapowerlevel" class="radio-config-label">Data Power Level ({{dataPowerLevel}}%)
          <hint [showHint]="false" [hint]="'powerlevel'" [ngClass]="{'float-right': !isArabic}"></hint>
        </span>
        <div class="flexible">
          <div class="slidercontainer">
            <input type="range" min="0" max="100" step="2" [value]="dataPowerLevel" class="slider-input"
              [(ngModel)]="dataPowerLevel" name="dataPowerLevel" (change)="updatePowerLevel(dataFormPowerLevel, 0)">
          </div>
        </div>
      </form>

      <form #voiceFormPowerLevel="ngForm" class="formdata field" *ngIf="radio.profile == 1">
        <span i18n="@@voicepowerlevel" class="radio-config-label">Voice Power Level ({{voicePowerLevel}}%)
          <hint [showHint]="false" [hint]="'powerlevel'" [ngClass]="{'float-right': !isArabic}"></hint>
        </span>
        <div class="flexible">
          <div class="slidercontainer">
            <input type="range" min="0" max="100" step="2" [value]="voicePowerLevel" class="slider-input"
              [(ngModel)]="voicePowerLevel" name="voicePowerLevel" (change)="updatePowerLevel(voiceFormPowerLevel, 1)"
              [disabled]="radio.digital === 1">
          </div>
        </div>
      </form>

      <form #fptt="ngForm" class="formdata field" *ngIf="isAdmin && radio.profile == 0">
        <span class="radio-config-label">PTT ({{radio.tx == false ? 'OFF' : 'ON'}}) <hint [showHint]="false"
            [hint]="'ptt'" [ngClass]="{'float-right': !isArabic}">
          </hint></span>
        <div class="switch" [ngClass]="{'float-right': !isArabic}">
          <input type="checkbox" name="mode" [checked]="radio.tx">
          <span class="slider round" *ngIf="isAdmin" (click)="confirmChangePTT($event)" value="{{radio.tx}}"
            [checked]="radio.tx"></span>
        </div>
        <div class="overall alert" *ngIf="confirmSendPTT">
          <div class="cv">
            <span i18n="@@suresendpttmessage">
              Are you sure you want to send PTT?
              <br />
              This can cause irreparable problems.
            </span>
            <div class="row m-t-10">
              <button (click)="confirmChangePTT()" i18n="@@cancelsendptt">cancel</button>
              <button (click)="changePtt(fptt)" i18n="@@sendptt" class="m-l-10">send PTT</button>
            </div>
          </div>
        </div>
      </form>

      <form #fgps="ngForm" class="formdata field" *ngIf="hasGps && bitx !== 'S' && isAdmin && radio.profile == 0">
        <span i18n="@@labelgpscalibration" class="radio-config-label">GPS Calibration</span>
        <button type="submit" name="gps" [ngClass]="{'float-right': !isArabic}" (click)="gpsStartCalibration()"
          i18n="@@startgpscalibration">Start</button>
      </form>

      <form #fserial="ngForm" class="formdata field">
        <div class="m-l-10">
          <span i18n="@@seriallabel" class="radio-config-label">Serial number</span>
          <div class="row">
            <b>{{serial}}</b>
          </div>
        </div>
      </form>

      <form #freboot="ngForm" class="formdata field" *ngIf="isAdmin">
        <div class="row">
          <button (click)="confirmReboot()">
            <span i18n="@@reboot">reboot</span>
          </button>
          <hint [showHint]="false" [hint]="'reboot'" [ngClass]="{'float-right': !isArabic}"></hint>
        </div>
      </form>

      <form #femergency="ngForm" class="formdata field">
        <div class="row">
          <button class="danger" (click)="eraseSDCardConfirmation()">
            <span i18n="@@erasesdcardlabel">Erase SD Card</span>
          </button>
          <p class="m-t-10" i18n="@@erasesdcardmessage" *ngIf="!isAdmin">
            Use this button <b>only in dangerous or emergency situations.</b>
            It is going to erase all data from HERMES system.
          </p>
        </div>
      </form>
    </div>

    <!-- ALERTS -->
    <div class="overall alert" *ngIf="reseting">
      <div class="cv">
        <span i18n="@@confirmreset">
          Are you sure you want to reset the radio to the default configuration?
        </span>
        <div class="row m-t-10">
          <button i18n="@@cancelr" (click)="confirmReset()">
            cancel
          </button>
          <button class="m-l-10" (click)="resetRadio()" *ngIf="isAdmin" i18n="@@reset1">
            reset
          </button>
        </div>
      </div>
    </div>
    <div class="overall alert" *ngIf="errorAlert==true">
      <div class="cv">
        <span i18n="@@errorchangingconfig">
          There was an error on changing configuration
        </span>
        <div class="row m-t-10">
          {{error}}
        </div>
        <div class="row m-t-10">
          <button (click)="closeError()" i18n="@@closeerrorbutton">
            close
          </button>
        </div>
      </div>
    </div>
    <div class="overall alert" *ngIf="gpsMessage">
      <div class="cv">
        <span i18n="@@gpscalibrationsuccess">GPS Calibration successful</span>
        <button class="m-t-10" (click)="closeGPSMessage()" i18n="@@closeerrorbuttongps">
          close
        </button>
      </div>
    </div>

    <div class="overall alert" [hidden]="restarting==false">
      <div class="cv">
        <span i18n="@@confirmreboot"> Are you sure you want to reboot the Hermes system?
          <br />
          This will stop messages transmission and reception.
          <br />
        </span>
        <button (click)="cancelReboot()" class="m-t-10" i18n="@@cancels2">cancel</button>
        <button class="m-l-10" (click)="reboot()" i18n="@@reboot1">reboot</button>
      </div>
    </div>

    <div class="overall alert" [hidden]="rebootingDownNow==false">
      <span i18n="@@rebootingsystemlabel">Rebooting System</span>
      <button class="m-t-10" (click)="reload()" i18n="@@closeerrorbuttonrebooting">
        close
      </button>
    </div>

    <div class="overall alert" *ngIf="eraseSDCard">
      <div class="cv">
        <span i18n="@@confirmerasesdcardmessage">
          Are you sure that you want to start a Erase SD Card operation?
          <br />
          It is going to erase all data from HERMES system.
        </span>
        <div class="row m-t-10">
          <button i18n="@@cancel" (click)="eraseSDCardConfirmation()">cancel</button>
          <button class="m-l-10 danger" (click)="callEraseSDCard()" i18n="@@confirmerasesdcardbutton">
            confirm erase SD card
          </button>
        </div>
      </div>
    </div>
  </div>
</div>