
<div class="alertcard" *ngIf="radio.connection">
    <status-badge [active]="true" activeLabel="Connected"></status-badge>
    <b class="m-l-10" i18n="@@transmissioncardalerttitle">
        Radio connected
    </b>
    <div class="row">
        <p i18n="@@transmissioncardalertmesage">
            Data connection ongoing... Voice mode blocked.
        </p>
    </div>
</div>

<div class="alertcard flexible" *ngIf="!radio.connection">
    <status-badge [active]="radio.connection" activeLabel="Connected" inactiveLabel="Disconnected"></status-badge>
    <!-- <b class="m-l-10" i18n="@@radiodisconnected">
        Radio disconnected
    </b> -->
    <div class="row">
        <p *ngIf="radio.profile == 0" i18n="@@notransmissioncardalertmesage">
            No transmission occurring. Voice mode available.
        </p>
        <p *ngIf="radio.profile == 1" i18n="@@voicemodeongoing">
            Voice mode ongoing... Change the profile to data if you want to send messages and files
        </p>
    </div>
</div>