<loading [loading]="loading"></loading>
<div class="radiophony">
  <div class="row">
    <span class="fullfrequency" *ngIf="radio.freq">{{radio.freq}} kHz</span>
    <h2 i18n="@@loadingfrequency" *ngIf="!radio.freq">
      loading radio status...
    </h2>
  </div>
  <div class="row m-t-25 voiceactions" *ngIf="radio.mode!=null">
    <button class="m-t-10" (click)="setUSB()" [disabled]="radio.mode === 'USB' ? true : null">
      USB
    </button>
    <button class="m-t-10 m-l-10" (click)="setLSB()" [disabled]="radio.mode === 'LSB' ? true : null">
      LSB
    </button>
  </div>
</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@errorcustomerror">There was an error on precessing your request <br /><br /></span>
    <span>{{error}}</span>
    <div class="icon"><a (click)="closeError()">
        <img title="close" src="assets/svg/x.svg"></a>
    </div>
  </div>
</div>