<div class="container sysadm home">
    <div class="row">
        <div class="flexible">
            <a routerLink="/voice" *ngIf="showVoiceCard">
                <div class="card voice">
                    <div class="m-t-25">
                        <!-- <img _ngcontent-dpr-c68="" title="Messages" src="assets/svg/walkie-talkie.svg"> -->
                        <b>{{mode}} {{frequency}} kHz</b>
                    </div>
                    <div i18n="@@voicecard">
                        Voice
                    </div>
                </div>
            </a>
            <a routerLink="/messages">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="Messages" src="assets/svg/comment.svg">
                    </div>
                    <div class="card-title" i18n="@@messagescard">
                        Messages
                    </div>
                </div>
            </a>
            <a routerLink="/email">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="Email" src="assets/svg/envelope.svg">
                    </div>
                    <div i18n="@@emailcard">
                        E-mail
                    </div>
                </div>
            </a>
            <a routerLink="/help">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="Help" src="assets/svg/question-circle-regular.svg">
                    </div>
                    <div i18n="@@helpcard">
                        Help
                    </div>
                </div>
            </a>
            <a routerLink="/radioconfig">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/ham-radio.svg">
                    </div>
                    <div i18n="@@radioconfig">
                        Radio configuration
                    </div>
                </div>
            </a>
            <a routerLink="/usermanage" *ngIf="currentUser">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/circle-user.svg">
                    </div>
                    <div class="row" i18n="@@adminmanage">
                        User management
                    </div>
                </div>
            </a>
            <a routerLink="/messageadm" *ngIf="admin">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/comments.svg">
                    </div>
                    <div i18n="@@messageadm">
                        Messages configuration
                    </div>
                </div>
            </a>
            <a *ngIf="isGateway && admin" routerLink="/gateway">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/clock.svg">
                    </div>
                    <div i18n="@@scheduling">
                        Transmision schedule
                    </div>
                </div>
            </a>
            <a routerLink="/transmision" *ngIf="admin">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/transmit-antenna.svg">
                    </div>
                    <div i18n="@@transmisionlista">
                        Transmision list
                    </div>
                </div>
            </a>
            <a routerLink="/stationinformation" *ngIf="admin">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/broadcast-tower.svg">
                    </div>
                    <div i18n="@@stationinformationcard">
                        Stations information
                    </div>
                </div>
            </a>
            <a routerLink="/wifiManager" *ngIf="admin">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/wifi-solid.svg">
                    </div>
                    <div i18n="@@wifimanagercard">
                        Wi-Fi & Ethernet manager
                    </div>
                </div>
            </a>
            <a routerLink="/log" *ngIf="admin">
                <div class="card">
                    <div class="card-icon">
                        <img _ngcontent-dpr-c68="" title="messages" src="assets/svg/compass.svg">
                    </div>
                    <div i18n="@@detailedlog">
                        Detailed log
                    </div>
                </div>
            </a>
            <div class="shut m-t-10">
                <button (click)="toggle()" class="midbt {{currentTheme}}">
                    <span i18n="@@darktheme" *ngIf="currentTheme == 'light'">
                        Dark theme
                    </span>
                    <span i18n="@@lighttheme" *ngIf="currentTheme == 'dark'">
                        Light theme
                    </span>
                    <br />
                </button>
                <button routerLink="/login" class="midbt m-t-10" *ngIf="!currentUser">
                    <span i18n="@@loginbutton">
                        Login
                    </span>
                    <br />
                    <img class="btnicon" title="send" src="assets/svg/sign-in-alt-solid.svg">
                </button>
                <button class="midbt m-t-10" (click)="logOff()" *ngIf="currentUser">
                    <span i18n="@@logoutbutton">
                        Logout
                    </span>
                    <br />
                    <img class="btnicon" title="send" src="assets/svg/sign-out-alt-solid.svg">
                </button>
            </div>
        </div>
    </div>
</div>
<div class="overall alert" *ngIf="alertBrowserXP">
    <div class="cv">
        <span i18n="@@alertbrowserxp">
            To a better HERMES experience use the chromium/chrome browser
        </span>
        <div class="icon">
            <a (click)="closeBrowserAlert()">
                <img title="compose" src="assets/svg/x.svg">
            </a>
        </div>
    </div>
</div>