/* You can add global styles to this file, and also import other style files */

@boxw: 29em;
@clr: #f60;
@actvclr: #f00;
@vstclr:#c96;
@mclr:#333;
@bkclr:#fff;
@desktop: ~"only screen and (min-width: 992px)";


*{box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


@media screen {
    body,
    input,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    option,
    select,
    textarea
     {
      font-size: 1.5em;
      line-height: 1.1em;
    }

    button {
        font-size: 1em;
        padding: 0.3em 0.5em;
        margin-top: 0.5em;
        margin-right: 0.5em;
        a {
            color: @bkclr;
        }

    }
    
    input[type="file"] {
        font-size: 1.2em;
    
    }

    .space {
        line-height: 2.5em;
    }

    h1, h2, h3, h4 {
        font-size: 1.2em;
        margin: 0.1em 0 0.5em;
    }
    
    
    

  
    
}


body {    
    max-width: 30em;
    width: 100%;
    margin: 0.2em auto 1em auto;
    padding: 0 0.5em;
    position: relative;
    background-color:@bkclr;
    color: @mclr;
}

p {
    margin: 1px 0;
}

.color{
    color: @clr;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px @vstclr;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

hr {
    border-top: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

h2 {
    max-width: 80%;
}

button {
    border: 0;
    background-color: @clr;
    color: white;
    font-weight: bold;
    border-radius: 0.1em;
    a{
        text-decoration:none;
    }
    a:visited {
        color: #ddd;
    }
}

button:hover {
    background-color: @clr;
}

a {
    color: @clr;
}

a:active {
    color: @actvclr;
}

a:visited {
    color: @mclr;
}

.b {
    font-weight: bold;
}

.ls {
margin-left: 2px;
}

nav {
    font-size: 0.8em;
    border-bottom: 2px solid @mclr;
    max-width: calc(100%-4px);
    padding-top: 1.6em;
    display: flex;
    justify-content: flex-start;
    a {
    text-decoration: none;
    border-top: 3px solid @mclr;
    padding-bottom: 4px;
    margin-right: 0.3em;
    margin-top: 0.8em;
    position: relative;
    }
    a:hover {
        border-top: 3px solid @clr;
    }
    img {
        width: 2em;
        position: absolute;
        top: -2.3em;
    }
    img:hover {
        fill: @clr;
    }
}



nav a:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}




label{
    display: block;
    text-align: left;
}

textarea {
    resize: vertical;
    width: 100%;
}

.sitetitle {
    color:@clr;
    font-size: 14px;
    position: relative;
    top:-3px;
}

.logo {
    position: relative;
    left: -10px;
    top:0px;
    
}

.formfield input.inl {
    display: inline;
    width: 20px;
    position: relative;
    top:2px;
}

.bordered {
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    border-radius: 0 0 0 0;
    margin: 0px;
}


.footer {
    font-size: 0.6em;
}


.formfield {
    position: relative;
    max-width: calc(100%-4px);
    padding-bottom: 1.5em;
    .bordered();
    .textarea{
        width: 100%;
    }
    input {
        width: 100%;
    }
}


.icon {
    img {
        height: 1.5em;
        position: relative;
        top: 5px;
        margin-right: 0.1em;
    }
}



 .userstatus {
    position: absolute;
    top:0;
    right:1em;
    text-align: right;
    font-size: 0.5em;

    .icon {
        img {
            height: 2.8em; 
            
        }
    }

    button {
        background-color: #666
    }

}

.error {
    color: @clr;
}

.lock.lock img{
    width: 1.8em;
}

.flags {
    margin-top: 1.8em;
    border-bottom: 0;
}

.flags img{
    width: 1.8em;
}

.btn {
    
    width: 6em;
    display: block;
    font-size: 0.6em;
    line-height: 0.7em;
    img {
        display: block;
        height: 3em;
        clear: both;
        margin-bottom: 0.1em;
        
    }

    a {
        text-decoration: none;
        padding-bottom: 4px;

    }



    a:visited {
        color: @mclr;
    }
}

.btn.sent {
    width: 12em;
    position: absolute;
    top:0;
    left: 6em;
   
}

.navicons {
    position: relative;
    padding-top: 0.1em;
}


.supicons {
    position: absolute;
    top:0.25em;
    right: 0.1em;
    
    img {
        width: 1.5em;
    }
}


.btn:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


.formdata {
    width: calc(100%-80px);
    input {
        width:100%;
        border: 1px solid #888;
        
    }
    label{
        margin-top: 5px;
        display: block;
    }
    input.ckbx {
        width: 60px;

    }
    input.midbt {
        width: 60%; 
        margin-right: 5px;
    }

    button.midbt {
        text-align: left;
        float: right;
        position: relative;
        top:-0.5em;
        padding: 0.35em 0.35em;
        width:36%; 
        font-size: 0.7em;
        line-height: 0.85em;
        height: 2.8em;
        margin-left: 0.1em;
    }

    p {
        margin-bottom: 0.2em;
    }

    input.sbmbtn {
        margin-bottom: 5px;
        background-color: @clr;
        color: @mclr;
    }
    .forgot {
        position: relative;
        height: 0;
    }
    .forgot a {
        position: absolute;
        right: 0px;
        top: -20px;
    }
    .selector {
        display: block;
        margin-top: 10px;
    }
}

#radioconf .fomdata button.midbt {
    margin-bottom: 1em;
}

.selectors {
    form {
        width: 25%;
        display: flex;
        flex-direction: column;
        float: left;
        border-right: 1px solid @mclr  ;
        font-size: 0.7em;
        margin:0.2em;
        height: auto;
        justify-content: space-between;
        position: relative;
        
    }
    .row {
        height: auto;
        display: flex;
        flex-direction: row;

    }
    p {
        margin-bottom: auto;
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    button {
        margin-top: auto;
        margin-bottom: 0.2em;
    }
}



.field {
    border-top: 1px solid @mclr;
    padding: 10px 0 15px;
}

.shut {
    text-align: right;
}

.alert {
    color: red;
}


.multiplist {
    max-height: 10em;
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
}



#messagecompose {
    textarea {
        width: 100%;
        resize: none;
        height: 100px;
    }
    p {
        width: 100%;
    }
    
}


.formfield input.searchbox {
    position: relative;
    right: 0;
}

input.searchbox1 {
    position: relative;
    right: 0;
    margin-bottom: 5px;

}

input.searchbox2 {
    position: relative;
    right: 0;
    width: 80%;
}
.selstation, .passprotect {
        display: block;
        border-bottom: 1px solid @mclr;
        padding: 5px 0 10px 0;
        width: 100%;
        position: relative;
        margin: 5px 0;
        select {
            position: absolute;
            right: 0px;
            bottom:5px;
            width: calc(100%-4px);
        }
        input[type=checkbox] {
            position: absolute;
            right: 0px;
            top:15px;
            text-align: right;
            width:25px;
        }
}

#dragNDrop {
    overflow: hidden;
}

#dragNDrop.dragNDrop .div1 {
    width: 100%;
    border: 2px dashed #5c5b5b;
}

.uploader .btn {
    background-color: @clr;
    color: @mclr;
    padding:2px;
    width: 60%;
    margin: 3px auto;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.uploader .btn:hover {
    color:#fff;
    font-weight: bold;
}

.uploader #default .resetBtn {
    margin-left:auto;}


    .messages {
        div {
            margin: 0.1em;
            position: relative;
            display: block;
        }
        a {text-decoration: none;}
        .date {

            position: absolute;
            color:#555;
            font-size: 0.35em;
            line-height: 0.5em;
            position: relative;
            top:0.25em;
            right: 0;
  
        }
       .ckbx {
        width: 15px;
        }
    }


 #compose {
     .origin {
         display: none;
     }
     .mssgid {
         display: none;
     }
 }   

 button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }


.btnicon {
    color:#fff;
    width: 30px;
    filter: invert(100%);

}  

.inlineicon {
    width: 12px;
    filter: invert(27%) brightness(200%) ;
    margin-right: 0.1em;

}

.inlineiconj {
    width: 12px;
    position: relative;
    top:0px;
    margin: 0 2px;
    filter: invert(27%) brightness(200%) ;

}

.inlineiconlink {
    width: 12px;
    margin: 0 5px;
    position: relative;
    top:2px;
    filter: invert(27%) brightness(800%) ;

}

.servericon {
    position: relative;
    top:-2px;
}
  input.ng-invalid {
      border: 1px solid red;
  }

  .overall {
      position: fixed;
      top:0;
      left:0;
      margin:0 auto;
      background-color:#fff;
      height: 100%;
      width: 100%;  
      color: @clr;
      font-weight: bold;
      text-align: center;
      z-index: 10;
      .cv {
          width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  }

  

  .redcircle {
    display: inline-block;
    position: relative;
    top:0.1em;
    background: red;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin: 0;
    z-index: 0;
  }

  .greencircle {
    display: inline-block;
    position: relative;
    top:0.1em;
    background: green;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin: 0;
    z-index: 0;
  }

  .footer div {
      display:inline-block;
  }

  .blobber {
      width: 100%;
      height:50px;
      position: relative;
  }

  .blobber .square {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: @clr;
      position: absolute;
      animation-name: blobber;
      animation-duration: 6s;
      animation-iteration-count: infinite;
  }

 .help {
     h2, h3, p {
         margin-top: 1em;
     }

     li {
         margin: 0;         
         padding: 0;
     }

 } 

  @keyframes blobber {
      0% {left: 0px;}
      50% {left: 240px;}
      100% {left: 0px;}
  }

  .blobber .tx {
      animation-name: fade;
      animation-duration: 3s;
      animation-iteration-count: infinite;
  }

  @keyframes fade {
    0% {color: @clr;}
    50% {color: #fff;}
    100% {color: @clr;}
}


@media (min-width:720px) {
    body,
    input,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    option,
    select,
    textarea        
        {
        font-size: 1em;
        }
    button {
            font-size: 1em;
            padding: 0.3em 0.5em;
            margin-top: 0.5em;
            margin-right: 0.5em;

        }    
    
    input[type="file"] {
            font-size: 1em;
        }

    .space {
            line-height: 1.5em;
        }
        
    .formdata {
        button.midbt {
            font-size: 1em;
            line-height: 0.85em;
            height: 1.85em;
            margin-left: 0.1em;
            padding: 0 0.3em 0 0.3;
        } 

        input.midbt {
            height: 1.85em;
        }

    }
    
    .messages {
    
        .date {
            font-size: 0.5em;
            line-height: 0.4em;
            position: relative;
            top:-0.5px;
            
            
        }
     
    }
     

    }