/* You can add global styles to this file, and also import other style files */

@boxw: 29em;
@clr: #f60;
@actvclr: #f00;
@vstclr:#c96;
@mclr:#333;
@bkclr:#fff;
@desktop: ~"only screen and (min-width: 992px)";

html, body {
    min-height: 100vh !important;
    height: 100%;
}

*{box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media screen {
    body,
    input,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    option,
    select,
    textarea
     {
      font-size: 1.5em;
      line-height: 1.1em;
    }

    button {
        font-size: 1em;
        padding: 0.3em 0.5em;
        margin-top: 0.5em;
        margin-right: 0.5em;
        a {
            color: @bkclr;
        }

    }
    
    input[type="file"] {
        font-size: 1.2em;
    
    }

    input[type="checkbox"] {
        width: 1.25em;
        height: 1.25em;
        position: relative;
        top: 0.25em;
    }

    .space {
        line-height: 2.5em;
    }

    h1, h2, h3, h4 {
        font-size: 1.2em;
        margin: 1em 0 0.2em;
    }
    
    
    

  
    
}


body {    
    max-width: 30em;
    width: 100%;
    margin: 0.2em auto 1em auto;
    padding: 0 0.5em;
    position: relative;
    background-color:@bkclr;
    color: @mclr;
}

body.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
}
body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}


p {
    margin: 1px 0;
}

.color{
    color: @clr;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px @vstclr;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

hr {
    border-top: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}


h2 {
    max-width: 80%;
}

button {
    border: 0;
    background-color: @clr;
    color: white;
    font-weight: bold;
    border-radius: 0.1em;
    a{
        text-decoration:none;
    }
    a:visited {
        color: #ddd;
    }
}

button:hover {
    background-color: @clr;
}

a {
    color: @clr;
}


a:active {
    color: #c96;
}


a:visited {
    color: @mclr;
}
a:visited.light-mode {
    color: #ccc;
}
a:visited.dark-mode {
    color: #ccc;
}

.b {
    font-weight: bold;
}

.ls {
margin-left: 2px;
}

nav {
    font-size: 0.8em;
    border-bottom: 2px solid @mclr;
    max-width: calc(100%-4px);
    padding-top: 1.6em;
    display: flex;
    justify-content: flex-start;
    a {
    text-decoration: none;
    border-top: 3px solid @mclr;
    padding-bottom: 4px;
    margin-right: 0.3em;
    margin-top: 0.8em;
    position: relative;
    }
    a:hover {
        border-top: 3px solid @clr;
    }
    img {
        width: 2em;
        position: absolute;
        top: -2.3em;
    }
    img:hover {
        fill: @clr;
    }
}



nav a:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}




label{
    display: block;
    text-align: left;
}

textarea {
    resize: vertical;
    width: 100%;
}

.sitetitle {
    color:@clr;
    font-size: 14px;
    position: relative;
    top:-3px;
}

.logo {
    position: relative;
    left: -10px;
    top:0px;
    
}



.bordered {
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    border-radius: 0 0 0 0;
    margin: 0px;
}

.fullpage {
    height: 100%;
}

.footer {
    font-size: 0.6em;
    height: 1em;
    div {
        display:inline-block;
    }
    .footerinfo {
        position: relative;
        top: -0.5em;
    }
}


.formfield {
    position: relative;
    max-width: calc(100%-4px);
    min-height: calc(~"100% - 14em");
    padding-bottom: 1.5em;
    .bordered();
    .textarea{
        width: 100%;
    }
    input[type="text"], input[type="password"] {
        width: 100%;
    }
    #searchbox1 {
        position: relative;
        right: 0;
        margin-bottom: 5px;
        margin: 0 0.1em 1em 0.1em;
        width: calc(100% - 0.2em);
        background: #fff 98% no-repeat url(./assets/svg/magnifying-glass-solid.svg);
        background-size: 1em 1em;
        border: 1px solid black;}

        input.inl {
            display: inline;
            width: 20px;
            
            position: relative;
            top:2px;
        }

}



.container {
    display:block;
    min-height: 100%;
    justify-content: end;
}


.icon {
    img {
        height: 1.5em;
        position: relative;
        top: 5px;
        margin-right: 0.1em;
    }
}



 .userstatus {
    position: absolute;
    top:0;
    right:1em;
    text-align: right;
    font-size: 0.5em;

    .icon {
        img {
            height: 2.8em; 
            
        }
    }

    button {
        background-color: #666
    }

}

.error {
    color: @clr;
}

.lock.lock img{
    width: 1.8em;
}

.flags {
    margin-top: 1.8em;
    border-bottom: 0;
}

.flags img{
    width: 1.8em;
}

.stname {
    display: inline-block;
    width: 25%;

}



.btn {
    
    width: 6em;
    display: block;
    font-size: 0.6em;
    line-height: 0.7em;
    img {
        display: block;
        height: 3em;
        clear: both;
        margin-bottom: 0.1em;
        
    }

    a {
        text-decoration: none;
        padding-bottom: 4px;

    }

    a:visited {
        color: @mclr;
    }
}

.radioprot {
    background-color: @actvclr;
    display: block;
    color: @bkclr;
    position: absolute;
    right: 20em;
    line-height: 0.8em;
    padding: 0.4em;
    text-align: center;
}

.btn.sent {
    width: 12em;
    position: absolute;
    top:0;
    left: 6em;
   
}

.navicons {
    position: relative;
    padding-top: 0.1em;
}

.topuser {
    position: absolute;
    right: 4em;
    top: 0;
}


.supicons {
    position: absolute;
    top:0.25em;
    right: 0.1em;
    
    img {
        width: 1.5em;
    }
}


.btn:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


.formdata {
    width: calc(100%-80px);
    input {
        width:100%;
        border: 1px solid #888;
        
    }
    label{
        margin-top: 5px;
        display: block;
    }
    input.ckbx {
        width: 60px;

    }
    input.midbt {
        width: 60%; 
        margin-right: 5px;
    }

    button.midbt {
        text-align: left;
        float: right;
        position: relative;
        top:-0.5em;
        padding: 0.35em 0.35em;
        width:36%; 
        font-size: 0.7em;
        line-height: 0.85em;
        height: 2.8em;
        margin-left: 0.1em;
    }

    p {
        margin-bottom: 0.2em;
    }

    input.sbmbtn {
        margin-bottom: 5px;
        background-color: @clr;
        color: @mclr;
    }
    .forgot {
        position: relative;
        height: 0;
    }
    .forgot a {
        position: absolute;
        right: 0px;
        top: -20px;
    }
    .selector {
        display: block;
        margin-top: 10px;
    }
}



#radioconf .fomdata button.midbt {
    margin-bottom: 1em;
}

.selectors {
    form {
        width: 33%;
        display: flex;
        flex-direction: column;
        float: left;
        border-right: 1px solid @mclr  ;
        font-size: 0.8em;
        margin:0.2em;
        height: auto;
        justify-content: space-between;
        position: relative;
        
    }
    .row {
        height: auto;
        display: flex;
        flex-direction: row;

    }
    p {
        margin-bottom: auto;
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    button {
        margin-top: auto;
        margin-bottom: 0.2em;
    }
}



.field {
    border-top: 1px solid @mclr;
    padding: 10px 0 15px;
}

.shut {
    text-align: right;
}

.alert {
    color: red;
}


.multiplist {
    display: block;
    height: calc(100vh - 18em);
    min-height: 5em;  
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
}

.multiplist1 {
    display: block;
    height: calc(100vh - 20em);
    min-height: 5em;  
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
}

.multiplist2 {
    display: block;
    height: calc(100vh - 23em);
    min-height: 5em;  
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
}

.users {
    margin: 0.15em;
}

.multiplist3 {
    display: block;
    min-height: 2em;  
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
}

.logs {
    font-size: 0.6em;
    min-height: 10em;
    height: calc(100vh - 36em);
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
    font-size: 0.5em;
    line-height: 1.2em;
    h3 {
        border-top: 1px solid black;
    }
    img {
        width: 1.5em;
        height: 1.5em;
    }
}


#messagecompose {
    textarea {
        width: 100%;
        resize: none;
        height: 100px;
    }
    p {
        width: 100%;
    }
    
}


.formfield input.searchbox {
    position: relative;
    right: 0;
}



input.searchbox2 {
    position: relative;
    right: 0;
    width: 80%;
}
.selstation, .passprotect {
        display: block;
        border-bottom: 1px solid @mclr;
        padding: 5px 0 10px 0;
        width: 100%;
        position: relative;
        margin: 5px 0;
        select {
            position: absolute;
            right: 0px;
            bottom:5px;
            width: calc(100%-4px);
        }
        input[type=checkbox] {
            position: absolute;
            right: 0px;
            top:15px;
            text-align: right;
            width:25px;
        }
}

#dragNDrop {
    overflow: hidden;
}

#dragNDrop.dragNDrop .div1 {
    width: 100%;
    border: 2px dashed #5c5b5b;
}

.menu {
    min-height: 8.5em;
    height: calc(100vh - 16em);
}

.uploader .btn {
    background-color: @clr;
    color: @mclr;
    padding:2px;
    width: 60%;
    margin: 3px auto;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.uploader .btn:hover {
    color:#fff;
    font-weight: bold;
}

.uploader #default .resetBtn {
    margin-left:auto;}


    .messages {
        div {
            margin: 0.1em;
            position: relative;
            display: block;
        }
        a {text-decoration: none;}
        .date {

            position: absolute;
            color:#555;
            font-size: 0.35em;
            line-height: 0.5em;
            position: relative;
            top:0.25em;
            right: 0;
  
        }
       .ckbx {
        width: 15px;
        }
    }


 #compose {
     .origin {
         display: none;
     }
     .mssgid {
         display: none;
     }
 }   

 button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

.neutral {
    color: #666;
}

.btnicon {
    color:#fff;
    width: 30px;
    filter: invert(100%);

}  

.inlineicon {
    width: 12px;
    filter: invert(27%) brightness(200%) ;
    margin-right: 0.1em;

}

.inlineiconj {
    width: 12px;
    position: relative;
    top:0px;
    margin: 0 2px;
    filter: invert(27%) brightness(200%) ;

}

.inlineiconlink {
    width: 12px;
    margin: 0 5px;
    position: relative;
    top:2px;
    filter: invert(27%) brightness(800%) ;

}

.servericon {
    position: relative;
    top:-2px;
}
  input.ng-invalid {
      border: 1px solid red;
  }

  .overall {
      position: fixed;
      top:0;
      left:0;
      margin:0 auto;
      background-color:#fff;
      height: 100%;
      width: 100%;  
      color: @clr;
      font-weight: bold;
      text-align: center;
      z-index: 10;
      .cv {
          width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  }

  

  .redcircle {
    display: inline-block;
    position: relative;
    top:0.1em;
    background: red;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin: 0;
    z-index: 0;
  }

  .greencircle {
    display: inline-block;
    position: relative;
    top:0.1em;
    background: green;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin: 0;
    z-index: 0;
  }


  .blobber {
      width: calc(100% - 1em);
      height:50px;
      position: relative;
  }

  .blobber .square {
      width: 0.6em;
      height: 0.6em;
      border-radius: 50%;
      background-color: @clr;
      position: absolute;
      animation-name: blobber;
      animation-duration: 6s;
      animation-iteration-count: infinite;
  }

 .help {
     h2, h3, p {
         margin-top: 1em;
     }

     li {
         margin: 0;         
         padding: 0;
     }

 } 

 .messageImg {
     max-width: 100%;
     height: auto;
     border: 1px solid black;
 }

 .messageAudio {
     width: 100%;
 }

  @keyframes blobber {
      0% {left: 0px;}
      50% {left: 100%;}
      100% {left: 0px;}
  }

  .blobber .tx {
      animation-name: fade;
      animation-duration: 3s;
      animation-iteration-count: infinite;
  }

  @keyframes fade {
    0% {color: @clr;}
    50% {color: #fff;}
    100% {color: @clr;}
}


@media (min-width:720px) {
    body,
    input,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    option,
    select,
    textarea        
        {
        font-size: 1em;
        }
    button {
            font-size: 1em;
            padding: 0.3em 0.5em;
            margin-top: 0.5em;
            margin-right: 0.5em;

        }    
    
    input[type="file"] {
            font-size: 1em;
        }

    .space {
            line-height: 1.5em;
        }
        
    .formdata {
        button.midbt {
            font-size: 1em;
            line-height: 0.85em;
            height: 1.85em;
            margin-left: 0.1em;
            padding: 0 0.3em 0 0.3;
        } 

        input.midbt {
            height: 1.85em;
        }

    }
    
    .messages {
    
        .date {
            font-size: 0.5em;
            line-height: 0.4em;
            position: relative;
            top:-0.5px;
            
     
        }

        .size {
            line-height: 1em;
        }
     
    }
     

    }

    .dr {
        display: inline-block;
        width: 2em;
        height: 2em;
        overflow: hidden;
        outline: 1px solid #333;
        margin-right: 0.5em;
        
        .drb {
            display: block;
            border-top: 2em solid black;
            border-right: 2em solid white;
        }
    }


    .dark-mode {
        a:visited {
            color: #ccc;
        }

        hr {
            border-top: 1px solid #fff;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
        }

        .supicons img, nav img, .btn img, .icon img{
            filter: invert(100%);
        }

        .selstation, .passprotect {
            border-bottom: 1px solid #fff;
        }

        nav {
            border-bottom: 1px solid #fff;
            .flag img {
                filter: invert(0);
            }
        }
        
        



        .formfield {
            border-bottom: 1px solid #fff;
        }

        nav a {
            border-top: 3px solid #ccc;
        }
        
        nav a:hover{
            filter: invert(27%) sepia(51%) saturate(3078%) hue-rotate(330deg) brightness(110%) contrast(100%);
        }

        .dr {
            display: inline-block;
            width: 2em;
            height: 2em;
            
            .drb {
                display: block;
                border-top: 2em solid white;
                border-right: 2em solid #333;
            }
        }

        .messages .date {
            color: #999;
        }

        audio {
            filter: invert(100%);
        }

        .logo {
            filter: brightness(200%);
        }

        .overall {
            background-color: #333;
        }

        .bordered {
            border-bottom: 1px solid #fff;
        }

    }

    .maintitle {
        margin-top: 1.2em;
    }

    .formfield input.beforelist {
        display: inline;
        width: 1em;
    }

    .formfield input.afterlist {
        display: inline;
        width: 1em;
        position: relative;
        top: 0em;
    }

    .itemlist {
        border-bottom: 1px solid #000;
    }




    input[type=range] {
        height: 1.5em;
        -webkit-appearance: none;
      }
      
  
      
      /*webkit*/
      input[type=range]::-webkit-slider-thumb {
        width: 0.2em;
        height: 1.5em;
        border-radius: 0;
        background: #000000;
        border: none;
        box-shadow: none;

        -webkit-appearance: none;
      }
      
      input[type=range]::-webkit-slider-runnable-track {
        height: 1.5em;
        border-radius: 0;
        background: #fff;
        border: 1px solid #b2b2b2;
        box-shadow: none;
      }
      input[type=range]::-webkit-slider-thumb:hover {
        background: #0061c3;
      }
      
      input[type=range]:hover::-webkit-slider-runnable-track {
        background: #fff;
        border-color: #000;
      }
      
      input[type=range]::-webkit-slider-thumb:active {
        background: #2f98f9;
      }
      
      input[type=range]:active::-webkit-slider-runnable-track {
        background: #fff;
        border-color: #000;
      }
      

      
      /*mozilla*/
      input[type=range]::-moz-range-thumb {
        width: 0.2em;
        height: 1.5em;
        border-radius: 0;
        background: #000000;
        border: none;
        box-shadow: none;
      }
      
      input[type=range]::-moz-range-track {
        height: 1.5em;
        border-radius: 0;
        background: #fff;
        border: 1px solid #b2b2b2;
        box-shadow: none;
      }
      
      input[type=range]::-moz-range-thumb:hover {
        background: #0061c3;
      }
      
      input[type=range]:hover::-moz-range-track {
        background: #fff;
        border-color: #000;
      }
      
      input[type=range]:-moz-range-thumb:active {
        background: #2f98f9;
      }
      
      input[type=range]:active::-moz-range-track {
        background: #fff;
        border-color: #000;
      }
      

      
      /*ms*/
      input[type=range].styled-slider::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
      }
      
      input[type=range].styled-slider::-ms-fill-lower {
        background: transparent;
        border-color: transparent;
      }
      
      input[type=range].styled-slider::-ms-thumb {
        width: 0.2em;
        height: 1.5em;
        border-radius: 0;
        background: #000000;
        border: none;
        box-shadow: none;
        margin-top: 0;
        box-sizing: border-box;
      }
      
      input[type=range]::-ms-track {
        height: 1.5em;
        border-radius: 0;
        background: #fff;
        border: 1px solid #b2b2b2;
        box-shadow: none;
        box-sizing: border-box;
      }
      
      input[type=range]::-ms-thumb:hover {
        background: #0061c3;
      }
      
      input[type=range]:hover::-ms-track {
        background: #fff;
        border-color: #000;
      }
      
 
      
      
#selmult {
    border-radius: 0;
    border: 1px solid black;
    min-height: 2.25em;
    line-height: 1.75em;
    .ng-option-selected {
        background-color: #eee;
    }
} 

.ng-select .ng-arrow-wrapper {
    width: 1em;
    height: 0;
    border-right: 1em solid @mclr;
    border-bottom: 1em solid white;
}

.dark-mode {
    .ng-select .ng-arrow-wrapper {
        border-bottom: 1em solid @mclr;
        border-right: 1em solid white;
    }

    .ng-option {
        color: @bkclr;
    }

    .ng-option-selected {
        background-color: #666;
        color: @mclr;
    }

    .ng-dropdown-panel {
        background-color: @mclr;
    }

    .ng-value {
        color: @mclr;
    }

}

.ng-dropdown-panel {
    background-color: #fff;
    border: 1px solid @mclr;
    
}

.ng-option {
    padding: 0 0.25em;
    position: relative;
    overflow: visible;
}

.ng-select input[type="checkbox"] {
    top: -0;
    height: 1em;
    width: 1em;
}


.ng-value {
    border: 1px soldi @mclr;
    background-color: #eee;
    padding: 0.25em;
    margin: 0.25em;
    line-height: 1em;
    .ng-value-icon {
        margin: 0 0.25em;

    }
}