/* You can add global styles to this file, and also import other style files */

@boxw: 350px;
@clr: #f60;
@actvclr: #f00;
@vstclr:#c96;
@mclr:#000;

*{box-sizing: border-box;}

body {
    max-width: 380px;
    margin: 20px auto 0 auto;
    padding: 0 30px;
    position: relative;
}

p {
    margin: 1px 0;
}

button {
    border: 0;
    background-color: #000;
    color: white;
    font-weight: bold;
    padding: 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-top: 4px;
    a{
        text-decoration:none;
    }
    a:visited {
        color: #ddd;
    }
}

button:hover {
    background-color: @clr;
}

a {
    color: @clr;
}

a:active {
    color: @actvclr;
}

a:visited {
    color: @mclr;
}



nav {
    border-bottom: 2px solid #000;
    max-width: @boxw;
    padding-top: 35px;
    a {
        text-decoration: none;
    border-top: 3px solid #000;
    padding-bottom: 4px;
    margin-right: 15px;
        position: relative;
    }
    a:hover {
        border-top: 3px solid @clr;
    }
    img {
        width: 30px;
        position: absolute;
        top: -35px;
    }
    img:hover {
        fill: @clr;
    }
}


nav a:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


h2 {
    font-size: 18px;
}

label{
    display: block;
    text-align: left;
}

textarea {
    resize: vertical;
    width: 100%;
}

.sitetitle {
    color:@clr;
    font-size: 20px;
}

.logo {
    position: relative;
    left: -25px;
}

.bordered {
    border: 1px solid black;
    padding: 20px;
    border-radius: 0 0 0 0;
    margin: 0px;
}



.formfield {
    max-width: @boxw;
    .bordered();
    .textarea{
        width: 100%;
    }
    position: relative;
}


.icon {
    img {
        width: 25px;
        position: relative;
        top: 5px;
        margin-right: 5px;
    }
}

.lock.lock img{
    width: 20px;
}

.flags {
    margin-top: 25px;
    border-bottom: 0;
}

.flags img{
    width: 30px;
}

.btn {
    margin-top: 15px;
    width: 30px;
    display: block;
    img {
        display: block;
        width: 30px;
        clear: both;
        margin-bottom: 8px;
    }

    a {
        text-decoration: none;
        border-top: 3px solid #000;
        padding-bottom: 4px;
        
    }

    a:visited {
        color: @mclr;
    }
}

.btn:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


.formdata {
    width: calc(100%-80px);
    input {
        width:100%;
        border: 1px solid #888;
    }
    label{
        margin-top: 5px;
        display: box;
    }
    input.ckbx {
        width: 60px;

    }
    input.sbmbtn {
        margin-bottom: 5px;
        background-color: @clr;
        color: @mclr;
    }
    .forgot {
        position: relative;
        height: 0;
    }
    .forgot a {
        position: absolute;
        right: 0px;
        top: -20px;
    }
}

.multiplist {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #888;
    list-style: none;
    list-style-position: inside;
}

#messagecompose {
    textarea {
        width: 100%;
        resize: none;
        height: 100px;
    }
    p {
        width: 100%;
    }
    
}

.selstation, .passprotect {
        display: block;
        border-bottom: 1px solid @mclr;
        padding: 5px 0 10px 0;
        width: 100%;
        position: relative;
        margin: 5px 0;
        select {
            position: absolute;
            right: 0px;
            bottom:5px;
            width: 100%;
        }
        input[type=checkbox] {
            position: absolute;
            right: 0px;
            top:15px;
            text-align: right;
            width:25px;
        }
}

#dragNDrop {
    overflow: hidden;
}

#dragNDrop.dragNDrop .div1 {
    width: 100%;
    border: 2px dashed #5c5b5b;
}

.uploader .btn {
    background-color: @clr;
    color: @mclr;
    padding:2px;
    width: 60%;
    margin: 3px auto;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.uploader .btn:hover {
    color:#fff;
    font-weight: bold;
}

.uploader #default .resetBtn {
    margin-left:auto;}


    .messages {
        p {
            margin: 1px;
        }
        .date {
            color:#555
        }
    }


 #compose {
     .origin {
         display: none;
     }
     .mssgid {
         display: none;
     }
 }   

 button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }


.btnicon {
    color:#fff;
    width: 30px;
    filter: invert(100%);

}  
  input.ng-invalid {
      border: 1px solid red;
  }

  .overall {
      position: fixed;
      top:0;
      left:0;
      margin:0 auto;
      background-color:#fff;
      height: 100%;
      width: 100%;  
      color: @clr;
      font-weight: bold;
      text-align: center;
      .cv {
          width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  }

  .userstatus {
      position: absolute;
      top:5px;
      right:27px;
      text-align: right;
      font-size: 10px;
      button {
          background-color: #666
      }
  }