body.ar nav .nav-domain,
nav .nav-frequency,
nav .nav-operation-mode {
    right: 88%;
}

body.ar nav img {
    left: 20px;
}

body.ar .formfield #searchbox1 {
    background: #fff 3% no-repeat url(../svg/magnifying-glass-solid.svg);
    background-size: 30px;
}

body.ar .rotated-svg {
    transform: rotate(180deg);
    transform-origin: center center;
}

body.ar .float {
    position: fixed;
    left: 15px;
}

body.ar .float .floatbutton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.ar label {
    text-align: right;
}

body.ar .formdata button.midbt {
    text-align: right;
}

body.ar button {
    margin-right: 15px;
}

body.ar nav .burguer {
    padding-left: 20px;
}

.formfield {
    margin-right: 12.5%;
}


//sbtix v2
@media (max-width: 1300px) {

    body.ar .fullpage {
        padding-bottom: 200px;
        margin-bottom: 200px;
    }

    body.ar nav .nav-domain,
    body.ar nav .nav-frequency,
    body.ar nav .nav-operation-mode {
        right: 77%;
    }

    body.ar body.ar nav img {
        width: 1.8em;
    }

    body.ar body.ar .logo {
        width: 160px;
    }

    body.ar .card {
        width: 13.5em;
    }

    body.ar .shut button.midbt {
        width: 14.5em;
    }

    body.ar .formfield {
        margin-left: 0%;
        margin-right: 0.5%;
        padding-bottom: 150px;
    }

    .email a .card {
        min-width: 6em;
    }

    body.ar .formdata button.midbt {
        font-size: 1em;
    }
}
@media (max-width: 900px) {

    body.ar nav .nav-domain, body.ar nav .nav-frequency, body.ar nav .nav-operation-mode {
        right: 54%;
    }
}

@media (max-width: 700px) {
    body.ar .flexible .card {
        margin-left: .6vw;
        width: 45vw;
    }

    body.ar .shut button.midbt {
        width: 9.5em;
        margin-left: 15px;
    }

    body.ar .radio form {
        font-size: 1rem;
        width: 98%;
    }

    body.ar nav .nav-domain,
    body.ar nav .nav-frequency,
    body.ar nav .nav-operation-mode {
        right: 45%;
    }

    // body.ar nav .burguer {
    //     padding-left: 0px;
    // }

    body.ar .userlist .uemail {
        padding-right: 0.7em;
    }

    body.ar .formdata button.midbt {
        font-size: 1.4em;
        width: 33%;
    }
}