
@boxw: 29em;

body.ar nav .nav-domain,
nav .nav-frequency,
nav .nav-operation-mode {
    right: 75%;
}

body.ar nav img {
    width: 1.8em;
    left: 20px;
}

body.ar .logo {
    width: 160px;
}

button{
    margin-right: 15px;
}


@media (max-width: 1300px) {
    .card {
        width: 16.8em;
    }
    .shut button.midbt {
        width: 18.5em;
    }
}