<loading [loading]="loading"></loading>
<div class="radiophony">
  <div class="row">
    <span class="fullfrequency">{{frequency}} kHz</span>
    <!-- <h1 class=""><a>Radiophony</a></h1> -->
  </div>
  <div class="row m-t-25">
    <span>LSB</span>
    <div class="switch">
      <input type="checkbox" name="mode" [checked]="mode  == 'lsb'" />
      <span class="slider round-uc" (click)="changeMode()"></span>
    </div>
    <span>USB</span>
  </div>

</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@errorcustomerror">There was an error on precessing your request <br /><br /></span>
    <span>{{error}}</span>
    <div class="icon"><a (click)="closeError()">
        <img title="close" src="assets/svg/x.svg"></a>
    </div>
  </div>
</div>