<loading [loading]="loading"></loading>
<div class="radiophony">
  <span class="fullfrequency">{{frequency}} kHz</span>
  <h1 class=""><a>Radiophony</a></h1>
</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@errorcustomerror">There was an error on precessing your request <br /><br /></span>
    <span>{{error}}</span>
    <div class="icon"><a (click)="closeError()">
        <img title="close" src="assets/svg/x.svg"></a>
    </div>
  </div>
</div>