<loading [loading]="loading"></loading>
<div class="flexible m-b-25">
  <h2 i18n="@@admmanage">Users</h2>
  <hint [showHint]="false" [hint]="'usermanagement'"></hint>
</div>
<div class="row">
  <button class="m-l-10" i18n="@@createadm"  routerLink="/user-manage">create user</button>
</div>
<div id="userlist" class="multiplist2 users m-t-10" *ngIf="currentUser">
  <input id="searchbox1" [(ngModel)]="searchUser" placeholder="search" />
  <div class="adm">
    <div class="userlist" *ngFor="let user of users | filter:searchUser;">
      <a routerLink="/user-manage/{{user.id}}">
        <span *ngIf="user.admin" class="alert">
          <img class="inlineicon" title="admin" src="assets/svg/account-star.svg">
        </span>
        <div class="uemail">{{user.email}}</div>
        <div class="uname">{{user.name}}</div>
      </a>
    </div>
  </div>

</div>
<div class="overall alert" [hidden]="errorAlert==false">
  <div class="cv">
    <span i18n="@@usererror">There was an error loading users</span>
    <button class="m-t-10" (click)="errorAlert = false" i18n="@@closeerrorbutton">
      close
    </button>
  </div>
</div>