<div class="container sysadm home">
    <div class="flexible">
        <h1 i18n="@@operatorpanel">Operator Panel</h1>
        <hint [showHint]="false" [hint]="'operatorpanel'"></hint>
    </div>
    <div class="row m-t-10">
        <div class="row" *ngIf="radio.connection">
            <div class="alertcard flexible">
                <span class="greencircle"></span>
                <b class="m-l-10" i18n="@@operatortransmissionstatuslabel">
                    Radio connected - Data/Voice connection on going...
                </b>
            </div>
        </div>
        <div class="operator-panel">
            <div class="data">
                <div class="data-title">
                    {{radio.profile == 0 ? 'Data' : 'Voice'}} <span i18n="@@frequency">Frequency</span>
                </div>
                <div class="data-body">
                    <div *ngIf="radio.profile == 0">
                        <span>{{radio.p0_freq}}</span>
                        <br />
                        <span>{{radio.p0_mode}}</span>
                    </div>

                    <div *ngIf="radio.profile == 1">
                        <span>{{radio.p1_freq}}</span>
                        <br />
                        <span>{{radio.p1_mode}}</span>
                    </div>
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@swr">
                    Standing Wave Ratio (SWR)
                </div>
                <div class="data-body">
                    {{radio.swr}}
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@power">
                    Power
                </div>
                <div class="data-body">
                    {{radio.fwd_watts}} W
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@protection">
                    Protection
                </div>
                <div class="data-body">
                    <span class="redcircle" *ngIf="radio.protection"></span>
                    <span class="greencircle" *ngIf="!radio.protection"></span>
                    {{radio.protection ? 'ON' : 'OFF'}}
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@transmissionstatus">
                    Transmission Status
                </div>
                <div class="data-body">
                    <div *ngIf="radio.tx"> TX </div>
                    <div *ngIf="radio.rx"> RX </div>
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@modemstatus">
                    Modem Status
                </div>
                <div class="data-body">
                    <span class="greencircle"></span>
                    Connected
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@transmissionlist">
                    Transmission List
                </div>
                <div class="data-body">
                    {{queueSize}} message(s) waiting
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@pendingtransmission">
                    Pending Transmission
                </div>
                <div class="data-body">
                    {{queueSizeB}} bytes
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@sucessfultransmission">
                    Successful Transmission
                </div>
                <div class="data-body">
                    10500 bytes
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@retransmissioncount">
                    Re-transmissions count
                </div>
                <div class="data-body">
                    15
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@scheduledtransmission">
                    Scheduled transmission
                </div>
                <div class="data-body">
                    <span class="redcircle" *ngIf="!activeSchedule"></span>
                    <span class="greencircle" *ngIf="activeSchedule"></span>
                    {{activeSchedule ? 'Active' : 'Inactive'}}
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@gpsstatus">
                    GPS Status
                </div>
                <div class="data-body">
                    <span class="redcircle" *ngIf="!gpsStatus"></span>
                    <span class="greencircle" *ngIf="gpsStatus"></span>
                    {{gpsStatus ? 'Active' : 'Inactive'}}
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@remotedevices">
                    Remote Devices
                </div>
                <div class="data-body">
                    4 device(s) connected
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@localstorage">
                    Local Storage
                </div>
                <div class="data-body">
                    {{diskSpace}} GB free
                </div>
            </div>
            <div class="data"></div>
            <div class="data"></div>
            <div class="data-graph">
                <div class="data-title" i18n="@@bitrate">
                    Bitrate 
                </div>
                <div class="data-body">
                    <div class="row">
                        213 bps
                    </div>
                    <div id="bitrateChart" style=" width: 100%; height: 350px;"></div>
                </div>
            </div>
            <div class="data-graph">
                <div class="data-title" i18n="@@bitrate">
                    Signal-to-noise ratio (SNR)
                </div>
                <div class="data-body">
                    <div class="row">
                        1.2 dB
                    </div>
                    <div id="snrChart" style=" width: 100%; height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>