<div class="container sysadm home">
    <div class="flexible">
        <h1 i18n="@@operatorpanel">Operator Panel</h1>
        <hint [showHint]="false" [hint]="'operatorpanel'"></hint>
    </div>
    <div class="row m-t-10">
        <div class="row">
            <div class="alertcard flexible">
                <span class="greencircle"></span>
                <b class="m-l-10" i18n="@@operatortransmissionstatuslabel">
                    Radio connected - Data/Voice connection on going...
                </b>
            </div>
        </div>
        <div class="operator-panel">
            <div class="data">
                <div class="data-title" i18n="@@frequency">
                    Data Frequency
                </div>
                <div class="data-body">
                    7.050.000 kHz
                    <br />
                    USB
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@swr">
                    Standing Wave Ratio (SWR)
                </div>
                <div class="data-body">
                    2.0
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@power">
                    Power
                </div>
                <div class="data-body">
                    19.5 W
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@protection">
                    Protection
                </div>
                <div class="data-body">
                    <span class="greencircle"></span>
                    OFF
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@transmissionstatus">
                    Transmission Status
                </div>
                <div class="data-body">
                    TX
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@modemstatus">
                    Modem Status
                </div>
                <div class="data-body">
                    <span class="greencircle"></span>
                    Connected
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@snr">
                    Signal-to-noise ratio (SNR)
                </div>
                <div class="data-body">
                    1.2 dB
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@bitrate">
                    Bitrate
                </div>
                <div class="data-body">
                    213 bps
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@transmissionlist">
                    Transmission List
                </div>
                <div class="data-body">
                    4 message(s) waiting
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@pendingtransmission">
                    Pending Transmission
                </div>
                <div class="data-body">
                    560 bytes
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@sucessfultransmission">
                    Successful Transmission
                </div>
                <div class="data-body">
                    10500 bytes
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@retransmissioncount">
                    Re-transmissions count
                </div>
                <div class="data-body">
                    15
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@scheduledtransmission">
                    Scheduled transmission
                </div>
                <div class="data-body">
                    <span class="greencircle"></span>
                    Active
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@gpsstatus">
                    GPS Status
                </div>
                <div class="data-body">
                    <span class="greencircle"></span>
                    Connected
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@remotedevices">
                    Remote Devices
                </div>
                <div class="data-body">
                    4 device(s) connected
                </div>
            </div>
            <div class="data">
                <div class="data-title" i18n="@@localstorage">
                    Local Storage
                </div>
                <div class="data-body">
                    45.5 GB free
                </div>
            </div>
        </div>
    </div>
</div>