<div class="overall">
    <div class="cv">
        <div class="flags m-t-25">
            <a class="flag" routerLink="" (click)="setLanguage('en-US')">
                <p>English</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('es')">
                <p>Español</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('fr')">
                <p>Français</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('pt')">
                <p>Português</p>
            </a>
            <!-- <a class="flag" routerLink="" (click)="setLanguage('sag')">
                <p>Sango</p>
            </a> -->
        </div>
    </div>
</div>