<div class="overall">
    <div class="cv">
        <div class="flags">
            <a class="flag" routerLink="" (click)="setLanguage('en-US')">
                <img src="assets/svg/reino-unido.svg">
                <p>English</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('es')">
                <img src="assets/svg/espanha.svg">
                <p>Español</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('fr')">
                <img src="assets/svg/france.svg">
                <p>Français</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('pt')">
                <img src="assets/svg/brasil.svg">
                <p>Português</p>
            </a>
            <a class="flag" routerLink="" (click)="setLanguage('yy')">
                <img src="assets/svg/reino-unido.svg">
                <p>YY</p>
            </a>
        </div>
    </div>
</div>